[2020-11-16 14:03] jpiesing opened #1 "start-up-delay-should-be-sufficiently-low.js uses HTML5 "playing" event but that's not what it seems"
Looking in dpctf-tests/subtests/start-up-delay-should-be-sufficiently-low.js, I noticed that this sets a listener for the HTML5 "playing" event. It has been pointed out by Vewd that this event doesn't actually mean video is being presented and audio is audible. It just means those conditions will happen soon. As I understand it, this event is generated by the browser relating to changes in readySt

[2020-11-16 16:38] louaybassbouss commented on #1
@jpiesing exactly this is the case we cannot rely on the HTML Video events and we need to make sure via observation Framework that the video is playing and audio is audible. The subtests folder is currently used for internal testing and is currently not bound to any test. We used it to test the report generation process with some programmatic observations. @FritzHeiden  We will add a README.md fil

[2020-11-17 09:33] FritzHeiden commented on #1
I pushed a disclaimer README.md to the [subtests](https://github.com/cta-wave/dpctf-tests/tree/master/subtests) directory

[2020-11-17 09:36] louaybassbouss commented on #1
thanks @FritzHeiden. @jpiesing if you are happy with this solution feel free to close this issue.

[2020-11-17 09:38] #1 closed

[2020-11-17 09:38] jpiesing commented on #1
That's clearer, thank you.

[2020-11-30 14:02] jpiesing opened #2 "how many tests.json file & how does the observation framework find them?"
Redme.md says;

How many tests.json files will there be?
- One per media profile?
- One per set of tests which may (or may not) be the same as a media profile?
- Potentially more than one per media profile depending on when the tests were generated?
- One for each release of the WAVE test suite?

One one hand keeping the number of tests.json files down keeps things simple.
On the other hand, if so

[2020-11-30 14:09] louaybassbouss commented on #2
@jpiesing there is only one `tests.json` file which will be auto-generated from the input csv file. It can be seen as a lookup table to get tests information from the MD5 hash (test ID).
Do you mean by "...if someone wants to add their own tests..." is to update the csv file. In this case, the test generator script needs to be executed and a new tests.json will be generated.

[2020-11-30 14:12] jpiesing commented on #2
@louaybassbouss But if each WAVE media profile has its own input.csv file?

[2020-11-30 14:25] jpiesing opened #3 "terminology - test = html+js or html+js+media?"
The proposal for the tests.json file is inconsistent in how it uses "test".
It uses "tests" (plural) to refer to each combination of HTML+JS+media - which I think is correct.
Is uses "test" singular to refer to HTML+JS without media.

Perhaps you could consider changing the following;

      "test": "Folder1/fullscreen-playback-of-switching-sets-manual_ToS_MultiRate_fragmented.html"

to

      "co

[2020-11-30 14:28] jpiesing opened #4 "any benefit from encoding the test identifier (HTML+JS excluding media file) in the QR code?"
This is not a strong objection to the proposal in Readme.me, just a partial counter-proposal so we have some debate.

The observations needed for a particular combination of HTML+JS+media depend on the HTML+JS and not on the media.

The number of different sets of HTML+JS (without media) is small enough (<16 currently) that an encoded version of it could be encoded directly in the QR code. It coul

[2020-11-30 14:53] louaybassbouss commented on #2
@jpiesing  you can define multiple media profiles in a single csv file by specifying a folder name for each media profile (see [sample.csv](https://github.com/cta-wave/dpctf-tests/blob/master/sample.csv)). You can later select one or multiple folders (media profiles) in the configuration UI of the test session.

[2020-11-30 14:55] louaybassbouss commented on #3
@jpiesing  yes completely agree we should use `code` instead `test`

[2020-11-30 14:56] jpiesing commented on #2
My mental model was that each media profile would have its own .csv file.

[2020-11-30 15:22] louaybassbouss commented on #2
Our proposal was to have a single csv file but we are open to split to multiple csv files if needed. lets take a decision during the call later.

[2020-11-30 15:30] jpiesing commented on #2
Whether there's one or more than tests.json, the observation framework needs to find it (or them).

[2020-11-30 15:41] louaybassbouss commented on #2
Exactly the `tests.json` file will be served via test runner http server `http://ip:port/path/to/tests.json` and can be accessed by the observation framework on-the-fly.

[2020-11-30 15:46] yanj-github commented on #2
Regardless of tests.json numbers observation framework needs to find them if there is a way to reference them or find them all. Maybe we can search all .json files from the "generated" folder. Test Runner server and Observation frame work can be co-located or observation framework can be made to check out shared folder "generated".

[2020-11-30 15:53] louaybassbouss commented on #2
@yanj-github you can find an example of the [tests.json](https://github.com/cta-wave/dpctf-tests/blob/master/generated/tests.json) in the [generated](https://github.com/cta-wave/dpctf-tests/blob/master/generated) folder

[2020-11-30 16:20] jpiesing opened #5 "directory name in the generated folder"
It was agreed in the November 30th test runner call that the directory name in the generated folder would not be the MD5 hash but would be the concatenation of the code filename, the video filename & the audio filename. The tool that processes the .csv file and generates tests.json can check for uniqueness & append a "-1" or "-2" if any combination would not be unique in the scope of a single run.

[2020-11-30 16:47] jpiesing commented on #4
Proposal was discussed in the November 30th test runner call and is withdrawn.

[2020-11-30 16:47] #4 closed

[2020-11-30 16:49] jpiesing commented on #2
Proposal was discussed in the November 30th test runner call. It was agreed that there would be one tests.json file but that there may be multiple tests.csv files as input from the media profile proponents. A new issue will be created for the latter.

[2020-11-30 16:49] #2 closed

[2020-11-30 16:50] jpiesing commented on #3
This was agreed in the November 30th test runner call.
@louaybassbouss Please close this issue here when you've finished implementation & tested it.

[2020-11-30 16:50] jpiesing commented on #5
@louaybassbouss Please close this issue when it's implemented and tested.

[2020-11-30 17:04] louaybassbouss commented on #5
@FritzHeiden we decided in todays call to use human-readable names for the generated files. Example:

For the following generated test

[code]
use filename `fullscreen-playback-of-switching-sets-manual-ToS_MultiRate_fragmented-ToS_HEAACv2_fragmented.html` instead of `a83623b5d253a8e3e44954144e64f3d4.html`. If there are file name conflicts in the same folder you can add a number to the filenames e.

[2020-12-01 09:00] louaybassbouss commented on #3
@jpiesing  now it is fixed in the test generator script. This [tests.json](https://github.com/cta-wave/dpctf-tests/blob/master/generated/tests.json) file provides an example. I will close this issue

[2020-12-01 09:00] #3 closed

[2020-12-08 15:44] FritzHeiden commented on #5
@jpiesing I pushed the discussed changes. 6731bc939455cf77d63806787e4b137d1d0f4c92

[2020-12-08 16:04] louaybassbouss commented on #5
Thanks @FritzHeiden LGTM

[2020-12-08 16:04] #5 closed

[2020-12-11 09:12] louaybassbouss opened #6 "Complete Configuration File"
We agreed to put all test configurations (both, test runner and observation configurations) in a single [test-config.json](https://github.com/cta-wave/dpctf-tests/blob/master/test-config.json) file. TODO:

* Fraunhofer to provide all test runner configurations in  [test-config.json]
* Eurofins to provide all observation configurations in  [test-config.json]

[2020-12-11 09:21] louaybassbouss opened #7 "Provide initial CSV file and generate tests"
This [sample.csv](https://github.com/cta-wave/dpctf-tests/blob/master/sample.csv) contains an example (dummy data) input CSV file for generation. Now is time to provide a CSV file with real data to generate tests and check the end-to-end workflow. @jpiesing do you think this is something that you can provide (of course with our support).

[2020-12-11 09:24] louaybassbouss opened #8 "Implement endpoint to submit test results"
We agreed to provide a REST API (`POST /api/results/<session_token>/json`) that can be used by the observation script to submit test results to the Test Runner. @FritzHeiden is this endpoint now available? if not, the next step is to implement it.

[2020-12-11 09:32] louaybassbouss opened #9 "Download and serve media content locally (in local network)"
We agreed few months ago, that the media content should be downloaded and served locally to avoid network latency and other issues that may affect the tests. We need to implement a script that download the media content and serve it locally via HTTP (with proper configuration e.g. CORS, etc.). The script can be executed when while starting the docker container and if content is missing, it will fi

[2020-12-11 09:59] jpiesing commented on #7
Hopefully we could generate a .csv file from this https://docs.google.com/spreadsheets/d/1hxbqBdJEEdVIDEkpjZ8f5kvbat_9VGxwFP77AXA_0Ao/edit?usp=sharing

We don't yet have the test streams though - at least not all of them.
Also some of them may be generated from the wrong mezzanine.

[2020-12-11 10:42] louaybassbouss commented on #7
Thanks @jpiesing. As first step we can consider one media profile (for which the media content is available/will be available soon).

[2020-12-11 10:46] jpiesing commented on #7
Test content exists for AVC but probably needs some re-working. Some of that re-working may need new mezzanine content.

[2020-12-15 14:32] FritzHeiden commented on #9
Here a possible workflow to approach this:

1. Execute script to download the content to a local directory
2. Add the directory to the `docker-compose.yml` to map it into the container
3. Run or restart the container for the changes to take effect
4. When updating to a newer image, leaving the `docker-compose.yml` as it is still integrates the content, no redownloading needed

A requirement for th

[2020-12-15 16:07] FritzHeiden commented on #8
The feature is now implemented and available [here](https://github.com/cta-wave/dpctf-test-runner/tree/feature-results-upload)

Documentation was also added [here](https://github.com/cta-wave/dpctf-test-runner/blob/feature-results-upload/tools/wave/docs/rest-api/results-api/import.md#2-import-api-results)

It will be merged into master as soon as all testing is finished.

[2020-12-15 16:27] louaybassbouss commented on #6
- [ ] Add documentation page for the config parameters (description, value range, etc...)

[2020-12-15 19:41] jpiesing commented on #7
@louaybassbouss Does this https://github.com/cta-wave/Test-Content-Generation/issues/20#issuecomment-745470020 give you enough to make a real sample CSV file yourselves or is there something left for @nicholas-fr and myself still to do?

[2020-12-16 07:39] louaybassbouss commented on #7
Thanks @jpiesing  yes I will provide a first version of the CSV file based on the information in the comment. I will let you know if I have questions.

[2020-12-16 07:49] louaybassbouss commented on #9
@FritzHeiden FYI:
- Each single test content will be provided as Zip file -> see issue [cta-wave/Test-Content-Generation#19](https://github.com/cta-wave/Test-Content-Generation/issues/19)
- Available test content is listed in single file which will be the entry point for the download script -> see issue [cta-wave/Test-Content-Generation#20](https://github.com/cta-wave/Test-Content-Generation/issue

[2020-12-16 15:53] FritzHeiden commented on #8
Testing is finished. The feature is now merged into the [DPCTF Test Runners master branch](https://github.com/cta-wave/dpctf-test-runner)

[2020-12-16 16:30] yanj-github opened #10 "The current state of the video element not visible on the full screen playback"
From the link https://github.com/cta-wave/dpctf-tests/tree/master/video-evaluation it states that another QR code with information such as current state of the video element on the test page under the video playback.
However, this will not be visible when the playback is full screen.

[2020-12-16 16:46] louaybassbouss commented on #8
Thanks @FritzHeiden I will close this issue

[2020-12-16 16:46] #8 closed

[2020-12-16 17:31] jpiesing commented on #10
A search for "full screen api z order" yielded a number of results that include work-arounds.

https://stackoverflow.com/questions/18578244/displaying-elements-other-than-fullscreen-element-html5-fullscreen-api

https://stackoverflow.com/questions/45798213/firefox-fullscreen-video-append-dom-elements

https://stackoverflow.com/questions/16234740/overlay-on-html5-fullscreen-video

[2020-12-17 09:41] louaybassbouss commented on #10
@jpiesing the screenshot in this page https://github.com/cta-wave/dpctf-tests/tree/master/video-evaluation is not final. We can configure the position and size of the QR code. As I remember from previous discussion, there is a placeholder in the video where we can place the QR code on top of it.

Regarding the fullscreen playback, yes we should try the work-arounds you provided. Maybe in environme

[2020-12-17 09:47] jpiesing commented on #10
@louaybassbouss Only one test requires full screen playback in the sense of the W3C Fullscreen API - 8.11. The others can run in a window or indeed a window that happens to be the full size of the browser graphics plane.
@nicholas-fr Can confirm the details about the space left for the QR codes from the application but I believe it's the area to the right of the QR codes burnt into the video.

[2020-12-17 09:52] louaybassbouss commented on #10
Thanks @jpiesing agree then we will need to implement the work-arounds for this specific test.

[2020-12-17 11:34] jpiesing commented on #10
If the display is 16:9 then your CSS snippet looks OK but what if the display isn't 16:9?

The requirement in the Device Playback spec is written in terms of a "video output window". There's an editorial issue (see https://github.com/cta-wave/device-playback-task-force/issues/63) so you need to look carefully to find how this is defined but it turns out that, for most tests, the video output windo

[2020-12-17 13:48] louaybassbouss commented on #10
Thanks @jpiesing for the links.  I created two examples the first one with fullscreen via CSS and a second one via API:

1. Fullscreen via CSS: [source code](https://github.com/louaybassbouss/louaybassbouss.github.io/blob/master/dpctf-tests/video-fullscreen-css.html), [run example](https://louaybassbouss.github.io/dpctf-tests/video-fullscreen-css.html)
2. Fullscreen via API: [source code](https://

[2020-12-17 14:05] jpiesing commented on #10
@louaybassbouss What's the aspect ratio of your laptop? The black band across the top makes me think it's not 16:9.

[2020-12-17 14:07] louaybassbouss commented on #10
It is not 16/9, my screen resolution is 1440x900.

[2020-12-18 11:56] yanj-github commented on #6
Please find the following parameters that we think they are required for each test. Any comments are welcome.

Tests | Parameters   Required
-- | --
8.2 Sequential Track Playback | ts_max,   tolerance, cmaf_track_duration
8.3 Random Access to Fragment | ts_max,   tolerance, random_access_time , cmaf_track_duration
8.4 Random Access to Time | ts_max,   tolerance, random_access_time , cmaf_track_dur

[2020-12-18 12:43] louaybassbouss commented on #6
Thanks @yanj-github It is possible to provide default values for these parameter?

[2020-12-18 13:44] yanj-github commented on #6
The ts_max is 120ms from the spec, and cmaf_track_duration is 60s for the most of source contents what we have now. And random_access_time would be between 0 to 60s we can default to 30s, fragment_duration is 2000. But I am not sure what will be the suitable value for  tolerance and playout[i].

[2020-12-18 14:05] yanj-github commented on #6
In addion to above, "8.14 Sequential Playback of Encrypted and Non-Encrypted Baseline Content" we are not really clear how this supposed to work. I am not sure if 8.14 is spliced or not, it is not clear to me by reading the spec. If 8.14 is spliced then we will need parameters  playout[i], fragment duration_track_1, fragment duration_track_2, …, fragment duration_track_K instead of the  cmaf_track

[2021-01-04 12:32] louaybassbouss commented on #6
Thanks @yanj-github  for your input. @jpiesing can you add this issue on the Agenda for tomorrows call to make final decision on the default values for each parameter.

[2021-01-04 12:37] louaybassbouss commented on #10
@jpiesing @yanj-github lets talk about this during our phone call tomorrow.

[2021-01-04 13:13] louaybassbouss commented on #6
@yanj-github I am not sure if we need the `cmaf_track_duration`, `fragment_duration`, `fragment_duration_track_1` , ... parameters in the config since these are provided in the content mpd.
Regarding `playout[i]` we need to check how we can specify it in the config file since the values are dependent from the number of Segments and Representations of the actual played content (provided in the cont

[2021-01-04 14:32] jpiesing commented on #6
I guess there could be an issue here about whether the test runner & the observation framework both extract these from the content MPD or whether the test runner extracts them from the content MPD and passes them to the observation framework in the configuration file? The second of these feels less error prone to me.

According to https://github.com/cta-wave/Test-Content-Generation/issues/17 , we

[2021-01-04 14:57] yanj-github commented on #6
I thought the observation framework will not have access to the contents folder, so I thought it depends on the Test Runner to pass this information to the observation framework. But if we do have access to the contents then we will be able to get it from content mpd. I agree with @jpiesing that the test runner extracts them from the content MPD and passes them to the observation framework in the

[2021-01-04 15:02] louaybassbouss commented on #6
Yes agree we need a mechanism to pass these parameters to the observation framework. We can use the QR code that is displayed before each test for this purpose. What do you think?

[2021-01-04 15:04] jpiesing commented on #6
Why not use the configuration file? What a I missing?

[2021-01-04 15:06] yanj-github commented on #6
Observation Framework does not care how it passes this information, but I think this is preferable which provides mire dynamic option, so that same test with different contents can be observed correctly.

[2021-01-04 15:08] jpiesing commented on #6
"same test with different contents" is prohibited / a meaningless concept.
"same code with different contents" is a different test.

[2021-01-04 15:16] yanj-github commented on #6
Thanks @jpiesing to clarify. I meant same code with different contents.  e.g.  "sequential-track-playback" for contents with different duration then cmaf_track_duration parameter is different.

[2021-01-04 15:20] louaybassbouss commented on #6
yes we have currently a single configuration file for all test templates. We should avoid defining dynamic parameters/configurations at different places/files.

[2021-01-04 15:27] jpiesing commented on #6
@Louay I'm confused.

Some configuration options may have the same value for all test cases.
Some configuration options may have the same value for all test cases for the same media profile (e.g. all AVC test cases).
Some configuration options may have different values for different test cases even within the same media profile.

[2021-01-04 16:09] louaybassbouss commented on #6
@jpiesing the semantic of the JSON config file we discussed last year considers only test templates independent from content. Let's check tomorrow which config parameters are required on content level and are not provided in the content mpd. If required, we need to think about another solution to provide the config for the auto-generated tests.

[2021-01-04 16:20] jpiesing commented on #6
One simple solution might be to have the test name / identifier of the test (& not just the name of the code) as part of the name / key in the test-config file. e.g.

  "sequential-track-playback": {
    "min_buffer_duration": 40000,
    "ts_max": 100
  },
  "avc-track-001:sequential-track-playback": {
    "cmaf_track_duration": 1800
  },
  "avc-track-002:sequential-track-playback": {
    "cmaf_tr

[2021-01-04 19:59] nicholas-fr commented on #10
@louaybassbouss  Regarding the placeholder in the video for the application QR codes, I believe it's as @jpiesing mentioned: to the right of the video. Space was also left above the video for a text string if relevant/useful.
It isn't pixel accurate, but the reserved areas are illustrated below:

![image](https://user-images.githubusercontent.com/9865551/103573789-202dc780-4ecf-11eb-816b-7264d15a3

[2021-01-05 09:16] louaybassbouss commented on #10
@FritzHeiden  FYI

[2021-01-05 16:16] jpiesing commented on #10
Jan 5th meeting
OK with reserved areas.
The one test that explicitly mentions full screen will use the full screen API and others will not.
Next steps - Fraunhofer to implement, comment & close.

[2021-01-18 13:17] yanj-github opened #11 "Ability to run a single test is missing"
Can we have an ability to run a single test please? At the moment Folder1, Folder2 and Folder3 are including multiple tests, but user can not run a single test.

[2021-01-18 16:47] FritzHeiden commented on #6
Implementation of this feature is done. Configuration parameters from test-config.json are loaded and used when executing a test. I still have to write a documentation on the usage of the test-config.json

[2021-01-19 12:55] louaybassbouss commented on #11
@yanj-github this feature is not supported in the WPT/WAVE Test Runner but is on our Feature List.

[2021-01-19 13:45] louaybassbouss opened #12 "Finalise Tests related to encrypted content"
- DPCTF Tests:
  - 8.12 Playback of Encrypted Content
  - 8.13 Restricted Splicing of Encrypted Content
  - 8.14 Sequential Playback of Encrypted and Non-Encrypted Baseline Content

- Consider Clear Key encryption only
- keyId and contentKey can provided through the test-config.json
- ClearKey Content still missing

[2021-01-19 14:21] yanj-github commented on #11
Thanks @louaybassbouss  so the tester will see buttons for the single tests from the landing page? How do the contents link with the test codes?

[2021-01-19 14:27] yanj-github opened #13 "Show currentTime on a QR code"
Sorry if I have missed if this had been discssed before.
But from what I can see here: https://github.com/cta-wave/dpctf-tests/tree/master/video-evaluation, and on the Test Runer the currentTime is not shown on the QR code.
I just wanted to check if this will be implemented please?

[2021-01-19 15:14] louaybassbouss commented on #11
@yanj-github for now the tester can select the whole folder e.g. [Folder1](https://github.com/cta-wave/dpctf-tests/tree/master/generated/Folder1) which means all tests in this folder will be selected. Once single test selection is implemented, the tests in each folder will be displayed and you can select each test individually (The file names will appear in the UI). The QR codes include the hash c

[2021-01-19 15:36] louaybassbouss commented on #13
@yanj-github the currentTime is included @FritzHeiden will share details about it. The documentation page needs to be updated.

[2021-01-19 15:40] louaybassbouss commented on #6
Thanks @FritzHeiden documentation page is now available --> [TEST_CONFIG.md](https://github.com/cta-wave/dpctf-tests/blob/master/TEST_CONFIG.md)

[2021-01-19 15:44] louaybassbouss commented on #9
@jpiesing FYI we will proceed on this once the content is provided as Zip files. see [Test-Content-Generation/issues/19](https://github.com/cta-wave/Test-Content-Generation/issues/19)

[2021-01-19 15:53] FritzHeiden commented on #10
![image](https://user-images.githubusercontent.com/9076000/105058115-2ea2e400-5a76-11eb-943a-da7754010b85.png)
Setting the video element to the current viewport and overlaying it with the qr code.

In this screenshot the qr code contains the following:
[code]

where `s` is the current state, `a` is the last performed action, `ct` is the currentTime of the video at the time the creation of the curr

[2021-01-19 15:55] yanj-github commented on #13
Thanks @louaybassbouss that is great to know.
I have one more question about the QR code.
The QR code overlayed on the content is inverted QR code which has black background. However, the QR code on the test runner is different.
Will it be better to have them consistent please?

[2021-01-19 15:57] louaybassbouss commented on #13
yes it makes sense @FritzHeiden can you configure this in the QR code library we use.

[2021-01-19 15:59] louaybassbouss commented on #10
Thanks @FritzHeiden  I assume that `d` is in `ms` and `ct` is the currentTime in seconds can you confirm this?

[2021-01-19 16:00] FritzHeiden commented on #10
That is correct

[2021-01-19 16:00] louaybassbouss commented on #13
@yanj-github FYI @FritzHeiden add a comment to this [issue](https://github.com/cta-wave/dpctf-tests/issues/10#issuecomment-762934906) about currentTime

[2021-01-19 16:48] jpiesing commented on #10
January 19th meeting
What about updating currentTime every (say) 50ms or 100ms?
Now it's done based on timeupdate event
What about generating the QR code (say) 100ms in advance of when it would be needed?
Would requestAnimationFrame help? Not sure this is implemented on all device browsers.

[2021-01-19 16:59] rbouqueau commented on #12
NB: call Jan 19 2020: one content available with Clear Key would help. We may need to analyze https://github.com/cta-wave/Test-Content-Generation/issues/13 first. Keeping track here.

[2021-01-19 17:04] yanj-github commented on #11
For development purpose it would be helpful if we can access the configuration and make changes to run test with different content.

[2021-01-20 10:44] yanj-github commented on #6
Thanks @louaybassbouss Can I have the URL link to access this configuration from the Test Runner server please?

[2021-01-27 10:28] louaybassbouss commented on #6
You can access the configuration via http://web-platform.test:8000/test-config.json  (change domain/port if you don't use the default values)

[2021-01-27 10:51] louaybassbouss opened #14 "Make QR code generated in the Test inline with QR embedded in the content"
Currently the QR code generated in the Test has a different foreground/background Black/White colors as the QR embedded in the content. The Test implementation needs to be updated to generate QR codes in the same format as for QR codes embedded in the content.

[2021-01-27 11:59] yanj-github opened #15 "Content that played has no QR code"
The content that is played on Test Runner has no annotation.
When the latest content is ready (QR code has frame rate), can you update it to point to the latest content please?

[2021-01-27 13:16] louaybassbouss commented on #15
@yanj-github we updated the [sample.csv](https://github.com/cta-wave/dpctf-tests/blob/master/sample.csv) file and new tests with one of the new content with QR code. There is a new folder [avc](https://github.com/cta-wave/dpctf-tests/tree/master/generated/avc) in the generated folder with the corresponding tests. In the Test Runner companion page, please select `avc` to these tests.

To use custom

[2021-02-01 10:54] louaybassbouss commented on #15
@yanj-github can we close this issue in the Testing Meeting tomorrow?

[2021-02-01 10:56] jpiesing commented on #15
@louaybassbouss Please could you share a screendump / picture showing the the QR codes and the text written by the app?

[2021-02-01 10:59] louaybassbouss commented on #15
Yes @FritzHeiden will share during the day a screenshot.

[2021-02-01 11:01] louaybassbouss commented on #6
@jpiesing if all agree (especially @yanj-github), we can close this issue during out meeting tomorrow.

[2021-02-01 11:10] yanj-github commented on #15
@louaybassbouss Thats for getting this done. Now, I can see the avc folder and be able to run the test. I will be able to change the input contents internally as well.
However, we are blocked on the content that is on AVC folder, wihch was not generated with latest Mezzanine so the frame rate information is missing.

[2021-02-01 11:16] yanj-github commented on #13
@louaybassbouss  Can you kindly confirm this is already implemented and updated on github please? I still cannot see it on my set up. If it is already implemneted I will try again with the latest change. Thanks.

[2021-02-01 11:16] jpiesing commented on #15
You can get the script from the test-content-generation project and run it yourselves against the latest Mezzanine. Alternatively someone else may be able to run it for you.

[2021-02-01 16:17] FritzHeiden commented on #15
![image](https://user-images.githubusercontent.com/9076000/106484602-17211d80-64b0-11eb-8f25-c6f3c8124afc.png)

The QR code is positioned and scaled relative to the actual video inside the video element and contains the following:

[code]

Where `s` is the current state, `a` is the current action, `ct` is the current time of the video and `d` is the duration it took to create the QR code.

[2021-02-01 16:18] FritzHeiden commented on #14
![image](https://user-images.githubusercontent.com/9076000/106485995-79c6e900-64b1-11eb-8dc0-641bcd7da209.png)

This is now implemented.

[2021-02-01 16:21] FritzHeiden commented on #13
The current time of the video is included in the overlayed qr code under the key `ct`.

[2021-02-01 16:23] jpiesing commented on #13
For the mezzanine content, the same string that is included in the QR code is also available as text for human beings including debugging. Is this practical here as well?

[2021-02-01 16:26] yanj-github commented on #14
I can see this had been implemented but I just founded that the start of the test QR code is not inverted, is it on your to do list please? If not can we get the start of the test QR inverted too please? Thank you!

[2021-02-01 16:28] yanj-github commented on #13
Thanks @louaybassbouss  and @FritzHeiden I can see "ct" now.

[2021-02-01 16:38] louaybassbouss commented on #14
@yanj-github  yes @FritzHeiden is going to fix the start QR code as well.

[2021-02-01 17:20] FritzHeiden commented on #14
Inverted QR code of pre test page is now implemented.

[2021-02-01 17:30] yanj-github commented on #6
Thanks @louaybassbouss  and @FritzHeiden I can access the configuration files however I cannot see the content related parameters such as "cmaf_track_duration".  Can you help how I can find this information please?

[2021-02-01 17:45] yanj-github commented on #15
Thanks @jpiesing Yes, I can do this for our testing. But I tink the contents need to be updated anyway on https://dash.akamaized.net/WAVE/vectors/avc_sets/
I have rised issue on the Test-Content repositry.
https://github.com/cta-wave/Test-Content/issues/10

[2021-02-01 17:57] yanj-github commented on #14
Thanks @FritzHeiden the QR codes looks all good to me.

[2021-02-01 18:38] jpiesing commented on #6
This depends on the test content & may also be different for the same content in different tests.

[2021-02-02 09:13] yanj-github opened #16 "Result API not working"
I cannot get the following API working and getting 500 internal server error.
https://github.com/cta-wave/dpctf-test-runner/blob/master/tools/wave/docs/rest-api/results-api/import.md#2-import-api-results
It says "If enabled, the WMAS Test Runner can import results exported by any arbitrary other instance."
It is might be because this feature is not enabled?

[2021-02-02 09:25] louaybassbouss commented on #15
@yanj-github  please confirm that this issue can be closed during our Testing meeting today.

[2021-02-02 09:29] louaybassbouss commented on #16
@yanj-github can you provide the following information of the HTTP POST Request:
* HTTP Endpoint
* HTTP Request Headers
* HTTP Body (JSON content)

We will check in our side and come back to you.

[2021-02-02 09:31] louaybassbouss commented on #14
This issue can be closed during the Testing meeting.

[2021-02-02 09:36] yanj-github commented on #15
@louaybassbouss  Yes it is fine to close it. Thanks

[2021-02-02 09:37] yanj-github commented on #14
Thanks @louaybassbouss  yes happy to close it please.

[2021-02-02 09:38] jpiesing commented on #14
Closing as agreed by involved parties.

[2021-02-02 09:38] #14 closed

[2021-02-02 09:39] yanj-github commented on #16
I was looking at the code and it has a flag import_results_enabled but cannot figure out where this is set?

[2021-02-02 09:45] louaybassbouss commented on #10
@jpiesing your proposed solution requires to use `setTimeout` or `setInterval` to monitor the video currentTime. These 2 functions are not accurate (or not accurate all the time) on TV sets (Tested on a TV set from 2018 that support MSE). If you agree we would like to keep the current approach which is independent from setTimeout` or `setInterval`.

[2021-02-02 10:06] jpiesing commented on #10
Can you give a short summary of the current approach?
Would an approach based on setTimeout or setInterval be better?
Are there tests in the test suite for WMAS for setTimeout or setInterval?

[2021-02-02 10:08] yanj-github opened #17 "Playback of sequential-track-playback-manual"
Apologize that this might not be the test runner issue, but I think this maybe related.

Regarding to the sequential-track-playback-manual of the content wave_avc_sets_1, I have noticed that the playback is in order of Representations in the MPD file. I can see the playback order is O1, O2, O3, N1, M1 then L1.
The details of the content can be found here: https://dash.akamaized.net/WAVE/vectors/da

[2021-02-02 10:21] yanj-github commented on #6
Thanks @jpiesing yes that is what I think it is. Are you saying observation framework need to access the mpd file and get the information such as duration of cmaf track etc please? I think the following is what we have agreed before.

[2021-02-02 10:32] FritzHeiden commented on #16
This configuration parameter has no impact on the endpoint you are having issues with.

I am unable to reproduce your issue. Please check the server logs for any error messages. You can view them by using `docker logs -f <container>` e.g. `docker logs -f dpctf`

[2021-02-02 10:36] louaybassbouss commented on #16
@yanj-github please provide the following information of the HTTP POST Request

[2021-02-02 10:41] yanj-github commented on #16
{
    "results": [
        {
            "status": "OK",
            "test": "/test/sequential-track-playback-manual__stream__.html",
            "subtests": [
                {
                    "status": "PASS",
                    "message": null,
                    "name": "video ended event fired"
                }
            ],
            "message": null
        }
    ]
}

[2021-02-02 10:46] jpiesing commented on #6
It sounds like we need a script somewhere that generates the cmaf_track_duration and to run it for every stream.

[2021-02-02 10:58] yanj-github commented on #6
I have checked the confifuration file https://github.com/cta-wave/dpctf-tests/blob/master/test-config.json, and the following information is missing:

- random_access_time for any random access tests
- cmaf_track_duration (content specific parameter to be discussed)
- fragment_duration (content specific parameter to be discussed)
- playout[i], fragment duration_track_1, fragment duration_track_2,

[2021-02-02 11:07] FritzHeiden commented on #16
From your logs I can see that the directory for your sessions result reside in does not exist. Can you confirm that the path `results/ac48e856-6538-11eb-a1f8-080027138d0d/test` exist in your filesystem?

In case the directory exists, can you confirm the following:

- You can read the existing results using the API e.g. `GET  /_wave/api/results/ac48e856-6538-11eb-a1f8-080027138d0d/test/json`
- You

[2021-02-02 11:12] yanj-github commented on #16
yes I can download result by GET /_wave/api/results/ac48e856-6538-11eb-a1f8-080027138d0d/test/json

[2021-02-02 11:19] yanj-github commented on #10
@louaybassbouss and @FritzHeiden how often the QR code gets updated please?

[2021-02-02 11:26] FritzHeiden commented on #16
Can you please check this? I think this might be a problem with the directory's permissions. However, in that case you should have seen an OSError 13 in your servers logs.

[2021-02-02 11:37] yanj-github commented on #16
The path ~/DPCTF/results is empty.

[2021-02-02 11:42] FritzHeiden commented on #16
In that case, to confirm the test runners expected behavior, you should get a 404 when performing a `GET /_wave/api/results/ac48e856-6538-11eb-a1f8-080027138d0d/test/json` request after restarting the server.

[2021-02-02 11:56] yanj-github commented on #16
After docker restarted:
`GET /_wave/api/results/ac48e856-6538-11eb-a1f8-080027138d0d/test/json` give me 500
`GET /_wave/api/results/ac48e856-6538-11eb-a1f8-080027138d0d/json`  I did get result and response 200 but I am getting empty zip file.

[2021-02-02 12:04] yanj-github commented on #16
@FritzHeiden and @louaybassbouss Just came across the configuration file https://github.com/cta-wave/dpctf-deploy/blob/master/config.json
Dose "enable_results_import": false," have to be set to true please?

[2021-02-02 12:04] FritzHeiden commented on #16
This also seems like there are problems with the result directory due to missing permissions. What operating systems do you use? On unix like systems you should set the owner and group of the results directory to 1000. Can you check if this is the case? Otherwise, please change the owner and group and check if the previous 500 errors still occur.

[2021-02-02 12:05] FritzHeiden commented on #16
As mentioned before, this configuration parameter has no impact on the endpoint you are trying to use.

[2021-02-02 12:38] yanj-github commented on #16
Thanks @FritzHeiden set the owner and group of the results directory to 1000 resolved issue.
Do I need to change this after each time that I built the new docker please?

[2021-02-02 12:40] jpiesing commented on #16
Please can this get added to the documentation?

[2021-02-02 12:40] FritzHeiden commented on #16
Glad to hear this fixed your issue. I will update the documentation accordingly.

As docker inherits the ownerships from your local filesystem, it will suffice to set it once.

[2021-02-02 12:50] yanj-github commented on #16
Thanks @FritzHeiden for helping to solve this issue and @jpiesing is it good idea to document it.
I am happy to close this issue once this is documented.

[2021-02-02 12:52] FritzHeiden commented on #16
Documentation is already updated, see https://github.com/cta-wave/dpctf-deploy

[2021-02-02 15:31] jpiesing commented on #6
@yanj-github How many other examples are there as well as cmaf_track_duration?

[2021-02-02 15:52] jpiesing commented on #17
Devices

[2021-02-02 15:52] jpiesing commented on #6
This is not really content related. Any value can be picked that is not the start of a CMAF segment. When the CMAF segments are 2s duration then any value which is an not an even number can be picked. When the CMAF segments are 5s duration then any value that is not a multiple of 5 can be picked. For example, 11s might be a reasonable value that should work on all streams.

Indeed this needs discu

[2021-02-02 16:01] yanj-github commented on #6
Thanks @jpiesing just wanted to add that
 random_access_time for any random access tests, Whether the Test Runner randomly define on the test run or hardcodeded to make it always same, the observation framework need to know this value to check the playback is started from correct frame. I guess hardcodeded to make it always same would be eaiser to achive.

[2021-02-02 16:04] louaybassbouss commented on #10
when the state of the video changes (error, play, pause, ...) or `ontimeupdate` (in this case the `ct` value will change. You need to detect in observation framework the first frame where the `ct` value is changed)

[2021-02-02 16:11] louaybassbouss commented on #6
PS. The list of parameters that are use by the test runner are listed in [TEST-CONFIG.md](https://github.com/cta-wave/dpctf-tests/blob/master/TEST_CONFIG.md). It is possible to override the [test-config.json](https://github.com/cta-wave/dpctf-tests/blob/master/test-config.json) file in dpctf-deploy project in [docker-compose.yml#L14](https://github.com/cta-wave/dpctf-deploy/blob/master/docker-comp

[2021-02-02 16:28] #16 closed

[2021-02-02 16:36] jpiesing commented on #17
This is a bug in the test content and in the definition of the combinations of tests & test content.
https://github.com/cta-wave/Test-Content-Generation/issues/13

8.2 should only be run with MPDs that have exactly one representation.
If 8.2 is run with an MPD with >1 representation then playing all representations is a bug.
Random access (8.3) may have a similar problem.

[2021-02-02 19:17] #15 closed

[2021-02-03 09:10] louaybassbouss commented on #11
This is how single test selection in the UI looks like. PS: it is still not pushed to git. It needs to be connected to the corresponding REST API.

![select-single-tests](https://user-images.githubusercontent.com/1138409/106723789-c6243d00-6607-11eb-9f80-2fe23e12a4c1.png)

[2021-02-03 09:14] louaybassbouss commented on #6
@yanj-github can you summarise the parameters you need in the observation framework that are part of the MPD manifest of individual test content.

[2021-02-03 09:22] jpiesing commented on #6
I think it's they're in this comment ...

https://github.com/cta-wave/dpctf-tests/issues/6#issuecomment-771553108

[2021-02-03 10:01] louaybassbouss commented on #6
Based on latest discussion, this is one proposal:

- `random_access_time`: use 11s as default global value in test-config.json (in `all`). Other values can be defined on test level if needed.
- `cmaf_track_duration`: the test running in the browser on the DUT can provide this value via a QR code after parsing the MPD (JavaScript Code for the Browser). We can use the field `td` in the JSON data emb

[2021-02-03 10:19] yanj-github commented on #6
@louaybassbouss  Thanks for this, and may I ask which QR codes do these parameters are going to be added the pre-test QR code or the test runner status QR code please?

[2021-02-03 10:38] jpiesing commented on #6
I remain uncomfortable with the approach of adding these to the QR code.
I would prefer they were added to the configuration file.
Most likely this would mean the script that parses the .CSV file would need to generate these for each test.

[2021-02-03 11:42] jpiesing commented on #6
Given the concerns about QR code detection on smaller displays, I would prefer them to be added to the pre-test QR code as that can be made larger / more robust.

[2021-02-03 13:23] louaybassbouss commented on #6
It is not implemented yet but I think pre-test QR Code is better.

[2021-02-03 13:36] louaybassbouss commented on #6
@jpiesing  for me these parameters are not configuration parameters. Configuration parameters may have a default value and can be changed if needed. This is not the case for `cmaf_track_duration` and `fragment_duration` since they are not target to be changed. We should avoid duplicating parameters in different files. If the approach passing these parameters via the QR code is not feasible, it is

[2021-02-03 13:39] jpiesing commented on #6
To me these are part of configuring the test code to run with a particular media file so making the MPD parsing part of the script that reads the .csv file and generates the individual tests seems logical.

[2021-02-03 13:50] louaybassbouss commented on #6
@jpiesing let's imagine these parameters are part of the configuration file and someone changes them then we will have inconsistencies between the configuration file and MPD. We are now trying to solve how the test Runner can pass information to the Observation Framework using the configuration file but there are other ways to do it.

[2021-02-03 15:04] jpiesing commented on #6
The configuration file is already a mixture of things that someone can change and things that they should not change.

[2021-02-10 12:31] louaybassbouss commented on #17
@yanj-github  @jpiesing can we close this issue since it related to content generation and not test implementation?

[2021-02-10 12:31] louaybassbouss commented on #13
@yanj-github can you confirm that we can close this issue?

[2021-02-10 12:32] jpiesing commented on #17
It sounds to me like there's a test bug as well if the test code will play each representation in an MPD sequentially when there's more than one.

[2021-02-10 14:32] FritzHeiden commented on #11
This feature is now available as part of the new [DPCTF Test Runner release](https://github.com/cta-wave/dpctf-test-runner/releases/tag/v1.0.0)

[2021-02-10 15:28] louaybassbouss commented on #17
@FritzHeiden can you check this and confirm that the test plays only a single representation?

[2021-02-11 09:24] yanj-github commented on #13
@louaybassbouss yes please close this issue.

[2021-02-11 12:02] yanj-github commented on #11
Thanks @FritzHeiden  and @louaybassbouss  I can see this feature now. Thank you!

[2021-02-11 12:03] yanj-github commented on #9
I would like to get an update once this is done please?

[2021-02-11 12:04] jpiesing commented on #11
@yanj-github Can the issue be closed or do you want to do some simple testing first?

[2021-02-11 12:06] jpiesing commented on #9
@yanj-github So far we haven't prioritised this. Should it be prioritised? If you think so, please bring it up in the regular call on Tuesday 16th.

[2021-02-11 14:21] yanj-github commented on #9
I will try to find a way to work around this, if not working and I am blocked I will raise it in next meeting to be prioritised, Thanks.

[2021-02-11 14:36] yanj-github commented on #11
@FritzHeiden  and @louaybassbouss  I just managed to try this out. Selecing and run a single test if working fine now. However, each test only run for 1-2 seconds and move to the next one, just wondering if you have put the debugging configuration back on the last commit please?

[2021-02-11 15:09] louaybassbouss commented on #11
Thanks @yanj-github  for testing we will check.

[2021-02-11 15:18] louaybassbouss commented on #9
This issue ist about downloading and serving the content locally.

The Downloading part is blocked by this issue https://github.com/cta-wave/Test-Content-Generation/issues/19.
The serving part is work in progress. When this is ready, you can put content in a shared folder and this will be served via the test runner. We need this for example to serve encrypted content to finalise the implementation

[2021-02-11 15:25] rbouqueau commented on #12
Would a handmade stream already help? Automatizing the process still shows some limitations (listed at https://github.com/cta-wave/Test-Content-Generation/pull/21#issuecomment-776708756).

Also when generating the content, what is the procedure to check it is ok? (e.g. plays back in a specific player, ... ?)

[2021-02-13 22:27] jpiesing commented on #12
I don't know if it would help but the HbbTV DASH-DRM reference app has a Java program called 'dasher' which builds on ffmpeg and mp4box and fills in the gaps to generate encrypted content and MPDs including PlayReady and ClearKey. Source code is here. https://github.com/HbbTV-Association/ReferenceApplication/tree/master/tools

[2021-02-14 09:02] louaybassbouss commented on #12
Handmade is fine for us. How the stream is generated, is not relevant for the test implementation. You can check if stream plays in dash.js reference player.

[2021-02-14 09:08] louaybassbouss commented on #12
@FritzHeiden @mlasak FYI

[2021-02-14 10:29] jpiesing commented on #12
I realised the cloud hosted instance of the HbbTV DASH-DRM reference app obviously includes encrypted streams with PlayReady, Marlin and ClearKey. You probably need to look at it with a debugger to get the URL for the MPDs. If you would use it a lot, it might be better to copy the MPD and the media onto your own server rather than running it off the HbbTV one all the time. It will run on a PC usin

[2021-02-14 16:47] rbouqueau commented on #12
Thanks for the links and ideas.

For the record I initially planned to take the first clear content and make some forward encryption with GPAC: ```gpac -i MANIFEST_URL:forward=man cecrypt:cfile=DRM.xml @ -o encrypted/live.mpd:pssh=mv``` as a first try.

I hope to make a first try before Tuesday eod.

[2021-02-15 10:13] yanj-github commented on #9
I can work around this by downloading the contents manually, regarding the serving part I can move this inside the docker so that it can be served by the test runner until we get the serving part done.

[2021-02-15 11:44] louaybassbouss commented on #9
@yanj-github: we (thanks @FritzHeiden) added a new section to the [dpctf-deploy README](https://github.com/cta-wave/dpctf-deploy/#mapping-new-content-into-the-container) with more details how to map a folder on the host machine which includes local/downloaded content to be served via the Test Runner HTTP Server. Once the download script is ready, the content from Akamai CDN will be downloaded in t

[2021-02-15 14:51] yanj-github opened #18 "sequential-track-playback-manual dropping frames"
I am seeing the test "sequential-track-playback-manual playback" is dropping many frames.
Can you investigate if you are seeing this on your end as well please?

[2021-02-15 17:15] FritzHeiden commented on #11
@yanj-github The tests used to only play 1-2 seconds of the test content, however, I already fixed this a while back 977c62f43e3793783c60fd76da8b182bde863706

What content do you use?

[2021-02-15 17:25] louaybassbouss commented on #18
@yanj-github can you provide more details for example which content. Did you tried to play the content e.g. in dash.js player?

[2021-02-15 17:27] yanj-github commented on #11
Thanks @FritzHeiden I was using http://dash.akamaized.net/WAVE/vectors/avc_sets/1/stream.mpd.
I just tried to run this again this time I dont see the problem I guess it might be the connection when I test it before.
As I can not replicate this fault and you have confirmed that is it fixed. I am happy to close this issue now.

[2021-02-15 17:28] jpiesing commented on #11
@yanj-github Do you have rights to close issues or do you need someone else to do it?

[2021-02-15 17:36] yanj-github commented on #18
@louaybassbouss I am using https://dash.akamaized.net/WAVE/vectors/avc_sets/1/
I just managed to run more tests. It seems different set up and different trys give me different frame loose. It would be really helpful that if you can check whether you are seeing same problem on your set up please?
The best result that I have is test on a TV which I have lost only first frame.
It appears that if I tr

[2021-02-15 17:38] #11 closed

[2021-02-15 17:39] yanj-github commented on #11
@jpiesing I have rights to close it, I have closed this now, let me know if anyone think otherwise please.

[2021-02-15 18:02] yanj-github opened #19 "pre_test QR code appearance"
Please see the following screen shot of pre_test QR code appearance on the Firefox. It appears to be fine for chrome but on Firefox it is lost the bottom border of the QR code. QR code decoding was fine however, can you resize the pre-test screen to make it fits all information within the display please?

![image](https://user-images.githubusercontent.com/59022223/107979839-28415280-6fb7-11eb-87d2

[2021-02-15 19:31] yanj-github opened #20 "Test Runner does not work on IOS"
Test Runner failed to playback any tests on IOS with given error message "Can't find variable: MediaSource".
I think IOS safari does not support MediaSource on JS. I have tried on google chrome app on IOS which giving me same error.

[2021-02-15 19:41] jpiesing commented on #20
MSE isn't implemented on iOS on iPhone. It is implemented on iPads with OS 13 and later. See

https://caniuse.com/mediasource

Test Runner is not going to work on iPhones or older iPads.

I recommend closing this issue.

[2021-02-15 20:39] yanj-github commented on #20
Thanks @jpiesing to confirm. I am closing this issue now.

[2021-02-15 20:39] #20 closed

[2021-02-16 11:20] yanj-github commented on #18
I would like to get answers to the following points:

- If others seeing frame lost as well?  I just wanted to rule out this is not my set-up issue only.
- If others seeing same issue, then are we going to allow any tolerance to the observation?

[2021-02-16 11:30] FritzHeiden commented on #17
The playout parameter was wrongly applied to all tests. With the latest changes it should only be applied to tests that require it. The sequential track playback test now only plays the first video representation from the provided mpd.

[2021-02-16 11:57] FritzHeiden commented on #19
I pushed a fix for this. Please check if it resolves your issue

[2021-02-16 12:40] louaybassbouss commented on #18
@yanj-github we are checking

[2021-02-16 12:46] jpiesing commented on #18
@yanj-github Is this a PC or a TV? If it is easy for you to modify the code, you might try reading VideoPlaybackQuality.droppedVideoFrames (and perhaps totalVideoFrames ) from
https://w3c.github.io/media-playback-quality/ and logging the results.

In principle there should be no dropped frames.

[2021-02-16 12:48] yanj-github commented on #19
Yes I can see the change and it looks fine now.

[2021-02-16 12:57] louaybassbouss commented on #18
@yanj-github if you are in Browser can you try to play the content via dash.js player I prepared this [URL](https://reference.dashif.org/dash.js/v3.2.0/samples/dash-if-reference-player/index.html?mpd=https://dash.akamaized.net/WAVE/vectors/avc_sets/1/stream.mpd) for you which takes the `avc_sets/1/` video as input.  Can you check the "Dropped Frame"? I started the video chrome `Version 88.0.4324.1

[2021-02-16 13:31] yanj-github commented on #18
Thanks @louaybassbouss  I will try it, I think this is exactly what I am seeing on the test runner as well. On different try dropping different number of frames. It seems I never reach 0 dropping though. I will try dash.js player later and post an update.

[2021-02-16 15:03] yanj-github commented on #18
@louaybassbouss I have tried avc_sets/1/ on dash js player from your linke above 117 on 1st run 88 on second run 19 on thrid run 0 drop on 4th run. I am getting different frame drop on different run. I think this might due to the network latency. I am thinking if there is any way to do clear run by passing internet but serve content locally.
I have downloaded content to the docker and give the loc

[2021-02-16 15:08] louaybassbouss commented on #18
Thanks @yanj-github for the investigation yes this is the reason why we need to serve the content locally.

[2021-02-16 15:10] #13 closed

[2021-02-16 15:11] yanj-github commented on #18
Yes, I have pretty bad internet connection here. If you can try out locally see if you seeing frame lost on 1st frame always on test runner please? I dont think we can make dash js local though.

[2021-02-16 15:16] louaybassbouss commented on #18
@yanj-github  You can use dash.js local. just copy the local url to the MPD and paste it in the dash.js url input and click on load (make sure you use dash.js via http and not https e.g. http://reference.dashif.org/dash.js/v3.2.0/samples/dash-if-reference-player/index.html ).

[2021-02-16 15:18] jpiesing commented on #18
I don't understand what is going on here.
The test code should be loading the stream using XHR or fetch.
A bad internet connection should result in the test taking longer to fill the buffer up to the minimum threshold to start playing.
If loading the segments is too slow then playback will stall at some point until those segments are loaded.
I don't see why individual frames would be lost.
What am

[2021-02-16 15:24] yanj-github commented on #18
I think I have same question too; I don't understand why frames dropping on the internet connection, I thought it would rather pause.
We will test and verify with different settings and recordings as we go along and build up a picture of what seems to be happening.

[2021-02-16 16:02] louaybassbouss commented on #17
@yanj-github  can you confirm that is now playing properly on your side and we can close this issue?

[2021-02-16 17:17] yanj-github commented on #17
thanks @FritzHeiden  I just tried a /avc/sequential-track-playback-manual__stream__.html with the latest code and I am getting test stoped half way the **Duration 00:00:09** with the following result.
5 time update events fired	PASS
Playback starts	PASS

[2021-02-16 21:16] jpiesing commented on #18
I've played it using Chromium on Linux. No dropped frames bit it repeatedly stalls - it somehow doesn't detect the buffer running low and fails to reload early enough. Chrome on Android is basically the same.
Firefox on Linux has one dropped frame but no stalls - for the same URL.

vlc plays it on the same Linux computer with no stalling but with a glitch and an error near the start -
[00007f76f00

[2021-02-17 08:08] jpiesing commented on #18
@rbouqueau please could you take a quick look at avc_sets/1/?
- dash.js on Chrome doesn't like it - but in different ways for different people
- vlc doesn't like it - but in a different way from chrome
- the DASH-IF validator generates 1 error ("The d attribute of a SegmentTimeline shall not exceed the value give by the MPD maxSegmentDuration attribute.")
Of course these may not be related and som

[2021-02-17 09:20] rbouqueau commented on #18
I'm on it. I can see some dropped frames too.

The packaging is a part of the workflow I haven't touched but where I spotted issues: 1) changing the FFmpeg version produces different streams and 2) there are indeed conformance or compatibility issues as reported at https://github.com/cta-wave/Test-Content-Generation/pull/21#issuecomment-776708756.

[2021-02-17 10:02] rbouqueau commented on #12
I have a first version but how do we plan to get the keys?

I see two ways. Both are quite easy to set up:
1) https://reference.dashif.org/dash.js/v3.2.0/samples/drm/clearkey.html =>we need to provide a custom page for our dash.js player with the protData.
2) Use a clearkey server (https://github.com/Dash-Industry-Forum/dash.js/issues/3343). A partner (e.g. Akamai or Axinom) could provide us with

[2021-02-17 10:12] louaybassbouss commented on #12
Thanks @rbouqueau  can you put the keys in a json file in the same folder e.g. keys.json? If you see an option to put the key in the MPD feel free to it as well. We decided in earlier meetings to keep it very simple without the need for a clearkey server (when the content is downloaded locally, there is no need to call external server). @jpiesing wdyt?

[2021-02-17 10:19] jpiesing commented on #12
Avoiding an external server would be better if we can. We want to keep this simple to setup. If putting them in a json file doesn't work then can we have an HTML page hosted on the PC running the test control UI?

[2021-02-17 10:19] yanj-github commented on #17
Hi @FritzHeiden The generated folder seems that it still not updated and it has "5 time update events", so I have regenerated and copy paste generated/avc folder to the docker now I am getting error "dpctfTest.asyncTest is not a function" I cannot find where this is defined. Can you help please?

[2021-02-17 10:36] yanj-github commented on #10
@louaybassbouss can you see the following capture from observation framework please?
index 1735 shows that the playing play comes after many frames from content already shown. If that is because of the delay time to generate QR code I was expecting to see d value. I think the point where the play was executed was not clear to me, I not sure where I can measure the start-up delay from.

_1063 s= wa

[2021-02-17 10:40] yanj-github commented on #6
@louaybassbouss  and @FritzHeiden  I can see the random access fragmement and time parameters were included in the code but still missing from the configuration file. I can add them manully for now but it would be appreaciated if you can add them to the test-config.json as well please?
This comes to a question that what if parameters are missing from the configuration file? Does test runner work w

[2021-02-17 11:04] rbouqueau commented on #18
It seems like I have no dropped frame when I stop mixing frame rates. Audio has no impact (although browser logs and conformance maxDuration warning complain about the audio).

Both Chrome and Firefox show some dropped frames.

I tried previous dash.js versions (2.3.0 and 3.1.3) and could also see frame drops.

Still working on it.

@yanj-github Could you tell me more about how the "sequential-tra

[2021-02-17 11:23] yanj-github commented on #18
I have set up test runner locally and downloaded the contents and give the "sequential-track-playback-manual playback" the local URL. So when everything is local I can see it dropping 1st frame.
Regarding to how does the test itself work, I believe @louaybassbouss will be able to help to answer this question.

[2021-02-17 11:40] jpiesing commented on #18
@yanj-github This test should not be mixing frame rates. If it is then there is something wrong.

@rbouqueau This test is intended to play a single DASH Representation from beginning to end. That's it. Nothing clever or smart. The code just needs to read the MPD to find the first Representation and the corresponding URL, read the initialization segment & pass that to MSE and then read the media se

[2021-02-17 11:56] rbouqueau commented on #18
I've left it run 50mn with a subset using only one frame rate: no dropped frame both on Firefox and Chrome.

Ok. Are there any tests involving multiple framerates? If so, had they passed with previous streams generated with the Test Content Generation scripts?

FYI I'm not excluding an issue from the content, I'm still investigating.

[2021-02-17 11:59] louaybassbouss commented on #18
@jpiesing @yanj-github the test only plays the first representation in the video. There is no magic in the test implementation just fetch the media segments and append them to the SourceBuffer. On JavaScript level we don't have any influence on dropping frames. BTW: This test expects an MPD with a single representation to make easier to test and compare with other players it makes sense to only co

[2021-02-17 12:02] jpiesing commented on #18
"Switching Set Playback" should be run with an MPDs including 60/30/15 (and 50/25/12.5 but we don't have that yet).

[2021-02-17 12:14] rbouqueau commented on #18
Ok I've refocused my tests on this then.

[2021-02-17 13:26] louaybassbouss commented on #6
@yanj-github feel free to share the additional parameters and values you need and we can add them. You can attach your local test-config.json in this issue if it is easier for you.

[2021-02-17 13:56] louaybassbouss commented on #10
@yanj-github for start-up delay you need to detect the first QR Code with `a=play` (this means the previous QR code includes `a=initialize`). This is the time when play() is called on the HTMLVideoElement.
Regarding `ct`, it gives you the current time reported by the HTMLVideoElement where `d` is the time for creating the previous QR Code. Example from your Logs:

- step `1735` the play is trigger

[2021-02-17 13:59] jpiesing commented on #10
If I understand @yanj-github  correct, this cannot be correct as frames 2-8 have already been shown before step 1735.

[2021-02-17 14:41] louaybassbouss commented on #10
@yanj-github can you explain more the semantic of your logs? I interpreted each line in the log as one recorded/observed frame and not video frame.

[2021-02-17 14:50] yanj-github commented on #10
@jpiesing  yes I was meant the play recieved after the serveal frames that already shown.
@louaybassbouss
|index of recording| content_id | media_time | frame_num | frame_rate|
|1711| content_id= L2| media_time= 00:00:00.067| frame_num= 2| frame_rate= 30.0|

If I understand you correctly
1735 s= playing a= play ct= d=
1773 s= playing a= play ct= 0.302244 **d= 237**

d =237 delay means the delay in

[2021-02-17 15:16] rbouqueau commented on #18
Everything seems ok: RAP placement, timings across segment borders, segment duration, uniformity of flags&durations, sidx. I'll stop for today but I'm open to ideas or suggestions.

While doing a random test, I realized that I have dropped frames with virtually any content:

![image](https://user-images.githubusercontent.com/1917976/108223848-8b0f2700-713a-11eb-90af-32a91408bfe0.png)

So I tried o

[2021-02-17 15:18] louaybassbouss commented on #10
Yes

Yes.

Yes.

PS: I recommend to use an observation timeline where you can assign observations to it. What is the framerate of your observation recording? with a higher observation recording framerate you can achieve better accuracy.

[2021-02-17 16:03] dsilhavy commented on #18
Some thoughts:

- From my experience high load in the application/JavaScript thread can also cause rendering issues. Do you see issues with lower bitrates < 8Mbit/s
- Can you check media-internals in Chrome if you see any useful output: https://developers.google.com/web/tools/chrome-devtools/media-panel

[2021-02-17 16:07] jpiesing commented on #10
My impression is that the first column in comment https://github.com/cta-wave/dpctf-tests/issues/10#issuecomment-780463792 is the frame number of the captured video from the camera - which is essentially the same as an observation timeline. The recording framerate will be the framerate of the camera. Typically 60Hz which is the same frame rate as the video.

If so then video frames 2-8 (according

[2021-02-17 16:13] jpiesing commented on #18
I'm on Linux & not seeing dropped frames (except perhaps for 1 at the start sometimes). The same on Android.

[2021-02-17 16:41] yanj-github commented on #10
@jpiesing first column in comment #10 (comment) is frame number of the recording. I have recorded the test with 120fps on the camera. The frame rate of the content that is used for this testing is 30 fps.

"1735 s= playing a= play ct= d=" is found after 2-8 frames already shown, is because there is a delay in generating a QR code from the test runner which is recorded on the next event "1773 s= pl

[2021-02-17 16:57] jpiesing commented on #10
Just to check I'm understanding this correctly, "1735 s= playing a= play ct= d=" would have been generated at a media time somewhere around 0.285ms. 0.285-0.237 is 0.048ms which is reasonably before frame no. 1 which was lost.

Is this correct?

[2021-02-17 17:26] rbouqueau commented on #18
@dsilhavy Thanks :)

Max bitrate is 6mbps and it even occurs with a 200kbps 15fps stream. On both Firefox and Chrome. And on dash.js 2.3.0, 3.1.3 and 3.2.0. On the default BBB content and our content. The only differentiator is the OS - why not a regression specific to Windows? (or maybe a difference in the way the dropped frames are reported on Windows?) (seems far fetched but is my best guess be

[2021-02-17 18:58] yanj-github commented on #10
Yes, your calculation is correct too.
What I worked out is, 237ms makes it 28-29 number of recording frames up frome where it detected. So "s= playing a= play ct= d=" would have been apear somewhere 1706 -1707. we have 2nd frame of the content detectected 1711. So the start up dealy should be measured from 1706 to 1711 which is around 42ms.

However, I am thinking if it is possble for the test run

[2021-02-17 19:02] jpiesing commented on #10
I think I made this comment more than once :)

[2021-02-18 09:51] louaybassbouss commented on #10
This can be easily activated it is only a matter of changing the timing (when to create the QR Code and when to show it). We will activate it to give you the chance to test and compare both approaches.
The reason why we selected the current approach is because the 'Pre-generate QR Code' method requires `setTimeout(fn, delay)` or `setInterval(fn, delay)` ideally with a `delay` small than the durati

[2021-02-18 10:10] yanj-github commented on #10
I think OF can calculate time backwards; I am fine with current approach.
If others have no further question, I am happy to close this issue.

[2021-02-18 10:35] jpiesing commented on #10
@yanj-github @louaybassbouss I still don't like this approach but I don't dislike it enough to spend time trying to work out something better. I am happy to close this issue - for now.

[2021-02-18 17:40] #10 closed

[2021-02-22 09:26] rbouqueau commented on #12
Let me know if any decision is taken regarding this AP. Once again it should be quite straightforward to implement once we make a decision.

[2021-02-22 09:38] rbouqueau commented on #18
I gave another try and still see dropped frames (although less than on our content) for https://reference.dashif.org/dash.js/v3.2.0/samples/dash-if-reference-player/index.html?mpd=https://dash.akamaized.net/akamai/bbb_30fps/bbb_30fps.mpd

It is on my todo-list to investigate this further this week. As always any idea is welcome :)

[2021-02-22 09:47] louaybassbouss commented on #12
@rbouqueau if we can put the keys in a json file (e.g. keys.json) in the same folder of the MPD file? If yes, let's go for this option.

[2021-02-22 10:39] FritzHeiden commented on #17
Hi @yanj-github, when you copy the new generated files, you would also have to copy the lib directory. This would have fixed the "dpctfTest.asyncTest is not a function" error you got. However, indeed I forgot to update the generated directory. I pushed the updated to the repository now. When I build the image everything works fine for me. Can you please check if this also resolves the issue for yo

[2021-02-22 10:42] rbouqueau commented on #12
@louaybassbouss Yes it is possible by adding some js (which I can do).

Auto-quote:

@all Do you have any preference or can I rely on [this player page for encrypted content](https://reference.dashif.org/dash.js/v3.2.0/samples/drm/clearkey.html)? If your tests depends on URL parameters or some feedback/logs from the [sample player](https://reference.dashif.org/dash.js/v3.2.0/samples/dash-if-refere

[2021-02-22 12:22] dsilhavy commented on #18
I did a quick check as well:
I also see occasional dropped frames on my Mac in Chrome. I can see the following output in media internals which correlates with the dropped frames (timing wise):

[code]

My first assumption was that this is caused by a quality switch and a decoder buffer underflow. However, I see the same problem even after the quality switch has already been rendered. Maybe there a

[2021-02-22 15:19] yanj-github commented on #6
I would like to see the following in test-config.json file:

- for the test 8.3 Random Access to Fragment

random_access_fragment=<random_access_fragment_number 0-last_frame_number__of_contnet>

- for the test 8.4 Random Access to Time

random_access_time=<random_access_fragment_time ranged between 0-cmaf_duration>

[2021-02-22 15:22] yanj-github commented on #17
Thanks @FritzHeiden I can see O1 is played back from start to end for the sequential-track-playback-manual now.
I am happy to close this issue.

[2021-02-22 15:50] louaybassbouss commented on #17
Thanks @yanj-github for the feedback feel free to close the issue

[2021-02-22 17:31] #17 closed

[2021-02-23 15:16] FritzHeiden commented on #12
Implementation of encrypted content support is done. I generated a test with encrypted content based on test 8.12 in the [cenc](https://github.com/cta-wave/dpctf-tests/tree/master/generated/cenc) sub folder.

[2021-02-23 15:23] louaybassbouss commented on #12
Thanks @FritzHeiden 👍 . @rbouqueau FYI the content we used is the same you provided in this [example](https://reference.dashif.org/dash.js/v3.2.0/samples/drm/clearkey.html). @FritzHeiden copied the required parameters in the [test-config.json](https://github.com/cta-wave/dpctf-tests/blob/master/test-config.json) file manually. This means you can still provide the parameters in a JSON file as discu

[2021-02-24 11:12] louaybassbouss commented on #6
@jpiesing back to the discussion about how to provide static/dynamic configuration. We are going to implement your approach by providing the parameters in the configuration files. This is our proposal please confirm if you are happy with it:

- The test generator script reads static parameters form the MPD (e.g. `cmaf_track_duration`, `fragment_duration`, etc.) and put them in the [generated/tests

[2021-02-24 15:55] FritzHeiden commented on #6
Implementation to include the `cmaf_track_duration` and `fragment_duration` in the `tests.json` when generating tests is now done. There is one new parameter to consider when using the `generate-tests.py` script. I updated the `README.md` accordingly.

[2021-02-24 15:57] louaybassbouss commented on #6
Thanks @FritzHeiden 👍  @yanj-github  please check and let us know if you have questions

[2021-02-24 16:05] yanj-github commented on #6
Does random_acccess_time in seconds or ms please and it is float or int? Thanks @FritzHeiden

[2021-02-24 16:06] jpiesing commented on #6
It's an improvement.

[2021-02-24 16:30] louaybassbouss commented on #6
@yanj-github it is in the same format as in the MPD. You can check the [generated/tests.json](https://github.com/cta-wave/dpctf-tests/blob/master/generated/tests.json) which already includes these parameters.

[2021-02-24 16:34] yanj-github commented on #6
Sorry @louaybassbouss  that I didnt make is clear the  generated/tests.json  looks good to me.
I was asking the
"random-access-to-time-manual.html": {
    "ts_max": 120,
    "tolerance": 10,
    **"random_access_time": 10**
  },
from https://github.com/cta-wave/dpctf-tests/blob/master/test-config.json

[2021-02-24 16:51] andyburras commented on #19
This issue has resurfaced now we have Test Runner executing on a phone device. On a small screen device in landscape the code is severely cropped:
![DSCF0220](https://user-images.githubusercontent.com/28623246/109035271-611cae00-76c0-11eb-8997-1b4d7b92fd7f.JPG)

The QR code needs to be no bigger than those inserted over the video and positioned appropriately:
![DSCF0222](https://user-images.github

[2021-02-25 15:52] rbouqueau commented on #18
@dsilhavy interesting. There were no vbv parameters so I added them: still had the dropped frames. I've also removed the color parameters: same.

I came back to the Google Chrome media-internals and see this:

00:00:28.857 | info | "Truncating audio buffer which overlaps append window end. PTS 59977142us frame_end_timestamp 60000361us append_window_end 60000000us"
-- | -- | --
00:00:28.857 | info

[2021-02-25 15:55] rbouqueau commented on #12
Ok I packaged [this](https://www.gpac-licensing.com/downloads/CTA-Wave/encrypted/stream.mpd).

The parameters are: ```"J5kmSWp_XSXaafKzsnmafw": "ABEiM0RVZneImaq7zN3u_w"```.

There is more to do to make this automatic.

[2021-02-25 15:57] louaybassbouss commented on #12
Thanks @rbouqueau this is great we will test and let you know

[2021-02-25 16:12] louaybassbouss commented on #18
@rbouqueau @dsilhavy does it make sense to test a video-only stream without audio?

[2021-02-25 16:26] rbouqueau commented on #18
@louaybassbouss Good remark. At the beginning I suspected the framerate mix. So I reduced the set until having only one video. It reduces the probability to encounter dropped frames with falling to zero. That's when I tested back on Big Buck Bunny and saw I had dropped frames too...

My current hypothesis is that 1) the dropped frame callback has changed and 2) our content has many of them and I s

[2021-02-25 16:46] louaybassbouss commented on #19
@andyburras we didn't focus in our tests on mobile devices. We can set max values for width/height css properties depending of the size of the viewport. We will let you know.

[2021-02-26 07:45] dsilhavy commented on #18
@rbouqueau The messages on audio overlapping the append window are caused by audio segments slightly overlapping period boundaries. dash.js maps the period boundaries to the `appendWindowStart` and `appendWindowEnd` attributes of the Sourcebuffer. That way we make sure that segments that overlap period boundaries are only partially added to the respective Sourcebuffer (matching the Period boundari

[2021-03-01 10:26] FritzHeiden commented on #6
@yanj-github `random_access_time` is a float in seconds.

[2021-03-01 10:40] yanj-github commented on #6
I am happy to close this issue. Thanks

[2021-03-01 12:11] #6 closed

[2021-03-01 15:13] rbouqueau commented on #18
Ok I found time to repackage with gpac and the rate of dropped frames fell: https://reference.dashif.org/dash.js/v3.2.0/samples/dash-if-reference-player/index.html?mpd=https://www.gpac-licensing.com/downloads/CTA-Wave/gpac/manifest.mpd.

[2021-03-01 15:23] louaybassbouss commented on #18
@rbouqueau I cannot play the video in dash.js it seems that the CORS Headers are not set for https://www.gpac-licensing.com/downloads/CTA-Wave/gpac/manifest.mpd

[2021-03-01 15:37] rbouqueau commented on #18
Copied to https://reference.dashif.org/dash.js/v3.2.0/samples/dash-if-reference-player/index.html?mpd=https://dash.akamaized.net/WAVE/vectors/avc_sets/gpac/manifest.mpd to avoid the CORS issue

[2021-03-01 16:01] jpiesing commented on #18
I had one dropped frame on the first run through but none on subsequent runs.

[2021-03-01 16:50] yanj-github opened #21 "delay is missing for the last current time event"
On the recording position 8951 I was expecting to see delay value defined for the previous current time event.
The delay seems missing.
8951 s= paused a= play ct=  d= ?
Please see the following capture result.

... ...
8883 content_id= L2 media_time= 00:00:59.900 frame_num= 1797 frame_rate= 30.0
8887 content_id= L2 media_time= 00:00:59.933 frame_num= 1798 frame_rate= 30.0
8891 content_id= L2 media

[2021-03-02 10:45] FritzHeiden commented on #9
I implemented a script to download test content based on a json file. I added documentation about it to the dpctf-tests README.md.

[2021-03-02 16:01] louaybassbouss commented on #21
@FritzHeiden can you check this?

[2021-03-02 17:15] FritzHeiden commented on #12
Just tried to use it in a test and it seems to work just fine.

[2021-03-02 17:40] jpiesing opened #22 "8.8 Playback over WAVE Baseline Splice Constraints"
Two requirements for test 8.8 are extremely unclear to me.

What are the characteristics of these? Do we have the right mezzanine content?

In the March 2nd meeting, it was suggested we might want both big buck bunny and tears of steel mezzanine content but how can we reach a decision?

Who is responsible for providing the value of the playout array?

[2021-03-03 15:39] yanj-github opened #23 "sequential track playback test alters between 2 representations"
I am trying to run avc/sequential-track-playback-manual__stream__.html with the latest code.
However, the sequential track playback test alters between 2 representations for every 6 seconds O2-L2-O2-L2... ....

Could you try clean build the test runner from the latest code in github and see if you are seeing the same problem please?

[2021-03-03 15:51] yanj-github commented on #9
I have a question about the test-group folder from readme. Does test group contains test html files or it contains contents is not clear to me

[2021-03-03 15:54] louaybassbouss commented on #23
Thanks @yanj-github we will check and let you know

[2021-03-03 17:05] louaybassbouss commented on #22
@dsilhavy FYI

[2021-03-03 18:52] jpiesing commented on #22
@nicholas-fr @rbouqueau this may require addtional test content which in turn requires additional mezzanine content. For example, it might need both tears of steel and big buck bunny.

[2021-03-04 10:49] jpiesing commented on #22
I've re-read the WAVE content format spec and device playback spec sections relating to baseline splice constraints.

My first impression is that a CMAF switching set with 30s of some other content encoded using the same parameters as the switching set used for test 8.5 would be sufficient.

The test for 8.8 would play the switching set for test 8.5, then the new switching set, then back to the sw

[2021-03-04 10:53] louaybassbouss commented on #22
Thanks @jpiesing for your investigation I will discuss this tomorrow with @dsilhavy especially in regards to the DASH-IF Test Content issues and will provide feedback.

[2021-03-04 11:44] andyburras commented on #22
Does this mean the frame number sequence will run 1->X->1->Y->1->Z ?
Presumably the test config file will need to pass the expected duration of each splice "section".

[2021-03-04 12:02] jpiesing commented on #22
Either that or 1 -> X-1 -> Y -> X -> Z?

I have no idea.

[2021-03-05 11:47] yanj-github commented on #23
This might related to recent content change I used local content which downloaded before the change doesnt show this issue. Hope this will help to investigate.

[2021-03-05 13:55] dsilhavy commented on #22
Some comments from our side, as I discussed this with @louaybassbouss

 I find the description in DPCTF 8.8 a bit confusing. Speaking in DASH terminology, it sounds like we are testing a switch of AdaptationSets with similar media types within a single period. So for instance:
  - Audio: Switch between audio language
  - Video: Switch between viewing angle / camera

If this interpretation is corre

[2021-03-05 14:48] jpiesing commented on #22
I'm glad I'm not the only one :)

That's not how I read DPCTF 5.3.3.5 and CSTF 7.2.2. I think these are the equivalent of DASH period-connected but I certainly admit I could be wrong.

I ended up seeing 8.8 as a subset of 9.4 and hence trying to work out what is wanted for 9.4 and then working backwards to 8.8.

I think this is a multi-period MPD with the periods being period-connected.
WAVE alrea

[2021-03-05 15:56] louaybassbouss commented on #23
@yanj-github I cannot see this behaviour on our side but @FritzHeiden will check on Tuesday if he can reproduce this issue.
PS: Monday is holiday in Germany!

[2021-03-05 15:59] louaybassbouss opened #24 "Create HTML files for Tests 9.2/9.3/9.4"
@FritzHeiden to add HTML files for Tests 9.2/9.3/9.4 from existing 8.* test files. see also discussion in #22 .

[2021-03-08 11:14] yanj-github opened #25 "test code in test-config.json"
Will you be able to change the following from the test-config.json please?
From
"regular-playback-of-chunked-content-non-aligned-manual.html"
to
**"regular-playback-of-chunked-content-non-aligned-append-manual.html"**

regular-playback-of-chunked-content-non-aligned-append-manual is used in tests.json but this is different on test-config.json.
It would be better to keep the test codes consistent.

[2021-03-09 10:43] FritzHeiden commented on #25
Yes, I will change the names so they are consistent with the actual file names

[2021-03-09 11:54] yanj-github opened #26 "regular-playback-of-chunked-content-manual"
This test stuck at 59 seconds on the playback and timed out. The test runner didnt finised the test.
Could you kindly have a look see if you have same issue please?

[2021-03-09 12:25] louaybassbouss commented on #26
@yanj-github  we will check

[2021-03-09 12:27] FritzHeiden commented on #23
I built the latest image and ran the sequential track playback test with the avc content. I am unable to reproduce your issue. Please make sure you use the latest image

[2021-03-09 13:25] yanj-github commented on #23
Which content did you used? I was running this one. https://dash.akamaized.net/WAVE/vectors/avc_sets/1/stream.mpd

[2021-03-09 14:15] louaybassbouss commented on #23
Yes this is the content we tested. As mentioned before, the implementation of the sequential track considers only the first representation in the MPD. Since the content avc_sets/1/stream.mpd has 8 video representations, any DASH player e.g. dash.js will select the representation based on the current conditions (Bandwidth, ...) on the used ABR algorithm.

[2021-03-09 15:58] FritzHeiden commented on #21
I pushed an updated. The delay is now always included.

[2021-03-10 09:07] louaybassbouss commented on #21
@yanj-github feel free to close this issue if it solved on your side.

[2021-03-10 09:08] yanj-github opened #27 "random-access-to-fragment-manual"
From the configuration file test-config.json the parameter"random_access_fragment": 10
However the playback starts at around 20 seconds which does not match the random_access_fragment where it should start.

[2021-03-10 09:55] yanj-github commented on #27
Thanks @FritzHeiden That will make sense. To make it clear dose "random_access_fragment": 10 means it skipps 10 and starts from 11th fragment please?

[2021-03-10 10:08] yanj-github commented on #21
Thanks for getting this fixed @FritzHeiden  and @louaybassbouss  I will check soon.

[2021-03-10 10:21] #21 closed

[2021-03-10 10:22] yanj-github commented on #21
checked and the delays are present.

[2021-03-10 10:37] yanj-github commented on #23
That is strange I think you have fixed this issue and only playsback 1st representation from mpd.
I have tried to remove container and image and rebuild the test runner however I am still seeting this problem.

[2021-03-10 12:34] FritzHeiden commented on #26
This bug was not exclusive to this test. It occurred due to min buffering time not handled properly by the player. This issue was caused by a min buffer time smaller than the duration of the individual segments. It is now fixed. Please check if this resolves the issue for you

[2021-03-10 13:10] FritzHeiden commented on #19
I pushed changes to fix the size of the qr code. Please check if this resolves your issue

[2021-03-10 13:18] jpiesing commented on #22
@dsilhavy Presumably the same original streams can cover https://github.com/Dash-Industry-Forum/Test-Content/issues/1 but with the first period duration being a multiple of 1.92?

[2021-03-10 16:12] FritzHeiden commented on #23
@yanj-github Where do you run the tests? On a TV or desktop browser? Did you clear any caches? Maybe look into the network logs to see what segments are being loaded

[2021-03-10 17:11] FritzHeiden commented on #24
Tests are now implemented

[2021-03-11 13:49] louaybassbouss commented on #26
@yanj-github feel free to close this issue if it works on your side

[2021-03-11 13:49] louaybassbouss commented on #24
Thanks @FritzHeiden we can close this issue

[2021-03-11 13:49] #24 closed

[2021-03-11 13:52] louaybassbouss commented on #19
@andyburras feel free to close this issue if you see the issue is fixed on your side

[2021-03-11 13:57] #26 closed

[2021-03-11 13:59] yanj-github commented on #23
Hi @FritzHeiden  I have tried on local. Which caches do you mean? I think I did clean rebuild the test runner. Is there anything else that i need to clean please? I think it might be caches.

[2021-03-11 14:17] yanj-github commented on #23
I have done the complete rebuild and clean all the cache. Now this is not a problem anymore.
Thanks @FritzHeiden

[2021-03-11 14:17] #23 closed

[2021-03-12 08:54] louaybassbouss commented on #12
thanks @rbouqueau can you also generate the content with 2 representations the first one is encrypted and the second one is the same content but not encrypted. This is required for [8.14 Sequential Playback of Encrypted and Non-Encrypted Baseline Content (pages 51-52)](https://cdn.cta.tech/cta/media/media/resources/standards/pdfs/cta-5003-final.pdf).

[2021-03-18 09:13] yanj-github opened #28 "Test Runner QR codes on starting up"
When we do some test we found that in some recordings our obsrvation calculated the start up delay is less than 0.
From further invistigation, detailed bellow, I found it not really clear to me.

- buffering raised on two events that current times are same but delays are different.
- buffering and playing current times are same but delays are different.
- most importantly the playing play event co

[2021-03-18 09:17] jpiesing commented on #28
The timing of the generation of the events in HTML5 is woefully under-specified and relying on them is really not a good idea. I recommend not doing so.

[2021-03-18 09:46] louaybassbouss commented on #28
fully agree with Jon you cannot rely on the timing of HTML5 events for the observations. @yanj-github to measure startup time you don't need to wait for `status=playing` but only for first appearance of `action=play` (the time when the Test triggered `video.play()`). Please note also that many players displays the first frame of the video after buffering even without calling `video.play()`.

[2021-03-18 10:25] andyburras commented on #28
@louaybassbouss Bit confused by that. We only ever see a Status QR Code with an action of "play" that also has a status of "playing". When else should a "play" action appear?

[2021-03-18 10:39] louaybassbouss commented on #28
Thanks @andyburras this helps us we will check. We will make sure that the first QR Code with action=play is not waiting for any event! if this is the case, then it is a bug and needs to be fixed.

[2021-03-18 10:42] yanj-github commented on #28
If I understand it correctly, "s":"playing","a":"play" means current status is playing and previous action is play. I guess we need an event which saying play action is called?

[2021-03-18 10:47] andyburras commented on #28
I was guessing that the "action" is what TR has asked the device to do, and the "status" is what the device has reported it is doing?
So I think we need an event QR code adding at the point TR requests the play.

[2021-03-18 10:48] louaybassbouss commented on #28
@yanj-github I confirm that a step is missing. When `video.play()` is triggered but before "playing" event appears, you should see a step `"s":"ready","a":"play"`.  wdyt?

[2021-03-18 10:51] andyburras commented on #28
Sounds correct to me. Currently we are seeing instances of the first frame appearing before the event QR code, which would be explained by the QR code appearing on receipt of the device's play event.

[2021-03-18 10:53] louaybassbouss commented on #28
@andyburras  @yanj-github  We will add the new step ASAP and let you know.

[2021-03-24 10:36] louaybassbouss commented on #28
@yanj-github @andyburras the issue should be fixed now. When play is triggered (the player calls `video.play()`), you should see a QR code with `"s":"ready","a":"play"`. You should see events in this order (the values for `d` and `ct` are just examples):

1. Player is initialising (creating MSE buffer(s), parse MPD, ...)
[code]
2. Player starts buffering
[code]
3. `video.play()` is triggered after

[2021-03-24 13:44] jpiesing commented on #28
@louaybassbouss  Does this happen before the call to play() or after the call to play() returns? I know play is mostly async but there is some sync behaviour and there's also the possibility of a non-JavaScript thread running when immediately after play() returns before the next JavaScript is executed.

[2021-03-27 09:22] louaybassbouss commented on #28
@jpiesing

@jpiesing currently it is implemented after `video.play()` returns. Maybe before `video.play()` is safer if you agree we will change it.

[2021-03-27 10:07] jpiesing commented on #28
@louaybassbouss Before could be safer depending on the implementation. If you agree then please move it.

[2021-03-29 12:35] yanj-github commented on #28
Sorry for the delay in response, I have just managed to run one test, it seems fine to me so far.

[2021-03-29 14:34] louaybassbouss commented on #28
Thanks @yanj-github for confirming. I just provided an update to trigger the QR code before `video.play()`  as agreed with @jpiesing in this [comment](https://github.com/cta-wave/dpctf-tests/issues/28#issuecomment-808705801).  can you confirm that the lastest update is still working for you. We can then close this issue.

[2021-03-30 08:28] yanj-github commented on #28
@louaybassbouss I think I have already tested with the last commit. Thanks

[2021-03-30 08:33] louaybassbouss commented on #28
Great thanks @yanj-github then I will close this issue.

[2021-03-30 08:34] #28 closed

[2021-03-31 08:43] yanj-github opened #31 "Switching set test and overlapping test"
I have tried to run a switching set test and a overlapping test. And noticed these doesnt match what I was expected.
Maybe I am wrong, correct me please if I was wrong please.

At the moment, the switching set test switches from representation 0 to 7 in order, so it switches 7 times. Where I was thinking it should switch once according to the configuration. https://github.com/cta-wave/dpctf-tests/

[2021-04-06 14:36] andyburras opened #32 "Extra test information required by Observation Framework for splice tests"
The Device Observation Framework will require some additional information provided by the Test Runner JSON for the splice test observations.
For flexibility, we propose -

- >      fragment_duration
- >      first_frame_number
- >      last_frame_number

[2021-04-06 15:26] FritzHeiden commented on #31
The test-config.json that is present in the repository only has the playout parameter configured for `Folder1/switching-set-playback-manual__ToS_MultiRate_fragmented__ToS_HEAACv2_fragmented.html`and `Folder2/playback-over-wave-baseline-splice-constraints-manual__ToS_MultiRate_fragmented__ToS_HEAACv2_fragmented.html`, as you already noticed.
For every other test, where there is no playout parameter

[2021-04-06 15:30] yanj-github commented on #31
Thanks @FritzHeiden that is clear to me, I will try to define playout for avc see if that will work.
Can you answer my 2nd question about the overlapping test please? It this test should switch that taking playout same as switching set test or it should be same as 8.2 sequential-playback? What I can see now is that this test switches from representation 0 to 7.

[2021-04-06 17:49] yanj-github commented on #31
@FritzHeiden  I have changed configuration file added the following:
"avc/switching-set-playback-manual__stream__.html": {
    "playout": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
    "total_representations": 2,
    "duration": 60
  },
But nothing is playedback for swtiching set test and the test shows ERROR.
Did I set anything wrong or do I need t

[2021-04-07 15:20] FritzHeiden commented on #31
According to the specification, the overlapping test is supposed to switch between representations.

Regarding your test error, the `test_representations`and `duration`parameters are compared against the values extracted from the mpd. If they mismatch, an error is thrown. I updated the tests and test runner to properly communicate occurring errors, by updating the qr code accordingly, as well as i

[2021-04-07 16:22] yanj-github commented on #31
Thanks @FritzHeiden.

OK this is fine, but OF required to know the playout same as we have for the switching set. Will test runner read playout parameters from the configuration file if it is defined please?

Thanks for the information, I still have some questions as follows:
total_representations is number of totable representations in mpd?
duration should match the one defined in mpd, is this in

[2021-04-08 14:47] yanj-github commented on #31
I didn't defined "duration" which works fine. Otherwise, "duration": 60 keep failing with error duration mismatch.
OF reads duration from tests.json so for OF "duration" in test-config.json does not matter.

[2021-04-12 14:56] louaybassbouss commented on #32
@andyburras `fragment_duration` is already extracted (see [/generated/tests.json](https://github.com/cta-wave/dpctf-tests/blob/master/generated/tests.json)).  What do you mean by `first_frame_number ` and `last_frame_number`?

[2021-04-12 15:58] andyburras commented on #32
@louaybassbouss   Currently there is only a single fragment_duration given e.g.:
[code]

but (I think) the spliced content could have different fragment durations from the original content so we need it for each sequential CMAF Presentation.

We need to know what are the expected frames to be presented for each portion of spliced content, e.g. a post-roll advert scenario could have content X -> co

[2021-04-13 08:26] louaybassbouss commented on #32
@andyburras in the example you provided there is one `fragment_duration` for all representations, do you expect different `fragment_durations` for each presentation (or within the same presentation)?  In issue #22 there is a discussion about this.

Agree but who can provide this information? within the test implementation we don't have access to these parameters. You can provide any additional con

[2021-04-13 09:35] andyburras commented on #32
As far as I can tell from the WAVE Baseline Splice Profile Constraints, the fragment time needs to be aligned at the Splice Points. But provided that requirement is met I can't see it saying that the fragment duration of the spliced content needs to be the same as the original content?
If they can be different then there will need to be an entry in the JSON for each CMAF Presentation in the WAVE P

[2021-04-13 11:04] FritzHeiden commented on #31
A test will read the playout parameter if the specification defines it.

Yes.

The duration is in seconds, yes. I updated the documentation accordingly.

We implemented the data structure for the playout parameter according to the specification

I updated the error message to contain the expected value so it is easier to see what the exact mismatch is. If you don't require the duration value from

[2021-04-13 11:18] yanj-github commented on #31
Thanks @FritzHeiden
I cannot see the expected duration value but I guess I might need the lates change of code.
This is fine for me I will take the duration out for now which works fine to me.

Do you have documnetation about test-config.json please? Apologies if you already posted but I cannot find it now.
Can you let me know where I can find it please?

[2021-04-13 11:58] FritzHeiden commented on #31
It sits next to the README.md: [TEST_CONFIG.md](https://github.com/cta-wave/dpctf-tests/blob/master/TEST_CONFIG.md)

[2021-04-13 12:22] yanj-github commented on #31
Thanks @FritzHeiden I am happy to close this issue.

[2021-04-13 12:22] #31 closed

[2021-04-13 12:56] louaybassbouss commented on #32
@andyburras we will provide the `fragment_duration` we can provide it on presentation level but we need first to have the content. As discussed in #22, it will be multi-period content. Lets discuss this during our meeting later today.

[2021-04-13 12:57] louaybassbouss commented on #19
@andyburras can we close this issue?

[2021-04-13 15:14] jpiesing commented on #32
April 13th meeting
Propose to add an array to the test configuration file where each item corresponds to a period in the MPD & contains the fragment duration of the period & the overall duration of the period.

[2021-04-22 08:07] louaybassbouss opened #33 "Check manual/automatic tests and update filenames"
To check if there are manual DPCTF tests and remove 'manual' from filenames if these tests are automatic. This is related to issue https://github.com/cta-wave/dpctf-deploy/issues/9 .

[2021-04-22 12:59] jpiesing opened #34 "consider making length of DPCTF tests a session option"
Currently the DPCTF tests all play for 60s, in line with the mezzanine content that has a red frame at the end.
We should consider allowing the test engineer to over-ride the length so that they could choose to only run the tests for, e.g. 20s or 30s.
A simple solution would use the existing content. As a result it would not finish on the red frame but on a content frame. The test operator could b

[2021-04-22 13:00] jpiesing commented on #34
@nicholas-fr

[2021-04-22 13:03] jpiesing commented on #34
Even just allowing the duration to be over-ridden for sequential track playback would be helpful as that test will be run many times for the different WAVE content options.

[2021-04-22 14:08] nicholas-fr commented on #34
Seems we have 2 options: tester can choose an arbitrary duration, in which case the 60s content can be used and playback stops after the chosen duration (<=60s).
Or we offer the tester a choice between 2 different durations 60s and 30s (or 20s?).
In that case, we'd generate a set of 30s (or 20s) mezzanine and then the test content from that.

If the latter is the preferred approach, I can generate

[2021-04-22 14:44] andyburras commented on #34
If option 1 were to be used then I think there may be some Test Runner changes required.
Currently the script https://github.com/cta-wave/dpctf-tests/blob/master/generate-tests.py writes MPD information to "tests.json", including the "cmaf_track_duration".

The Observation Framework uses this parameter in some observations when determining pass/fail. So this value would need to reflect the tester'

[2021-04-27 07:19] jpiesing opened #35 "25% dropped frames running sequential track playback on Android"
The observation framework is reporting something like 25% of dropped frames when running sequential track playback on Android. At first I thought it was a problem with the camera setup but I've now examined the recordings & stepped through them frame by frame and the frames are definitely missing. The playback skips frames and then stalls on other frames.

The same Android devices can playback the

[2021-04-27 08:03] jpiesing commented on #35
Running the same test with firefox and chrome on my PC from the same docker image has the same problem (albeit not as bad - 116 dropped frames with Firefox on the PC instead of >900 with Chrome on the phone).

I assume this is https://github.com/cta-wave/dpctf-tests/issues/18 and that the wrong stream has been installed.

I close this issue and open a new one in the deployment project for installi

[2021-04-27 08:03] #35 closed

[2021-04-27 08:48] #19 closed

[2021-04-27 15:01] FritzHeiden commented on #32
I extended the generate script to extract duration of each representation and include it into tests.json. The generated directory was also updated to reflect this.

[2021-04-27 15:02] FritzHeiden commented on #33
Test file names are now renamed to no longer include the -manual annotation.

[2021-04-27 15:03] louaybassbouss commented on #33
Thanks @FritzHeiden ... @jpiesing this issue can be closed if ok for you

[2021-04-27 15:26] jpiesing commented on #18
@louaybassbouss @FritzHeiden As mentioned in the April 27 meeting, please use the above content in the docker deploy image as a short-term fix until there is more content from @rbouqueau

[2021-04-27 16:00] yanj-github commented on #33
If this means test codes are changed then OF requires same changes.
Issue is raised here:
https://github.com/cta-wave/device-observation-framework/issues/13

[2021-04-28 15:19] louaybassbouss commented on #18
@jpiesing AVC tests are now using the new content https://dash.akamaized.net/WAVE/vectors/avc_sets/gpac/manifest.mpd

[2021-04-28 16:10] jpiesing commented on #18
@louaybassbouss The test starts but all I get is a black page with a QR code for a few seconds then the test finishes. There are no error messages. Presumably a URL is wrong somewhere?

[2021-04-29 19:59] rbouqueau commented on #12
New content uploaded with the ```-senc``` suffix e.g. https://dash.akamaized.net/WAVE/vectors/avc_sets/t1-cenc/stream.mpd or https://dash.akamaized.net/WAVE/vectors/avc_sets/ss1-cenc/stream.mpd

[2021-04-30 08:12] louaybassbouss commented on #12
Thanks a lot @rbouqueau great work 👍  we will start testing beginning of next week and keep you updated

[2021-05-03 09:46] FritzHeiden commented on #18
@jpiesing I just rebuilt the docker image and ran it in a container. For me the tests work as intended, I cannot reproduce this behavior. As the old mpd URLs do not work anymore, which may cause such behavior, to me it seems this is some sort of caching issue again.

[2021-05-03 09:50] jpiesing commented on #18
@FritzHeiden There's no point debugging something that is out of date. I'll wait until the new content is integrated including the .zip file & try it again then.

[2021-05-03 10:05] rbouqueau commented on #18
@FritzHeiden @jpiesing Let me know if there are still invisible things. I can navigate on the server and point you to the right content.

[2021-05-03 11:23] louaybassbouss commented on #18
Thanks @rbouqueau  when do you think you can remove the output folder from the zip file?

[2021-05-03 11:51] louaybassbouss commented on #18
@rbouqueau you can ignore this it is already implemented.  This is the current structure of the folder structure in the zip file (example [t1.zip](https://dash.akamaized.net/WAVE/vectors/avc_sets/15_30_60/t1.zip)) and it is important to keep this structure across all files. Thanks a lot 👍
![image](https://user-images.githubusercontent.com/1138409/116872546-5af20300-ac16-11eb-8559-197f62e93c04.png)

[2021-05-04 12:21] jpiesing opened #36 "all tests have the word "manifest" in the file name?"
Is there a reason why all the tests appear to have the word "manifest" in the file name?

![image](https://user-images.githubusercontent.com/8490792/117002419-d40b5c00-ace3-11eb-99aa-f93834b17b07.png)

It might be clearer if "manifest" could be removed.

[2021-05-04 12:24] FritzHeiden commented on #36
When generating the test files from the templates, the generated test files are named after the template + video mpd name + audio mpd name. In this case the mpd file name was `manifest.mpd`

[2021-05-04 12:35] louaybassbouss commented on #36
@jpiesing FYI this are the name of the auto-generated tests. In the past we decided to use the combination if the test implementation filename + the name of the media file. We are now in a situation where all media files have the same name `manifest.mpd`. I think we need to include more details from the path. wdyt?

[2021-05-04 12:50] jpiesing commented on #36
@louaybassbouss Many of the tests are only run once for any given codec. For these, the test implementation filename (i.e. the same as the heading in the DPCTF specification) is sufficient. If a test is run more than once for a given codec (e.g. sequential track playback) then what needs adding is a unique identifier for the MPD. If the MPDs all have the same name then what about the name of the d

[2021-05-04 13:31] andyburras opened #37 "Duration names changed in tests.json generated file"
It looks like the generation process has altered the names of "cmaf_track_duration" and "fragment_duration".
This breaks the Observation Framework which relies on reading named parameters from the JSON.

[2021-05-04 14:42] andyburras commented on #32
@FritzHeiden Bit confused as to how this is intended to be used within a test. The durations are for the video Representations within a Period, i.e.:

[code]

for an MPD with:
[code]

whereas I was expecting there to either be multiple Periods, or multiple MPDs?
Will the test be playing the Representations one after another to mimic a splice use case, i.e. we can assume that any listed "config"."r

[2021-05-04 15:58] louaybassbouss commented on #36
@jpiesing yes we can include the path (or part of it) in the filename.  We need to decide for a rule we can apply to all filenames. It seems that we now have a stable structure for folder/file structure as defined in [database.json](https://dash.akamaized.net/WAVE/vectors/database.json)  for example for `avc_sets/15_30_60/t1/stream.mpd` (the first item in database.json) we can use `avc_sets-15_30_

[2021-05-05 08:40] FritzHeiden commented on #37
@andyburras I changed them back to the previous names. Feel free to close this issue

[2021-05-05 08:51] andyburras commented on #37
Thanks @FritzHeiden . If we need to, we can amend things, but we do need to try to coordinate any changes to the JSON structure to keep everything in step.

[2021-05-05 08:51] #37 closed

[2021-05-05 09:04] louaybassbouss commented on #37
@andyburras yes fully agree any changes to APIs, JSON Structure or filenames will be documented  and communicated to you. We will use also tags for new version so that you can easily continue testing with a stable version (the [dpctf-deploy](https://github.com/cta-wave/dpctf-deploy#create-image) project allows you  to create the docker image with a dedicated version (e.g. using commitId) of test r

[2021-05-10 07:52] louaybassbouss commented on #33
@yanj-github  only filenames are changed (`manual` removed from all filenames). These changes are also reflected in the config files e.g. test-config.json and /generated/tests.json. You need to only rename these filenames if you use them in the OF.

[2021-05-10 07:55] louaybassbouss commented on #22
@rbouqueau do we have now multi-period for this content (as described in  https://github.com/cta-wave/dpctf-tests/issues/22#issuecomment-795091964)?

[2021-05-10 07:59] louaybassbouss commented on #32
@andyburras  as discussed in https://github.com/cta-wave/dpctf-tests/issues/22#issuecomment-795091964 this will be multi-period content (3 periods each with a single representation). If you see it is better to provide the duration on period level and not on representation, we can do that as well. wdyt?

[2021-05-10 08:09] rbouqueau commented on #22
Daniel just sent me his feedback on the streams generated for https://github.com/Dash-Industry-Forum/Test-Content/issues/1 this morning. Will process and let you know.

[2021-05-10 08:26] andyburras commented on #32
@louaybassbouss  The O.F. needs to be able to calculate the expected last frame number and first frame number of each piece of displayed video. I'm not clear how the test running on the device will operate, will it simply play a multiple period MPD end-to-end, so for e.g. an ad insertion test would have **main-content-period => advert-period => main-content-period**?
In which case we would need th

[2021-05-10 08:36] louaybassbouss commented on #32
@andyburras  yes this is the plan. The Test runner will simply plays the 3 periods  end-to-end .

yes (@rbouqueau  @dsilhavy correct me if I am wrong)

yes (@rbouqueau  @dsilhavy correct me again if I am wrong).

[2021-05-10 08:49] louaybassbouss commented on #22
@jpiesing the test runner accepts only one MPD for video and one for audio. This is why we decided to use multi-period for this test (see discussion in https://github.com/cta-wave/Test-Content-Generation/issues/25#issuecomment-801016251). The multi-period is generated  from the two single MPDs. The media segments from both single-period content will be reused.

[2021-05-10 08:54] rbouqueau commented on #22
We need to make adjustments as described [here](https://github.com/cta-wave/dpctf-tests/issues/22#issuecomment-795091964) but ok. Could we please open an issue on the Test Generation repo when it is confirmed this is needed?

[2021-05-18 12:53] jpiesing commented on #12
@louaybassbouss Where is this in your backlog? (This is a just a request for understanding, not a suggestion to change your priorities).

[2021-05-18 13:13] louaybassbouss commented on #12
@jpiesing  moved to the top of the backlog. you should get feedback by today regarding the new CENC content from database.json

[2021-05-18 13:54] cta-source commented on #36
We have a mezzanine spec in development [see Mezzanine Issue #31](https://github.com/cta-wave/mezzanine/issues/31#issuecomment-814903531); this _"encoded test file name format"_ information is important as well but isn't strictly speaking mezzanine file format.  The mezzanine format spec should be extended to include requirements on encoded test files that the test suite requires.

[2021-05-18 15:16] FritzHeiden commented on #12
The `database.json` didn't seem to contain the cenc MPDs. However, I discovered https://dash.akamaized.net/WAVE/vectors/avc_sets/15_30_60/ contains directories called `*-cenc` with content in it. So I tried to use these MPDs in the tests. Unfortunately every of these MPDs are invalid XML syntax, which the MPD parser of the player cannot parse. It looks like a namespace issue.

[2021-05-18 20:29] rbouqueau commented on #12
@FritzHeiden Thanks for reporting. I'll investigate this issue.

[2021-05-19 07:53] louaybassbouss commented on #12
Thanks @rbouqueau can you also include the CENC tests in database.json with `zipPath`.

[2021-05-19 11:17] FritzHeiden commented on #12
@rbouqueau I am also not sure which of the two URLs to use for the `database.json` or how they differ. Sometimes the `zipPath` key is missing, currently in the second one.

https://dash-large-files.akamaized.net/WAVE/vectors/database.json
https://dash.akamaized.net/WAVE/vectors/database.json

Could you please elaborate on that?

[2021-05-19 12:09] FritzHeiden commented on #9
This workflow is now implemented in the [dpctf-deploy](https://github.com/cta-wave/dpctf-deploy) repository. Executing the `import.sh` script will download the contents defined in the `database.json` into the content directory, which is mapped into the container.

[2021-05-19 12:20] rbouqueau commented on #12
@FritzHeiden The cache policy on the server leads to this. I already mentioned that it creates a lot of confusion. We shoud use another server for hosting more dynamic content. Or we should make sure we never rewrite on an existing URL.

[2021-05-19 15:54] FritzHeiden commented on #36
I modified the implementation of the generate script to use data from the MPDs file hierarchy as tags for the generated test files. The generated tests were updated accordingly.

[2021-05-19 16:10] jpiesing commented on #36
@FritzHeiden Thank you for this. I have two comments for you to think about ...
- I would have expected 15_30_60 to appear somewhere. We will have 12.5_25_50 versions soon.
- I don't see a reason for the "gpac" string. Is there a reason for including this?

[2021-05-20 08:48] louaybassbouss commented on #36
Yes this will appear in the filename. The reason why you not see it because the current sample.csv file still include old content. We now have a new [tests.csv](https://github.com/cta-wave/dpctf-tests/blob/master/tests.csv) file which includes the new content from database.json (we didn't generated the tests for this csv file yet). For example, for the first line in [tests.csv](https://github.com/

[2021-05-20 08:58] jpiesing commented on #36
That looks good to me. I'll close this issue when the tests are re-generated.

[2021-05-20 08:59] louaybassbouss commented on #7
@jpiesing  we have now new [tests.csv](https://github.com/cta-wave/dpctf-tests/blob/master/tests.csv)  which consider [this Excel table](url). Can you please have a look on it before we generate the tests. This new tests.csv will replace the old sample.csv.  Important note: you see in tests.csv there are 2 folders `avc_15_30_60-local` and `avc_15_30_60-online`. These folders includes the same test

[2021-05-21 09:13] jpiesing commented on #7
@louaybassbouss Here are a  few comments to consider.

I think switching set playback is confused. The description says "Test to be run once with a single Switching Set containing the tracks labelled with X..". This is the MPD at https://dash.akamaized.net/WAVE/vectors/avc_sets/15_30_60/ss1/stream.mpd . All the existing rows including "switching set playback" and "Full Screen Playback of Switching

[2021-05-21 09:47] jpiesing opened #38 "improving the title of each test as seen by the person running them"
This may be too much of a divergence from the W3C WPT test runner & feel free to close it if that's the case but ...

We might consider improving the title of each test as seen by the person running them - for example adding an extra "column" to the CSV file that generates the tests from the combinations of HTML+JS templates and media files.

I'm particularly thinking of tests like sequential trac

[2021-05-21 10:13] louaybassbouss commented on #38
@jpiesing this works the title are part of the tests and not the Test Runner. I will check this with Fritz on Monday and add more details.

[2021-05-21 10:17] louaybassbouss commented on #7
agree

The order in the CSV has no impact on the order of running the tests @FritzHeiden  can you confirm?

Will check this

[2021-05-21 13:21] jpiesing commented on #7
t2 and t3 differ from t1 by more than one content option so if an implementation won't play either t2 or t3 then the implementer doesn't know which content option caused the problem. t10 to t17 each differ from t1 by only one content option so they can be used to precisely identify the problem.

[2021-05-24 13:28] yanj-github opened #39 "Question on generating tests"
I am not sure if this is the correct way to use the test generation. But does test runner support different content with same test code in different folder please?

I was trying to generate two different tests with different contents in different folder but use same test code.
I have noticed that the only one test appeared on tests.json file, one test seems get overwritten by the other one.

For e

[2021-05-25 12:26] FritzHeiden commented on #7
I added the optional test-content combinations to the tests.csv file

[2021-05-25 12:26] FritzHeiden commented on #39
Thanks for reporting. I pushed a fix to this bug, please try again.

[2021-05-25 12:27] FritzHeiden commented on #36
I added tests generated from the tests.csv file

[2021-05-26 08:22] yanj-github commented on #18
With the latest content I dont see many dropping frames. There are some dropped at the beginning then 1-2 in the middle.

[2021-05-26 08:27] jpiesing commented on #18
Frames dropped at the beginning and end are particularly critical - that's the reason for the mezzanine content having single colour frames added before and after the video.
Please can you examine the recordings and determine if the dropped frames at the beginning are a defect of the playback device or of the observation framework.
If the playback device is dropping the first or last frame then th

[2021-05-26 08:43] yanj-github commented on #18
Thanks @jpiesing I can confirm this is not OF. I have checked the recording manually, it starts from frame 6 onwards. The previous recroded frame to it is a balc screen with a test runner QR code status=ready. There fore we missing green screen and strating frame 1-5.

[2021-05-26 08:45] jpiesing commented on #18
Then that is a fairly significant fail.

[2021-05-26 10:24] louaybassbouss commented on #7
@jpiesing  PTAL

[2021-05-26 10:25] louaybassbouss commented on #36
@jpiesing PTAL and close issue if the file names are ok for you

[2021-05-26 10:27] #33 closed

[2021-05-26 10:32] louaybassbouss commented on #39
@yanj-github can you confirm that the fix solves the problem? if yes please feel free to close this issue

[2021-05-26 13:01] yanj-github commented on #9
Yes @louaybassbouss  "download-content.py" works fine to me. Did not tried import.sh but I think it calls to download-content.py anyway isnt it?

[2021-05-26 13:03] louaybassbouss commented on #9
yes it is the same thanks for feedback I will close this issue

[2021-05-26 13:03] #9 closed

[2021-05-26 13:18] yanj-github commented on #39
Yes it is working fine with me.

[2021-05-26 13:18] #39 closed

[2021-05-26 15:42] jpiesing commented on #7
Confirmed OK.

Do we need a new issue for the ordering of the tests in the landing page?

Confirmed OK.

[2021-05-31 11:34] jpiesing commented on #36
This is what I see now.

![image](https://user-images.githubusercontent.com/8490792/120187278-e316f880-c214-11eb-91da-5f0e648067f1.png)

Why is 15_30_60 repeated? Is this deliberate or accidental? I would prefer it be in the directory & not in the filename if there's a choice.

[2021-05-31 12:26] louaybassbouss commented on #7
@jpiesing  yes please create a new issue in the dpctf-test-runner project with more details about the ordering of the tests in the landing/companion page.

[2021-05-31 12:35] jpiesing commented on #7
OK - https://github.com/cta-wave/dpctf-test-runner/issues/11.
With that as a separate issue, this issue can be closed.

[2021-05-31 12:35] #7 closed

[2021-06-03 12:42] rbouqueau commented on #12
Fixed. I uploaded it yesterday night but the cache is still not updated. We need a way to version the content if we need to update it sometimes.

[2021-06-03 13:18] rbouqueau commented on #12
I put a local copy (so that you see) here: http://www.gpac-licensing.com/downloads/CTA-Wave/Test-Content/. Don't use it for production.

[2021-06-04 05:53] louaybassbouss commented on #12
Thanks a lot @rbouqueau we will test the new content and let you know

[2021-06-04 07:49] jpiesing commented on #36
I'm not completely happy with the test names due to the repetition of 15_30_60 (see below) but this specific issue is solved.
![image](https://user-images.githubusercontent.com/8490792/120766069-24abea00-c51a-11eb-878a-ba527c7cebc5.png)

The real solution is covered by https://github.com/cta-wave/dpctf-tests/issues/38 .

[2021-06-04 07:49] #36 closed

[2021-06-07 11:28] louaybassbouss commented on #38
@jpiesing  do you mean the title in the <title></title> element of the generated test or somewhere else?

[2021-06-07 11:33] jpiesing commented on #38
What I meant was in the page where the test operator configures which tests are to be run. So this list;

![image](https://user-images.githubusercontent.com/8490792/121009814-e66e2f00-c794-11eb-8e19-48373a1c07e5.png)

[2021-06-07 12:31] FritzHeiden commented on #12
@rbouqueau Could you post a link to an MPD file here? I can't seem to find any cenc content on the page you provided.

[2021-06-07 13:01] rbouqueau commented on #12
ss1: https://dash-large-files.akamaized.net/WAVE/vectors/avc_sets/15_30_60/ss1-cenc/stream.mpd

t1: https://dash-large-files.akamaized.net/WAVE/vectors/avc_sets/15_30_60/t1-cenc/stream.mpd

[2021-06-07 14:55] FritzHeiden commented on #12
From these links I derived the links for the other content. I have the following issues:

Content hosted on dash-large-files.akamaized.net domain could not be played due to CORS policies. Additionally, t15, t30 still had XML parsing errors.

As the CORS errors prevented me from further testing, I tried content hosted on dash.akamaized.net:

- t3, t15, t17, t20, t23, t24, t30, t33, ss1 had XML pars

[2021-06-07 15:20] rbouqueau commented on #12
Let's discuss tomorrow about how to work around the caching issues. We are all losing time here because we are not certain to be working on the latest content.

[2021-06-07 15:42] jpiesing commented on #12
See https://github.com/cta-wave/Test-Content/issues/15

[2021-06-07 16:13] yanj-github commented on #32
@louaybassbouss  I dont see "tests.json" file specified 3 periods duration for a splicing test as a part of shared parameters.
OF required these 3 periods duration to calculate the splicing point.
Could you let me know where these parameters are determined please?

[2021-06-08 13:36] jpiesing commented on #18
I propose closing this issue. If some devices aren't fast enough to play 1920x1080p60 content then that's a device problem not a test problem. If devices are fast enough to play 1920x1080p60 with (say) vlc but not with MSE then that's an architecture issue.
@yanj-github Do you agree we can close this issue?

[2021-06-08 14:14] yanj-github commented on #18
Yes please @jpiesing

[2021-06-08 14:15] #18 closed

[2021-06-09 10:30] yanj-github opened #40 "download test not working again"
Please see the following, it seems the json file the zip path is not difined.

python ./download-content.py https://dash.akamaized.net/WAVE/vectors/database.json content
Fetching JSON https://dash.akamaized.net/WAVE/vectors/database.json
Vector 'avc/15_30_60/tStream ID' does not specify zip path, skipping ...
Vector 'avc/15_30_60/t1' does not specify zip path, skipping ...
Vector 'avc/15_30_60/t2'

[2021-06-09 11:08] louaybassbouss commented on #40
@yanj-github  this should be related to the caching issue we discussed yesterday in the call. I just opened https://dash.akamaized.net/WAVE/vectors/database.json in the Browser I can see the zipPath. Can you try again? This is one item from database.json I just downloaded.

[code]

[2021-06-09 11:26] jpiesing commented on #40
Indeed. If I look at the database.json in a browser here, it looks OK as you can see below. This seems like another instance of https://github.com/cta-wave/Test-Content/issues/15 .

![image](https://user-images.githubusercontent.com/8490792/121345805-996d9280-c925-11eb-949b-8d17503e6061.png)

[2021-06-09 11:29] yanj-github commented on #40
I cleared cache still unsbale to see the zipPath from https://dash.akamaized.net/WAVE/vectors/database.json.
Does download-content.py has cache as well please?

I can see zip path from https://dash.akamaized.net/WAVE/vectors/database_cenc.json

[2021-06-09 11:35] jpiesing commented on #40
It will be a cache in the network not one locally.

@yanj-github I've attached the version of database.json that I see. If you look at import.sh, you will see that it just calls download-content.py. In the short term, perhaps you can run download-content.py manually passing it this version of database.json?

[database.json.zip](https://github.com/cta-wave/dpctf-tests/files/6623400/database.json.zi

[2021-06-09 11:45] yanj-github commented on #40
Thanks @jpiesing but this is not working. Calling download-content.py passing local databse.json doee not work in looks up path //avc_sets/15_30_60/t1.zip instead of full url path. @louaybassbouss  I guess download-content.py append zip path based on location/url of databse.json isnt it?
This is not a blocker to me I can always download contents manually.

[2021-06-09 12:55] louaybassbouss commented on #40
You cannot use database.json from local path because `zipPath` and `mpdPath` are relative and the download script uses the location of the database.json to create the absolute URLs. Can you maybe try to use this URL https://dash-large-files.akamaized.net/WAVE/vectors/database.json (instead of https://dash.akamaized.net/WAVE/vectors/database.json) ?

[2021-06-10 11:07] yanj-github commented on #32
@louaybassbouss We need to know the strcuture of the 3 periods duration in "tests.json" file to implement the parameter parsing.
However, current from https://github.com/cta-wave/dpctf-tests/blob/master/generated/tests.json there isnt any splicing test is defined.
Can you kindly let us know what are these 3 periods duration looks like from the "tests.json" file, if we would have splicing test defi

[2021-06-10 14:17] louaybassbouss commented on #32
Lets say we have 3 Periods and each with a single video representation (which means in total we have 3 representations e.g. with IDs "1", "2" and "3"). The config of the corresponding test will look like this:

[code]

[2021-06-10 15:12] louaybassbouss commented on #32
@andyburras it is the same structure.  you always have a list of representation in the json config.  If we have more that one representation in a period (as in your example), we need then additional configuration which tells the test which representation from each period to play. But we don't have such tests.  What we can do is to extend the structure and add a new `period` property  like this if

[2021-06-10 15:56] andyburras commented on #32
Ah, I think I may be seeing the piece I was missing.
So in your previous example the **tests.json** would be e.g.
[code]

and the **test_config.json** for a splicing test would have e.g.:
[code]
So that would allow the Observation Framework to work out the splicing point?

[2021-06-14 15:58] yanj-github opened #41 "Getting fragment_duration information from tests.json file"
The following is taken from current tests.json file.

                 "representations": {
                            "1": {
                                "duration": 60,
                                "fragment_duration": 1.9969160997732427
                            },
                            "2": {
                                "duration": 60,
                                "fragme

[2021-06-15 09:39] louaybassbouss commented on #41
@yanj-github we will add additional field `type` for audio/video and another field `period`. The script that generates tests.json reads the information about the representations from MPD files. If the MPD contains more than one representation but the test requires only one representation, then you can expect that the first representation is considered.

[2021-06-15 09:58] yanj-github commented on #41
Thanks @louaybassbouss that sounds good to me so OF will just read 1st video representation when only one is required.

[2021-06-15 10:31] FritzHeiden commented on #41
@yanj-github I extended the generate script accordingly and updated the tests.json file

[2021-06-15 11:59] yanj-github commented on #41
Thank you @FritzHeiden  and @louaybassbouss

[2021-06-15 13:04] yanj-github commented on #32
@louaybassbouss  and @FritzHeiden can you kindly confrim if the splicing test will define playout: [list of representation number] from test-config.json to allow OF to calculate the duration based on fragment_duration tests.json?

[2021-06-16 10:08] FritzHeiden commented on #32
@yanj-github You should be able to do this, however, I did not test this yet. Furthermore, the playout parameter is used to specify which representation to use, if there are multiple in the same period. If there are multiple periods with only one representation each, the representations will be played consecutively and the playout parameter is not needed.

[2021-06-16 15:49] yanj-github commented on #41
I just spotted the "fragment_duration": null for switching set tests. OF need to know correct "fragment_duration" to calculate switching point.

[2021-06-16 15:53] FritzHeiden commented on #12
I tested the new encrypted content with the timestamp. There still seems to be some content with the aforementioned error `CHUNK_DEMUXER_ERROR_APPEND_FAILED: Append: stream parsing failed. Data size=131072 append_window_start=0 append_window_end=inf`: t1, t2, t3, t14, t15, t16

[2021-06-16 16:05] FritzHeiden commented on #41
@yanj-github Thanks for reporting. There seemed to be an edge case I didn't account for. The generate script is fixed and tests.json updated.

[2021-06-21 12:22] yanj-github commented on #32
Thanks @FritzHeiden I have some more question if you could help please?

-  The playout parameter specifies the representation Id matches mpd file, or the index of video repersentation please?
-  If there are multiple representations in the same period, does test runner only play 1st period? I think this case it is swithcing set test isnt it?
-  If there are multiple periods with only one represen

[2021-06-21 14:24] yanj-github commented on #41
Looks all good.

[2021-06-21 14:24] #41 closed

[2021-06-21 14:38] yanj-github opened #42 "Question to playout parameter"
For a switching set test, there is a "playout" parameter specifies which representations to play.
What should this playout parameter contain? I thought this is a list of representation IDs.

eg.: having following playout,
[code]
with following content mpd
[code]

I was expecting to see L1 and I1, however, I am getting J1 then it switching to F1.
It seems like test runner takes 1st video Representa

[2021-06-22 12:39] jpiesing commented on #42
I would also have expected L1 and I1.

[2021-06-22 13:44] louaybassbouss commented on #42
@yanj-github according to DPCTF spec (section 8.5.3), the values of the `playout` parameter are the CMAF track numbers (1..k). I just checked with @FritzHeiden in the test implementation we start with index 0 as you guessed, this means in your example the value `2` means the video representation with index 2 in the array which is `J1` and the `5` means the video representation with index 5 in the

[2021-06-22 13:46] yanj-github opened #43 "Current time reports 0 at some point in playback"
From a mobile phone testing we detected that test runner status QR code reports back current time=0 some point in playback.
Please see the following data extracetd from OF:

<html><body>

Current Time | Time Difference
-- | --
0 | 1.7976931348623157e+308
19.584 | 30.416
250.198 | 16.802
0 | 367
500.275 | 16.725
750.379 | 32.621
1000.484 | 16.516
1250.733 | 32.267
1500.811 | 16.189
1750.341 | 16.65

[2021-06-22 13:49] louaybassbouss commented on #32
@yanj-github @jpiesing  I would like to discuss this during our call today. This is the definition of playout parameter for "8.8 Playback over WAVE Baseline Splice Constraints".

We decided to use Multi-Period Content for this test (see https://github.com/cta-wave/dpctf-tests/issues/22#issuecomment-795091964) we don't see a need for a playout parameter for this test.

[2021-06-22 15:00] louaybassbouss commented on #43
@yanj-github can you provide more details? which content (is online or downloaded?)? what is the status of the QR code when currentTime 0 is reported? maybe the player in waiting state because it is currently buffering content.

[2021-06-22 15:46] louaybassbouss commented on #43
@yanj-github can you add in the table above (https://github.com/cta-wave/dpctf-tests/issues/43#issue-927253671) a new column with the status (property `s`)  included in the QR code (possible values for `s` are: `playing`, `paused`, `buffering`, `ended`, `ready`, `error`, `waiting`).

[2021-06-22 15:48] yanj-github commented on #43
@louaybassbouss
https://github.com/cta-wave/device-observation-framework/files/6689857/qr_code_list.zip

[2021-06-22 16:21] FritzHeiden commented on #42
I pushed a fix for the representation number and the playout interpretation. Numbers now start at `1` and in your case, it should now play 30 seconds each.

[2021-06-23 08:49] yanj-github commented on #42
Thanks it looks good to me.

Can you kindly add a default playout to the test-config.json so that it will just work out of the box without change.
OF reports error when playout parameter cannot be found for switching set tests.

I think something like the following will do (I assume fregement duration are all same 2 seconds and track duration is 60 seconds and switching set has at least 2 Represen

[2021-06-23 08:58] louaybassbouss commented on #42
Thanks @yanj-github for your feedback. Yes we can add the default playout to the tests you mentioned. Can you provide  the values for playout for tests  "overlapping-fragments.html" and "fullscreen-playback-of-switching-sets.html"?

[2021-06-23 09:28] yanj-github commented on #42
Thanks @louaybassbouss
I would make then all same. "playout": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]
At least @jpiesing says otherwise?

Also I noticed the "fullscreen-playback-of-switching-sets.html" does not switches the representation but it always plays the 1st one. I am a bit confused on this test, and not sure if this requires to switch or

[2021-06-23 13:33] jpiesing commented on #42
To keep it simple, "fullscreen-playback-of-switching-sets.html" should be the same as "Switching Set Playback".
In both of these cases, I would expect to step through each CMAF track in the Switching set and not do just tracks 1 and 2 as above.

I'm not sure about how useful a default value of playout is. Sometimes each entry in the array is a number & sometimes it's a tuple.

8.5 - entries in pla

[2021-06-23 14:52] yanj-github commented on #42
Thanks @jpiesing OF need to read playout to calculate correct switching point if no playout set it wont do observation but report configuration parameter is missing. This is a shared paramter between Test Runner and OF.
At OF point of view we need to get shared parameters matches with the switching.

[2021-06-23 14:59] jpiesing commented on #42
IMHO playout needs to be provided explicitly for each test that requires it. I don't see the benefit from having a default parameter. Indeed having a default value of playout may hide errors that would otherwise be more obvious.

[2021-06-23 15:06] yanj-github commented on #42
Thanks @jpiesing
So the user need to be aware of playout needs to be defined before they can test any switching set tests.
This is fine to me, whithout playout is set, OF will just report a configuration error saying playout is missing for the test.

[2021-06-23 16:26] jpiesing commented on #22
I have re-reviewed section 7 and annex A of the CSTF spec concerning splice conditioning
My conclusion is that what is described there is indeed the same as DASH-IF issue 1 - https://github.com/Dash-Industry-Forum/Test-Content/issues/1 .
A single MPD with 3 Periods would indeed address what is described in the CSTF spec.
This isn't what the DPCTF spec says though so we need to change the spec.
The

[2021-06-23 17:21] nicholas-fr commented on #22
The mezzanine content for this was moved here:
https://dash.akamaized.net/WAVE/Mezzanine/new/2021-03-31/
Feedback on the labels to use, duration, and other aspects are welcome. How the ad slate would be used is also unclear to me. Some clarification would be useful before we create any additional mezzanine content for that.

[2021-06-23 18:46] dsilhavy commented on #22
Please ignore if this was not your question:

Ad slates are used to fill small gaps between the announced duration of an ad pod and the duration of the ad period returned by the ad server. For example:

- Duration of the ad pod is 30 seconds
- The ad server returns an ad with a duration of 28 seconds
- The remaining 2 seconds are filled with an ad slate. After the slate the player returns to the m

[2021-06-23 19:07] jpiesing commented on #22
@dsilhavy @louaybassbouss  What Period structure would you propose for 8.8? Essentially the WAVE splicing conditions are DASH-IF test case 1 - without any overlaps. Could you write a sufficiently detailed description for @rbouqueau to script it?

[2021-06-24 07:23] andyburras commented on #22
@dsilhavy So just to clarify... the ad slate is not required for the CTA WAVE DPCTF testing because we are not testing players, just the device's underlying implementations (so there is no difference below the MSE API between a splice from main->ad and from ad->slate).
However, the ad slate would be very useful to allow DASH-IF testing to make use of the same CTA WAVE test content (where players m

[2021-06-24 07:47] jpiesing commented on #22
@rbouqueau @louaybassbouss I'm trying to work out how this divides between your two activities.
@louaybassbouss Please can you be extremely precise about what you're waiting for? My guess is that it's two pieces of test content 1) according to table 5 & table 6 of CTA 5001, 2) with the same content options, 3) with video & audio segment durations aligned to that the second content can be inserted

[2021-06-24 08:59] dsilhavy commented on #22
- Let's leave the ad slate out of the scope here. As you mentioned, from an MSE perspective there is no difference between transitioning from main to ad and ad to ad slate. The difference here lies in the small periods for ad slates. These need to be handled correctly by a DASH player. Consequently, out of scope for this discussion.
- The content created by @rbouqueau for https://github.com/Dash-I

[2021-06-24 09:17] jpiesing commented on #22
The observation framework relies on the QR codes (etc) in the WAVE mezzanine so we would need to use that mezzanine for the main periods.

Which is more likely to cause a problem with an MSE implementation? Adding the duration of the ad or not adding it?

[2021-06-24 09:26] dsilhavy commented on #22
From an MSE implementation it looks the same as we apply an offset in both cases. However, I would prefer to test the VoD case, not adding the duration of the ad. Main argument here is that for live the `@presentationTimeOffset` in period 3 could be omitted when setting `@startnumber` to 1 and `@t` to 0.

[2021-06-24 09:57] rbouqueau commented on #22
FYI there already is a version of the content with ToS and BBB as an ad: https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html?mpd=https://dash.akamaized.net/dashif/ad-insertion-testcase1/batch5/real/a/ad-insertion-testcase1.mpd

[2021-06-24 10:31] andyburras commented on #22
We need to use the mezzanine content for both the main and advert because we need the QR codes to be able to check requirements like all the frames of the advert are presented in the correct order. So I don't think reusing any DASH-IF content is an option.

[2021-06-24 13:52] yanj-github commented on #42
So @louaybassbouss I think we are fine without no default playout. Can you help look at the following please?

- "fullscreen-playback-of-switching-sets.html" does not switches the representation but it always plays the 1st one.
- And for "overlapping-fragments.html" is it should be using ss1 instead of content t1, if this test meant to use CMAF Switching Set? Also I am not 100% sure about this eit

[2021-06-24 13:52] jpiesing commented on #22
Unfortunately that doesn't have the annotations that the observation framework relies on.

[2021-06-24 13:54] jpiesing commented on #42
Indeed the spreadsheet says overlapping-fragments should be with stream t1 so using it with ss1 looks like a bug.

[2021-06-24 13:57] louaybassbouss commented on #42
@FritzHeiden  can you please check both items raised by @yanj-github

[2021-06-24 14:06] louaybassbouss commented on #42
@jpiesing  "overlapping-fragments.html" uses content `t1`(see [tests.csv L74](https://github.com/cta-wave/dpctf-tests/blob/master/tests.csv#L74)) as stated in the spreadsheet. What do you mean `...using it with ss1 looks like a bug`?

[2021-06-24 14:07] jpiesing commented on #42
@yanj-github Said "overlapping-fragments.html" used content ss1 - perhaps this was a mistake?

[2021-06-24 14:33] rbouqueau commented on #22
Thanks both for the clarification. I can regenerate the same content with the mezzaning source whenever you feel this is ready to process. Let me know.

[2021-06-24 15:00] louaybassbouss commented on #43
@yanj-github we cannot reproduce this issue on our side. Are the zeros in currentTime added by your script or they are parsed from the `ct` property in the QR code? For example if `s` is `buffering`, you put in corresponding `currentTime` field in the CSV file a `0` but we don't report any `ct` in this case. @jpiesing did you use online or downloaded content in your test? do you see the player sta

[2021-06-24 15:10] yanj-github commented on #42
No @jpiesing I meant to ask should "overlapping-fragments.html" use switching set? In the spec 8.10.2 it says "A CMAF Switching Set is available for playback following the properties".

[2021-06-24 15:17] yanj-github commented on #43
@jpiesing what is happening in the QR code is there is no current time but only playing and play event then delay.
I was expecting to see current time when the status is playing.
What OF should report in this case for calculating current time match case? Should it say pass @jpiesing ?

[2021-06-24 16:18] andyburras commented on #43
Just to clarify, what I've seen is:

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href="file:///C:/Users/ANDY~1.BUR/AppData/Loc

[2021-06-24 16:42] louaybassbouss commented on #43
Thanks @andyburras we will check.

[2021-06-24 17:22] jpiesing commented on #43
Downloaded in that one. Downloaded seems not to be available any more though.

[2021-06-25 08:09] yanj-github commented on #43
Thanks @louaybassbouss.
When status saying bufferring OF does not do the current time check.

[2021-06-28 11:02] yanj-github commented on #40
This is working now.

[2021-06-28 11:02] #40 closed

[2021-06-28 12:43] jpiesing commented on #12
@rbouqueau Is there anything I can do to help you? Is there someone I could chase?

[2021-06-28 13:32] rbouqueau commented on #12
@jpiesing Thanks, we are waiting for Daniel's insights at the moment.

[2021-06-28 15:51] FritzHeiden commented on #43
We improved the video status updating mechanism and added the current time to the qr code whenever possible.

[2021-06-29 07:57] louaybassbouss commented on #43
@yanj-github can you re-run the tests on the mentioned device (since we cannot reproduce) and send us the Observation CSV file?

[2021-06-29 08:01] jpiesing commented on #43
I believe the device here is my current mobile phone. If so, the file used is C0028. I shared a new run from this device with @yanj-github yesterday.

[2021-06-29 08:22] yanj-github commented on #43
@jpiesing Your file sent to me yesterday C0030 does not include this fix. I think you need to get the latest change of test runner.
Do you mind do another recording please? I am unable to replicate same problem on my device here.
@FritzHeiden Do you mean current time is sent always?

[2021-06-29 08:30] FritzHeiden commented on #43
@yanj-github Yes, as soon as the video plays, the current time is included in every qr code update

[2021-06-30 13:31] jpiesing commented on #22
@louaybassbouss @rbouqueau Is there any reason not to go ahead with this now & take advantage of the time while the encryption issue is being investigated?

[2021-06-30 14:22] louaybassbouss commented on #22
@jpiesing from test implementation perspective we already tested the latest Multi-Period content created by @rbouqueau (this one https://dash.akamaized.net/dashif/ad-insertion-testcase1/batch5/real/a/ad-insertion-testcase1.mpd) and it is working fine (video plays until the end as expected). Once the Multi-Period content with mezzanine source is available, we will do final check that the new conten

[2021-06-30 14:35] jpiesing commented on #22
@rbouqueau  Please go ahead.

[2021-06-30 14:48] nicholas-fr commented on #22
@rbouqueau I've just re-generated and uploaded the 30s bbb content so that the start/end frames have QR codes, in line with the latest mezzanine changes.
The new streams are here: https://dash.akamaized.net/WAVE/Mezzanine/under_review/2021-06-30/
720p/1080p, 25fps/30fps for now, for an initial test/review.

[2021-06-30 15:27] FritzHeiden commented on #22
I added a test with multi period content (https://dash.akamaized.net/dashif/ad-insertion-testcase1/batch5/real/a/ad-insertion-testcase1.mpd) in case you want to test it.

[2021-06-30 21:03] rbouqueau commented on #22
Thanks for assembling the pieces.

I re-executed the DASH-IF splice script from the 25 fps content ; note that it is a completely different script from the one executed for the existing CTA-Wave content.

I kept the same timings and durations as in the DASH-IF script. Let me know if you need something else:
https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html?mp

[2021-07-01 07:33] jpiesing commented on #22
Yes please. In order to integrate it with all the rest of the work from Fraunhofer, I think it needs to be included in database.json as well.

@louaybassbouss @FritzHeiden Do you need anything else to add this to the CSV file & generate an HTML+JS+MPD combination that I can run?

[2021-07-01 07:49] louaybassbouss commented on #22
@rbouqueau we couldn't test the [latest content](https://www.gpac-licensing.com/downloads/CTA-Wave/splice-testcase1/batch1/ad-insertion-testcase1.mpd) it seems that CORS header are not set. You can proceed as I mentioned in previous comment with uploading the content to WAVE/vectors folder and updating database.json file. Please ping us when this is done.

[2021-07-01 07:57] rbouqueau commented on #22
Ok. I would like someone to validate the content itself. Is it ok?

https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html?mpd=https://www.gpac-licensing.com/downloads/CTA-Wave/splice-testcase1/batch1/ad-insertion-testcase1.mpd

[2021-07-01 07:59] dsilhavy commented on #12
We checked the content. I think the issue is not the encryption but rather a minor mistake in the MPD. In the audio AdaptationSet the timeline looks like this:
[code]
S@t is set to 0 for all of the entries which is not correct. It should look like this:
[code]

Otherwise it breaks the time calculation in dash.js. Additional question: Any reasons to not use the aligned segment length here (1.92 sec

[2021-07-01 08:07] louaybassbouss commented on #22
![image](https://user-images.githubusercontent.com/1138409/124089119-e1c72e80-da53-11eb-9c92-bb5bce47a438.png)
 but the MPD file is available

[2021-07-01 09:00] jpiesing commented on #22
Please don't forget that test 8.13 is "Restricted Splicing of Encrypted Content". My interpretation is that this is the same as 8.8 but everything is encrypted. Transitions between encrypted & un-encrypted content and back again are covered by 8.14.

Obviously encryption will be blocked by https://github.com/cta-wave/dpctf-tests/issues/12 .

[2021-07-01 10:44] nicholas-fr commented on #22
I played the content using VLC.
I was expecting main > ad > main.
Instead ad > main > ad mezzanine has been used. So I think the content used need to be switched.

More precisely I would expect to see:
Start frame of main > main frames > start frame of ad > ad frames > end frame of ad > more main frames > end frame of main

Regarding the durations, I would expect that the mezzanine for the 2nd per

[2021-07-01 11:25] rbouqueau commented on #22
In case it can help, to bypass CORS restrictions you can find browser extensions.

@nicholas-fr Thanks for the clarifications, this is what I was expecting. FYI if we do 30s then the media durations won't be aligned with the period durations ; not an issue per se but that's a contraint that was not present in the original DASH-IF test.

[2021-07-01 12:21] jpiesing commented on #22
For the basic WAVE spicing test, we need the Period duration to be an exact multiple of the video & audio segment durations so there no gaps & no overlaps.
@nicholas-fr  That means we will need new mezzanine content :(

[2021-07-01 13:26] haudiobe commented on #22
Colleagues, I need to chime in here. I just talked to Romain and afterwards to Daniel. I believe we are making a wrong assumption, namely to create a spliced content. The basic idea of all of the work is to
1) use 2 content items
2) instruct how they are spliced in time

I attach a slide deck that provides the basics for this.
[Splice-Conditioning.pptx](https://github.com/cta-wave/dpctf-tests/file

[2021-07-01 13:57] jpiesing commented on #22
Thomas,

Can I ask why you believe this?

Jon

________________________________
From: Thomas Stockhammer ***@***.***>
Sent: 01 July 2021 15:26
To: cta-wave/dpctf-tests
Cc: Jon Piesing; Mention
Subject: Re: [cta-wave/dpctf-tests] 8.8 Playback over WAVE Baseline Splice Constraints (#22)

[External Email]:

Colleagues, I need to chime in here. I just talked to Romain and afterwards to Daniel. I belie

[2021-07-01 14:13] haudiobe commented on #22
I am ok either way. But I fear that we have to a lot of detailed work in front of us for every possible splice constraints and a new MPD needs to be created. The test stimulus then is a DASH client implementation rather than a description of the functionality. Even if we create these MPDs for splicing, we should do some scripting to say: create a splice. Manual creation will not scale.

So I am ok

[2021-07-01 16:10] louaybassbouss commented on #22
@haudiobe the current implementation of the common player accepts 2 MPDs one for video and one for audio as it was the requirement until now. Changing the test player to handle more MPDs for video is time consuming for us and we don't have the resources to do this change in the player.  In addition we need to make sure that other tests are not affected. From our perspective, we prefer to option wi

[2021-07-06 06:27] haudiobe commented on #22
Well, multi-period is kind of possible. But it requires lots of work in the spec because we need to exactly describe the different cases and secondly, people will complain again why we do not do the same for HLS. And at the end the whole issue gets more complex even if you combine audio and video and so on. the MPD in the DPC spec where NEVER considered being playback instructions, they were alway

[2021-07-06 06:43] jpiesing commented on #22
@haudiobe What we need to test is that the right sequence of CMAF segments are fed into an MSE SourceBuffer in the right order (and perhaps at the right time) and play correctly. It *should* not matter how the test code is instructed what that right sequence of CMAF media segments is. @louaybassbouss believes multi-Period is the simplest way to define what this right sequence of media segments is.

[2021-07-06 06:52] haudiobe commented on #22
Ok - just for once. I will not argue against this anymore as I do not have the time to convince differently. But I want to say it here and clearly (and not not having said it): I am personally convinced that the approach is wrong and will not scale in the future as we will result in many cases that we need to indirectly support by MPDs instead of playback instructions. I am not sure who will be re

[2021-07-06 07:03] jpiesing commented on #22
@haudiobe Two genuine questions;
* What is the alternative? Separate MPD for the content to be inserted & define a time to switch from one to the other?
* How bad is the scalability issue really?
I just want to make sure that we take a path that improves things & which can be delivered.

[2021-07-06 10:02] andyburras commented on #22
I recall Kilroy did do some initial analysis of the combinatorial scale before he retired. I've just had a look in the CSTF and DPCTF documents register but couldn't find any released document that gave actual figures, so it may just have been something he discussed? Bill Rose gave an initial overview of the scope in https://standards.cta.tech/apps/org/workgroup/cstf/download.php/22077/latest

Kil

[2021-07-06 12:08] louaybassbouss commented on #43
@jpiesing  it is possible to share the video recording of the test where the issue occurs with us if the issue still occurs.

[2021-07-06 13:33] jpiesing commented on #43
@louaybassbouss I've also sent you C0030 via wetransfer.com - I think this one includes the problem - at least it predates the fixes. I've not validated if there is still a problem. I'm sending you C0036 which should include the fixes.

[2021-07-06 13:49] yanj-github commented on #43
Here are the extraction from C0036:
Can still see the 0 current time no differences. @jpiesing can you confirm 0036 tested with the fix please?

2888 |   |   |   |   | playing | play | 0.504144 | 28
-- | -- | -- | -- | -- | -- | -- | -- | --
2889 | L1 | 633 | 19 | 30 |   |   |   |  
2889 |   |   |   |   | playing | play | 0.504144 | 28
2890 | L1 | 633 | 19 | 30 |   |   |   |  
2890 |   |   |   |  

[2021-07-06 13:52] louaybassbouss commented on #42
@yanj-github regarding to your  question regarding `fullscreen-playback-of-switching-sets.html` the [spec description](https://cdn.cta.tech/cta/media/media/resources/standards/pdfs/cta-5003-final.pdf) is not very clear or maybe this is a bug. Section "8.11.3 Parameters and Variants" says `Same as documented in clause 8.9.3.`. Section 8.9 ist about out of order loading and don't use playout paramet

[2021-07-06 13:55] jpiesing commented on #43
C0036 was made on the morning of July 1st using the version which was current at that time.

[2021-07-06 14:10] yanj-github commented on #43
![image](https://user-images.githubusercontent.com/59022223/124614498-327fc280-de6c-11eb-9023-83c399f44460.png)

[2021-07-06 14:12] rbouqueau commented on #22
I'm starting to think that we should separate the MPD generation from the media file generation. That's possible with GPAC and it is probably desirable for clarity in this project. What do you think?

[2021-07-06 14:24] jpiesing commented on #22
As far as I can see, what we are looking for is something like this;

1) Encode a version of the main content with segment lengths such that video & audio periodically align. This **should** just be another variant along with streams T1, T2, .... T34. There is already support for varying the segment length in those scripts so this should not be too time consuming. This can be made a standard featu

[2021-07-06 14:28] jpiesing commented on #42
I would have expected 8.11 to reference 8.5 & be the same as 8.5 except for being full screen.
@yanj-github @louaybassbouss @haudiobe What do you think?

[2021-07-06 14:30] louaybassbouss commented on #42
@jpiesing agree

[2021-07-06 14:45] yanj-github commented on #42
Yes. I think so.

[2021-07-06 14:47] yanj-github commented on #42
@jpiesing How about the 8.10 overlapping please? Does it require switching or not please?

[2021-07-06 14:57] jpiesing commented on #42
Yes as far as I can see unless the spec is also wrong on this one. I don't understand it will enough to be certain.

[2021-07-06 15:03] louaybassbouss commented on #42
@yanj-github  you can already use `playout` for this test.

[2021-07-06 15:07] yanj-github commented on #42
Thanks @louaybassbouss

OF expecting playout for this test at the moment and it will fail the observation when this is not defined.

[2021-07-06 16:02] rbouqueau commented on #12
It should work. Would you please validate the fix?

[2021-07-09 07:46] jpiesing commented on #22
Here is my attempt to understand what I think @haudiobe is proposing. Improvements are welcome.

The test has the following;
* Two pieces of content, main and spliced
* The test configuration defines a number K, which is the number of segments/chunks from the start of the main content to the splice point
* The test code takes segments/chunks starting from 1 going up to K and appends these to the M

[2021-07-09 10:43] louaybassbouss commented on #22
Thanks @jpiesing this approach LGTM. I will make a proposal in another GH issue to address the changes in the workflow (starting from tests.csv) in order to support this approach.

The current implementation sets `timestampOffset`  but yes it is better to make it clear in the spec.

[2021-07-09 12:40] jpiesing commented on #22
Just to be clear, my previous comment was really my thought process. IMHO the only things wrong with what's in the spec for 8.8 are 1) missing reference to setting timestampOffset and 2) it really needs an example of what the playout array somewhat like the one I gave. (Assuming this is what was intended).

[2021-07-09 13:52] louaybassbouss commented on #22
yes I interpreted it in this way and this is a good start point for our meeting next week

and 2) it really needs an example of what the playout array somewhat like the one I gave. (Assuming this is what was intended).

Regarding `playout` array we need to make clear how to address the Switching Set. My proposal is:

* Keep the structure of the [tests.csv](https://github.com/cta-wave/dpctf-tests/b

[2021-07-12 11:11] FritzHeiden commented on #12
I just ran a test and it looks good

[2021-07-12 12:03] FritzHeiden commented on #43
I am unable to reproduce this. I double checked the code, current time is read from the video on every qr code update. I now also include the current time in the overlayed text.

[2021-07-12 12:31] jpiesing commented on #43
I'll do a new test run today.

[2021-07-12 16:49] jpiesing commented on #43
No zero values appear in the run today.

[2021-07-12 16:49] #43 closed

[2021-07-12 18:03] jpiesing commented on #12
If you're both OK then please close the issue. I can't run the test for a different reason.

[2021-07-13 06:24] louaybassbouss commented on #12
LGTM as well closing this issue

[2021-07-13 06:24] #12 closed

[2021-07-20 15:46] rbouqueau opened #44 "validating the 2021-07-07 test content"
@louaybassbouss As discussed during the call I'm opening an issue here.

When you have time, could you please the new content available in all the frame rates? https://dash.akamaized.net/WAVE/vectors/2021-07-07/avc_sets

Please comment in https://github.com/cta-wave/Test-Content-Generation/issues/29 and https://github.com/cta-wave/Test-Content-Generation/issues/30.

Happy testing!

[2021-07-20 15:51] louaybassbouss commented on #44
Thanks @rbouqueau  we will do

[2021-07-22 12:52] FritzHeiden commented on #44
I performed a test run and everything looks good. The new tests are available in the generated directory in the repository.

![image](https://user-images.githubusercontent.com/9076000/126641955-5fcce302-a1ad-46ee-a4a9-fd49a579ce82.png)

[2021-07-22 13:19] jpiesing commented on #44
@andyburras @yanj-github would Eurofins be able to run the tests with the 25 / 50Hz video and the 29.97 / 59.94 Hz video & check the observation framework is happy?

[2021-07-27 12:32] jpiesing commented on #22
From the July 20th meeting.

- What additional resolutions do we need for the "ad"?

- What additional frame rates do we need for the "ad"?

- Do we want to do fractional frame rates & what duration would be appropriate for the "ad"?

- Do we want to create new (shorter) main content?

[2021-08-02 15:00] yanj-github commented on #44
I have tested 59.94 for sequetial playback test and 29.97 for random access tests to find out if the starting frames checked currectly. OF is observing then correctly as expected. I didnt check 25 / 50Hz video but they wont make any differences to OF.

[2021-08-03 05:51] jpiesing commented on #44
@rbouqueau Do the above cover the validations you expect? If so then please close this issue.

[2021-08-03 07:17] rbouqueau commented on #44
We can close. Please re-open if you encounter any issue.

[2021-08-03 07:17] #44 closed

[2021-08-09 07:55] louaybassbouss commented on #22
@jpiesing @yanj-github we are mostly done with the implementation of supporting multiple input Audio/Video MPDs (SwitchingSets) to replace the Multi-Period implementation (Multi-Period support is still there but not used in any test). The code is available in a separate branch [feature-multi-mpd](https://github.com/cta-wave/dpctf-tests/tree/feature-multi-mpd) for now, before we merge with the mast

[2021-08-16 08:43] jpiesing commented on #22
@louaybassbouss I have no comments on the proposal.
@yanj-gitub what do you think?

[2021-08-16 08:58] yanj-github commented on #22
Thanks @louaybassbouss
The proposed configuration looks good to me for splicing test.
I can see the "config" changed to "switchingSets" and elements are changed to a list.
Are you going to change this to other configuration as well or only for splicing tests please?
What are the configuration look like for single mpd tests such as sequential-track-playback?

[2021-08-16 09:06] louaybassbouss commented on #22
Our proposal is to apply to all tests (). For other tests, the length of arrays will be `1`. Example:

[code]

wdyt?

[2021-08-19 13:25] yanj-github commented on #22
Thanks @louaybassbouss and @jpiesing
I have following questions if you can help, please?
Q1 to Q3 are question about how we stop test configuration fault which will cause OF fault when it is configured in wrong way. OF will raise error or won’t be able to provide correct observation. It would be helpful either we document it clearly or throw error message when user intend to configure the tests in

[2021-08-24 13:14] yanj-github opened #45 "Question about the random_access_time"
random_access_time set to default value 10 currently on TR configuration.
When the random_access_time set to 10 seconds, it appears to me that the playback starts from 00:10:033 frame number 301.
Is this what we are expecting please?
Do we expect to include 10 seconds or start from next frame from 10 seconds?
Should it start from 10:00:00 frame number 300 or from 00:10:033 frame number 301?

[2021-08-30 09:33] FritzHeiden commented on #45
This is what I would expect. The frame numbering starts with 1, so at timestamp 00:00:00 the video starts with frame 1. Therefore, when skipping to 10:00:00, starting with frame number 301 seems right to me. Please correct me if I am wrong.

[2021-08-30 16:31] FritzHeiden commented on #22
I implemented the proposed changes to the structure of the tests.json and regenerated it. You can find the new [tests.json](https://github.com/cta-wave/dpctf-tests/blob/feature-multi-mpd/generated/tests.json) in the [feature-multi-mpd](https://github.com/cta-wave/dpctf-tests/blob/feature-multi-mpd) branch. I've created a [branch](https://github.com/cta-wave/dpctf-deploy/tree/multi-mpd) in the depl

[2021-08-31 08:18] yanj-github commented on #45
Thanks @FritzHeiden I just wanted to know what to expect on TR end so that OF can match with it. If no one have an objection to it I will keep it same on OF as well to check from next frame and skipping 10:00:00.

[2021-09-01 10:28] #45 closed

[2021-09-08 15:41] yanj-github opened #46 "generates audio tests"
While waiting to get audio content to akamai server, I have tried to generate 8.2 tests with some audio content that we have generated.
However, I found the issue on test generation that providing same video mpd for different audio mpds will only generates one test which has last audio mpd in the row.

I have following rows added to my test.csv file:
_"sequential-track-playback","/content/avc_sets

[2021-09-09 07:56] louaybassbouss commented on #46
Thanks @yanj-github agree with you we should generate 2 tests.  @FritzHeiden  can you check the test generator script please.

[2021-09-13 08:53] yanj-github commented on #22
Hi @louaybassbouss and @FritzHeiden will you be able to add “frame rate” to the "tests.json" file please? It is currently a blocker for us. Thanks.

[2021-09-13 10:56] FritzHeiden commented on #22
I updated the generate script to include the video frame rate. You can find it on the [feature-multi-mpd](https://github.com/cta-wave/dpctf-tests/tree/feature-multi-mpd) branch.

[2021-09-13 10:59] FritzHeiden commented on #46
This bug is already fixed in the upcoming update for the generate-tests.py script. You can find it in the [feature-multi-mpd](https://github.com/cta-wave/dpctf-tests/tree/feature-multi-mpd) branch

[2021-09-13 11:06] jpiesing opened #47 "8.13 Restricted Splicing of Encrypted Content"
This is an issue to make sure that completing this test doesn't get lost after https://github.com/cta-wave/dpctf-tests/issues/22 has been addressed for 8.8.

[2021-09-14 07:34] louaybassbouss commented on #46
@yanj-github is it Ok for you to use it from the feature-multi-mpd branch?

[2021-09-14 09:04] yanj-github commented on #46
Yes this will be fine to be stay in the same branch for time being.

[2021-09-14 11:08] louaybassbouss commented on #42
@yanj-github this is an old issue I think it should be solved now can you please confirm?

[2021-09-14 11:09] louaybassbouss commented on #32
@yanj-github can we close this issue?

[2021-09-14 11:12] louaybassbouss commented on #22
@yanj-github this issue is ready from our side the only missing step is to merge it with master once you finished testing.

[2021-09-14 11:43] yanj-github commented on #42
I still need an answer to the test 8.10 overlapping.
Can anyone confirm that 8.10 overlapping test uses single track, not uses switching set content please?

[2021-09-14 11:46] yanj-github commented on #22
This is tracked on https://github.com/cta-wave/dpctf-tests/issues/22 we can close this as this is duplicated.

[2021-09-14 11:46] louaybassbouss commented on #22
For all tests that expect a single MPD such as sequential test only the first combination will be considered. All other MPDs are ignored. There is no error message.

In the current set of tests, only Splicing tests expect more than 1 MPD and you can control it via the `playout` parameter. MPDs that are not addressed in the `playout` parameter are ignored. If an MPD index is not defined, then we th

[2021-09-14 11:47] yanj-github commented on #32
This is tracked on #22 we can close this as this is duplicated.

[2021-09-14 12:01] jpiesing commented on #42
No. 8.10 uses multiple tracks. "K" is >1.

![image](https://user-images.githubusercontent.com/8490792/133253862-bd2c688f-f949-4935-a53f-fd468c9d9b9a.png)

[2021-09-14 13:29] #32 closed

[2021-09-14 13:38] yanj-github commented on #42
Thanks @jpiesing
The following from tests.csv
overlapping-fragments  https://dash.akamaized.net/WAVE/vectors/2021-07-07/avc_sets/15_30_60/t1/stream.mpd

Dose it mean it should use ss1?

[2021-09-14 13:44] jpiesing commented on #42
Yes, SS1 needs to be used. This is an error in the google docs spreadsheet.

[2021-09-14 14:30] yanj-github commented on #22
Thanks @louaybassbouss
Q1

This sounds good to me. From the branch I can see that multiple MPDs configured for switching test which confuses me. If multiple MPDs only expected for splicing tests can you kindly change it please?
https://github.com/cta-wave/dpctf-tests/blob/feature-multi-mpd/tests.csv

Q2

When playout is missing for the test which it is expected, OF will give a result saying playou

[2021-09-14 15:18] louaybassbouss commented on #42
@FritzHeiden  can you update the CSV to use ss1 for this test?

[2021-09-15 10:12] yanj-github opened #48 "random_access_fragment parameter"
As far as I know the random_access_fragment parameter allows any data type from the configuration file.
However, it seems that it supports only integer on the TR.

When random_access_fragment is float the OF calculates starting frames based on its given float value but on TR playback starts on different number.
e.g: random_access_fragment=10.2
TR starts from 301 which is same as random_access_frag

[2021-09-15 10:16] jpiesing commented on #48
It has to be integer.
Random access to anything other than the start of a fragment is a different test.

[2021-09-15 10:29] jpiesing commented on #48
Depends on the units. Random access to time can by definition be fractional seconds.
If the units are seconds then it's a floating point number.
If the units are milliseconds or 1/100ths of a second then it might be integers.
HTML5's currentTime https://html.spec.whatwg.org/multipage/media.html#dom-media-currenttime is a double so I would assume by default this is a double.

[2021-09-15 11:40] yanj-github commented on #48
Thanks @jpiesing
As far as I know the TR does not stop user from entering the float value for random_access_fragment but it cast is to integer.
However, OF just take the value what is in the configuration file. Therefor the result is not aligned.
Do you want OF to do the same please? Or would it better for TR to flag the configuration fault when user enter invalid value.

@louaybassbouss Does rand

[2021-09-15 12:47] yanj-github opened #49 "when playout parameter is missing"
Currently, the playout parameters are not set up programmatically after the test runner is installed.
As far as I am aware, we are expecting user to configure the playout parameters manually for each test that they want to run depends on their requirements. I don’t see this process is documented anywhere but can anyone confirm if this is what we expected please?

If the user hasn't configured the

[2021-09-15 13:32] yanj-github opened #50 "limitation of playout for splicing test"
Is there any limitation of playout parameter for splicing test? Or it will be robust that any values are allowed please?
To do correct observation we need to know whether or not there is any limitation to the playout for splicing test.
Because of the playout is not configured on TR by default, the user can enter anything without any allowed limit.

With playout[i]: [(Switching Set, CMAF track numb

[2021-09-21 15:50] jpiesing opened #51 "what audio-only tests are needed?"
What audio-only tests are needed?

For video, I created a sparse-matrix identifying which of the HTML+JavaScript test code (templates) needed running with which of the test content. This helped confirm that we had the correct test content. It was used to create a .csv file which generated the actual tests.

This issue is to track the creation of that .csv file for the audio-only tests, e.g. the Do

[2021-09-22 08:15] haudiobe opened #52 "Mezzanine identifier"
In the DASH MPD for the test content, we need use an identifier for the mezzanine. It consists of a key (a uri) value (a string) pair in the Asset Identifier.

Multiple Options are possible:

Option 1:
- key is the URL to the mezzanine content
- value is the start time (if not present) it is zero

Option 2:
- key is a well defined URN such as
   - a) urn:cta:tech:wave-test-mezzanine
   - b) http:/

[2021-09-22 08:18] haudiobe opened #53 "Program Information in MPD"
In order to identify the CTA WAVE test asset vector properly, it is proposed to add the ProgramInformation into the test MPD.

The Program Information is currently proposed to be set as follows
- The ProgramInformation element shall be present with the following information
  - The Title element may be present as an instructive summary of the Test Asset.
  - The Source element shall be present be

[2021-09-22 08:57] jpiesing commented on #52
@nicholas-fr ?

[2021-09-22 08:58] yanj-github commented on #46
I have checked this it looks fine to me. Close this ticket when it merged to master.

[2021-09-22 14:08] cta-source commented on #53
Regarding ProgramInformation, should it include something like,

-
   - The Mezzanine Annotations version information, to identify the mezzanine specification version for programmers seeking to work with the annotations?

[2021-09-22 14:09] cta-source commented on #52
Regarding option 2: If we need a well-defined URN, CTA can apply via instructions in [RFC8141](https://www.rfc-editor.org/rfc/rfc8141.html).  Dropping this here for future reference in case we go down this road.  Note that receiving registration confirmation will likely require "weeks" (or "months"), so we should plan to get this going sooner rather than later if we do so.

[2021-09-22 15:35] cta-source commented on #51
From requirements analysis of the DPCTF spec as presented in DPCTF 9/1/2021:

- DPC Specification Audio Observation Requirements (sections 8 & 9):
1. Every audio sample renders
2. Audio samples render in increasing presentation time order
3. Audio playback duration matches expected value, at audio-sample-level resolution.
4. For random access (time or fragment), no earlier audio sample shall be re

[2021-09-22 20:56] cta-source commented on #52
@haudiobe, I'd like to expand on the discussion of the URL structure for mezzanine content, as discussed in today's (9/22/2021) DPCTF meeting.

URL redirection (via CNAME or other method) means we rely on an IT department to maintain that redirection.  It's a single point of failure for the test suite.  This is a pretty good reason to look for another way to solve this problem.

We also discuss us

[2021-09-23 06:05] nicholas-fr commented on #52
If I have understood, there are 2 actions needed:

1. Setting up a URL (https://cta.tech/wave) to redirect to https://dash-large-files.akamaized.net/WAVE/
2. Modifying any code that accesses mezzanine content to use a URL prefix parameter (easily updated later on as needed) and the fixed path to mezzanine releases or mezzanine content under review.

Code would use https://cta.tech/wave/ as the URL

[2021-09-23 06:13] jpiesing commented on #52
Can we rewind the discussion a little?
I'm not convinced that we need it at all.
@haudiobe What problem is this solving?

If we do need it, why do we need URLs that resolve at all? That really seems like a lot of work to come up with something that is maintainable in the medium term.

[2021-09-23 11:53] louaybassbouss commented on #50
To do correct observation we need to know whether or not there is any limitation to the playout for splicing test.
Because of the playout is not configured on TR by default, the user can enter anything without any allowed limit.

@yanj-github I prefer to provide a default value for `playout` in [test-config.json](https://github.com/cta-wave/dpctf-tests/blob/master/test-config.json). It can be over

[2021-09-23 11:56] louaybassbouss commented on #49
As I mentioned in the other thread, I prefer to provide a default `playout` value for any test that requires it. And of course document this parameter and how users can override it if needed.

Can you provide the configuration you use and we can update the tests-config.json with those as default values?

[2021-09-23 12:04] jpiesing commented on #49
Absolutely not. We are not expecting users to configure anything.

[2021-09-23 12:09] jpiesing commented on #50
Users should not be configuring anything at all.
All properties & values **need** to have sensible defaults.
I don't believe any effort should be spent on making the test runner or OF robust if users change the default configurations - all bets are off if they do something stupid. In fact we should probably document that we don't provide any support on this.

[2021-09-23 12:18] yanj-github commented on #49
Thanks to confirm. Which is more clear to me now.
So the issue is that the playout parameters are missing from the https://github.com/cta-wave/dpctf-tests/blob/master/test-config.json.
On pervious thread you have mentioned that we should not provide default parameter for the test code. I do agree as the playout might be different and it related to the content that is linked to the test code.
What

[2021-09-23 12:22] andyburras commented on #52
Somewhat related... the Observation Framework will need access to the audio mezzanine used in a test (method as yet TBD). It needs to do a cross-correlation between this and the recorded audio.
If the audio mezzanine itself is updated, or if a test is regenerated using different audio mezzanine to an ealier version of the test then the OF will need access to the correct one. Having some sort of un

[2021-09-23 12:38] yanj-github commented on #50
Thanks @jpiesing  and @louaybassbouss.
I think it will be better to made an agreement between providing default playout parameter on test code level or for each and every test in the configuration. There is a risk in defaulting on test code level it might not work on different content depands on which content the test code is mapped with. Or fix the playout parameter for each and every test in the

[2021-09-23 13:08] cta-source commented on #52
@andyburras, we are currently (in the study project) embedding a pseudo-random noise (PN or PRN) pattern in audio.  In the current concept, that PN sequence is always one of four "known" PN sequences that are archived for this project.  The goal is to cross-correlate those PN sequences.  If there is music or other audio in the test clip, that would be noise overlaid on the PN sequence.

So if the

[2021-09-23 13:10] cta-source commented on #52
I should add--we're actually saying the same thing, that the OF needs a priori information to cross-correlate with.  But that a priori information is one of four files: PN01.wave, PN02.wav, PN03.wav and PN04.wav.

[2021-09-23 13:25] jpiesing commented on #49
Can you provide a reference to this so I can see the context?

playout will be different for each test (combination of HTML+JS template and stream(s)). However it will need to be provided as part of the test suite WAVE delivers to the industry.

Yes (assuming test = combination of HTML+JS+stream(s)).

Which gaps are there?

[2021-09-23 13:32] andyburras commented on #52
Agreed. And if there was a necessity to regenerate audio mezzanine for whatever reason then provided it was given a unique name e.g. PN05, PN06, etc. then that should cover that issue.
The other aspect is if the test content for an existing test needs to be regenerated for some reason and has to use a different audio mezzanine. We need to be able to map the current running version of a test to its

[2021-09-23 13:46] yanj-github commented on #49
@jpiesing

https://github.com/cta-wave/dpctf-tests/issues/42#issuecomment-866913171

As far as I know, expected playout need to be defined for all the tests that requires it. This requires understaning of the test requirement such as whether swiching set swiches once twice or 3 times etc. And also playout is based on the contents that is linked, which need to be valid based on the requirement and

[2021-09-23 13:53] jpiesing commented on #49
That response remains correct. There needs to be a (default) value of playout separately defined for each and every single test which uses it. There's no such thing as a default value of playout that applies to more than one test.

Yes. Absolutely. It could not be otherwise.

Yes.

I've provided examples in various issues.

[2021-09-23 14:30] jpiesing commented on #49
There are 4 tests that need playout according to the DPCTF spec. Each of them will need its own value of playout[] defining that is aligned with the content to be used for that test.
8.5 Switching Set Playback
8.8 Playback over WAVE Baseline Splice Constraints
8.10 Overlapping Fragments
9.4 Splicing of WAVE Program with Baseline Constraints

I remember making a proposal for 8.5 which stepped throu

[2021-09-23 14:35] jpiesing commented on #50
I think this issue has now shrunk & become the same as [when playout parameter is missing](https://github.com/cta-wave/dpctf-tests/issues/49). If that's correct, please close this one. If it's not correct, please be clear about what is left here.

[2021-09-23 15:55] yanj-github commented on #50
Missing playout paramter for splicing test is to be added, which will be managed in #49
Based on `Users should not be configuring anything at all. `
OF will not support the any (random) playout that is changed by user.

[2021-09-23 15:55] #50 closed

[2021-09-23 16:04] yanj-github commented on #49
This is fine on the OF point. @louaybassbouss will this work on TR please?

Dose the following test require playout as well please?
8.11 Full Screen Playback of Switching Sets
8.13 Restricted Splicing of Encrypted Content
8.14 Sequential Playback of Encrypted and Non-Encrypted Baseline Content

[2021-09-24 06:26] jpiesing commented on #49
Yes. The DPCTF spec just doesn't use the word "playout".

This is the same as 8.9 & playout[] should be the same.

I don't understand this one.

I expect this one will be somewhat like 8.8. Two switching sets each with one track, one switching set encrypted and one not encrypted.
I expect playout would take the first half of the encrypted segments then the all the unencrypted segments then the rem

[2021-09-24 10:55] jpiesing commented on #51
@cta-source I may be missing something but the list above appears to start from a clean sheet whereas I was expecting we would be re-using the template HTML+JS from the video-only tests. Look at sections 8 and 9 of the DPCTF spec.

I was expecting something like this;
8.2 - run once for each option for how an audio codec bitstream can be packaged into ISOBMFF (options within the bitstream are assu

[2021-09-24 12:27] jpiesing opened #54 "video not always scaled to fit window"
I've seen a couple of times when the video for encrypted content playback is not scaled to fit the window.
![Screenshot_20210924_142235](https://user-images.githubusercontent.com/8490792/134673681-4208b314-5bef-4e7f-8471-b0de8c803a9b.png)
I does the same on a desktop if you make the browser window smaller than the video.
![image](https://user-images.githubusercontent.com/8490792/134674124-4a7749cf

[2021-09-24 12:53] cta-source commented on #51
I also assume that we will re-use the template HTML+JS.  I'm not sure, but I think we're at different points in implementation--my list is still an intermediary step.  I'm mapping the tests I identified to 8.2, 8.3, etc.  So rather than craft a unique test for each item, there will eventually be buried into the test suite certain tests or functions that need to be called for each case.

So 8.2 req

[2021-09-24 13:02] jpiesing commented on #51
It may be that I'm missing something about what information is being embedded in the audio & with what granularity.

For video, each frame includes stream identifier, timecode of the frame, frame number, frame rate.
What is included in each 20ms audio segment?
What bitrate does this technique give?

[2021-09-24 13:29] cta-source commented on #51
Short answer: No encoded data other than a long always-the-same PN string, from which we can extract timing but nothing else.  Bitrate is effectively 0 after you extract timing information.  I'm assuming we get all that data (stream identifier, etc.) from the video portion of the test, and the audio portion of the test is just verifying the audio playout characteristics.

(This "timing-only" limit

[2021-09-24 14:07] yanj-github commented on #51
Thanks @jpiesing this is inline with what we are thinking.
In addition to this, I think we need to define/choose which video mpd goes with each of these audio tests. Probabaly we can pick same video mpd for different audios.
The reason to add video mpd for audio test is:
- Test Runner seems only plays back content when video mpd is defined
- Some device doesnt support audio only playback
- Observa

[2021-09-24 14:17] louaybassbouss commented on #51
@yanj-github for now yes we can play video only or video+audio tests. For audio only tests a minor change in the core player is needed but easy to support audio only tests from our side. In case the group decide for audio only tests, this is not a blocker.

All QR codes produced by the test runner will be displayed independent if the underlying `<video>` element plays audio only or audio+video.

[2021-09-27 07:14] louaybassbouss commented on #54
@FritzHeiden  can you check

[2021-09-27 07:22] louaybassbouss commented on #53
@haudiobe I see two parts of this issue:
1. Provide ProgramInformation in the test MPD. Maybe better to raise issue in Test-Content project.
2. Make ProgramInformation available for the OF. We already parse the MPD while generating the tests and provide all details in [tests.json](https://github.com/cta-wave/dpctf-tests/blob/feature-multi-mpd/generated/tests.json). We will add a new property  `Pro

[2021-09-27 07:26] louaybassbouss commented on #52
independent from the option you decide to select, from test runner perspective, we need to add a new property (e.g. `mezzanineId`) for each audio/video mezzanine content used in a test. This will be provided  in [tests.json](https://github.com/cta-wave/dpctf-tests/blob/feature-multi-mpd/generated/tests.json). while generating the tests. @jpiesing  can you confirm?

[2021-09-27 13:56] FritzHeiden commented on #54
I am unable to reproduce your issue:

![image](https://user-images.githubusercontent.com/9076000/134922646-fe9b3abe-a2ec-46cb-a130-5920f57c1f15.png)

![image](https://user-images.githubusercontent.com/9076000/134922669-aa6ea056-6228-43ed-9fd1-5f9a5b9ab5e4.png)

What version do you use (commit id)? Or you did you deploy the test runner?

[2021-09-27 15:19] FritzHeiden commented on #54
After taking another look at the screenshots, it seems like there is no css applied to the page. Maybe this is an issue with loading the css file. I still unsure what may cause this.

[2021-09-27 15:24] jpiesing commented on #54
Would there be any error messages if this had happened?

[2021-09-27 15:24] FritzHeiden commented on #42
done.

[2021-09-27 15:26] FritzHeiden commented on #54
There should be an error stating that loading the css file failed. It did not explicitly implemented it.

[2021-09-28 13:29] louaybassbouss commented on #48
@yanj-github it is documented in https://github.com/cta-wave/dpctf-tests/blob/master/TEST_CONFIG.md . Unit is seconds and it is a floating number.

[2021-09-28 14:53] #42 closed

[2021-09-28 14:58] jpiesing commented on #48
I suggest closing this one. Anyone who edits the configuration file needs to **really** know what they're doing. We should not invest time & energy in making the code robust if people doing such edits make mistakes.

[2021-09-28 15:00] #48 closed

[2021-09-28 15:11] louaybassbouss commented on #49
PS: [tests-config.json (in feature-mpd-branch)](https://github.com/cta-wave/dpctf-tests/blob/feature-multi-mpd/test-config.json) includes default values for `playout` (and `loading` for out-of-order-loading tests).

[2021-09-28 16:06] jpiesing commented on #53
28th September meeting
Copyright information is already in the manifest.
@haudiobe and @rbouqueau to discuss offline & ensure the DPCTF spec is correct.

[2021-09-29 10:33] jpiesing commented on #49
@yanj-github Please can you give us a precise list of what is blocking you?

[2021-09-30 08:59] yanj-github commented on #49
Thanks @louaybassbouss
Regarding to switching set tests it is fine for OF not a blocker.
However, @jpiesing said above that

However the following seems only stepped through each CMAF track in the MPD one by one in one direction.
[code]
Either way will work on OF it doesn matter on OF side.
But to make it clear so that playout meet requirement of "stepped through each CMAF track in the MPD one by

[2021-10-04 14:24] louaybassbouss commented on #46
@yanj-github  can you confirm that we can merge the [feature-multi-mpd ](https://github.com/cta-wave/dpctf-tests/tree/feature-multi-mpd) in the master branch?

[2021-10-04 14:25] louaybassbouss commented on #51
PS: audio-only tests are now supported in the feature-multi-mpd branch which will be merged into master soon after @yanj-github confirms

[2021-10-04 14:28] yanj-github commented on #46
@louaybassbouss I think it would be best to wait until next OF release otherwise new branch won't work with current version of OF. We are working on OF currently so it will be ready soon. I will keep you posted when it is ready to go. Thanks.

[2021-10-04 14:42] yanj-github commented on #49
Thanks @louaybassbouss This has unblocked us for implementing splicing observation.
Can I close this issue @jpiesing and @louaybassbouss?

[2021-10-04 15:41] jpiesing opened #56 "update some tests to use 20s or 30s content rather than 60s"
We may consider updating some tests to use 20s or 30s sequences instead of 60s. If so, which?

Sequential track playback generally tests if some content plays at all. If 20s or 30s of a stream plays OK then that's probably good enough.
The same applies for the random access tests.
Switching set playback probably needs 60s.
I'm not sure about the others.

[2021-10-04 15:57] yanj-github commented on #22
@louaybassbouss  and @FritzHeiden
Current configuration settings:
[code]
Just plays back from start to end there is no splicing.

I have also tested the following playout:
[code]
This does splice after 30 mins and it back to begining. This is as expected.
However the test timed out after [2, 1, 12]
and the result shows "timedout" with "undefined" from the error message. Can you have a look please?

[2021-10-04 16:18] jpiesing commented on #49
I think the original question has been answered - all tests need an explicit specification of playout. If playout is needed & not explicitly specified then open a new github issue.

[2021-10-05 07:42] #49 closed

[2021-10-05 08:34] yanj-github opened #57 "Splicing tests not working correctly"
We cannot run splicing tests on the test runner correctly, can you please confirm the playout parameters have been defined and tested successfully, we are not able to use what is in the current release (branch feature-multi-mpd).

ref: https://github.com/cta-wave/dpctf-tests/issues/22#issuecomment-933624077

[2021-10-05 08:55] louaybassbouss commented on #22
@yanj-github we will check. yes we can use `t21`

[2021-10-05 11:17] yanj-github opened #58 "audio tests not working"
E-AC-3 and AC-4 tests are generated on the feature-multi-mpd branch
I tried the following test on TR but it is not working.
`eac3-2021-09-29-online/sequential-track-playback__at1.html`

[2021-10-05 11:55] louaybassbouss commented on #58
@yanj-github can you provide more details?

[2021-10-05 12:07] yanj-github commented on #58
Ch92:	promise_test: Unhandled rejection with value: object "TypeError: Failed to set the 'duration' property on 'MediaSource': The duration is not a number."

This is all I can see from the result.

[2021-10-05 12:35] #46 closed

[2021-10-05 12:37] yanj-github commented on #51
Just to add, splicing and switching tests are not included in e-ac-3 and ac-4 tests that we have generated. These are still under discussion.

[2021-10-05 13:45] louaybassbouss commented on #58
We checked stream [eac3_sets/at1/](https://dash.akamaized.net/WAVE/vectors/2021-09-29/eac3_sets/at1/stream.mpd) in [dash.js](https://reference.dashif.org/dash.js/v4.1.0/samples/dash-if-reference-player/index.html?mpd=https://dash.akamaized.net/WAVE/vectors/2021-09-29/eac3_sets/at1/stream.mpd) and we got an error 'no streams to play'. This is because codec ac3 is not supported in Chrome Browser. Yo

[2021-10-05 13:49] jpiesing commented on #58
Chrome may not support ac3 even if the device supports ac3. Chrome uses ffmpeg to do audio decoding & ignores the audio decoding on the device. ffmpeg doesn't support ac3.

[2021-10-05 13:52] yanj-github commented on #22
@jpiesing  Thanks very mich.
@louaybassbouss I am not really familar with the content downloading process between TR and the content pool.
Can you help with this issues please?
As Jon mentioned I think we should use splice_ad_bbb if avaliable.

[2021-10-05 13:57] jpiesing commented on #58
See https://www.chromium.org/audio-video for a list of codecs supported by regular Chrome and see https://developer.android.com/guide/topics/media/media-formats for regular android.

You may want to discuss with Dolby how to test this.

[2021-10-05 14:02] yanj-github commented on #58
@jpiesing Contents are tested and verified by Dolby.
@louaybassbouss Does current version on "feature-multi-mpd" supports audio only test if you can confirm please? No video mpd is given for this test.

[2021-10-05 14:04] jpiesing commented on #58
That wasn't the point I was trying to make.

Dolby may be able to recommend a web browser / device combination that supports MSE and AC-3/AC-4 as regular Chrome does not - regardless of what the device supports.

[2021-10-05 14:15] FritzHeiden commented on #58
audio-only tests are supported. I added some to demonstrate the functionality.

[2021-10-05 14:26] yanj-github commented on #58
Thanks @jpiesing  I was not using chorme.
I am testing with a TV which supports both E-AC-3 and AC-4 codecs and use the build in browser that supports these codecs.

[2021-10-05 14:28] jpiesing commented on #58
Ah. I was confused by the comment from @louaybassbouss ...

@yanj-github As you are already doing this, I apologise for the distraction.

[2021-10-05 14:46] yanj-github commented on #58
@louaybassbouss
Here are what I can see from TV:
**Ch92:	promise_test: Unhandled rejection with value: object "TypeError: Failed to set the 'duration' property on 'MediaSource': The duration is not a number."**

On chorme (which it doesnt support the codec, that we know it won't work) the error is different on TR:
it says:
Ch92:	promise_test: Unhandled rejection with value: object "TypeError: play

[2021-10-05 14:49] jpiesing commented on #22
If splice_ad_bbb_* don't exist in encoded forms then someone needs to open an issue in the test content generation project asking romain to encode them.

[2021-10-05 15:00] louaybassbouss commented on #58
@yanj-github can you test the audio only test added by @FritzHeiden (`audio-only-online` or `audio-only-local` in CSV) on the same TV? this is to double check that audio-only feature is working properly on this TV.

[2021-10-05 15:54] yanj-github commented on #22
https://github.com/cta-wave/Test-Content/issues/20

[2021-10-05 16:37] yanj-github commented on #58
@louaybassbouss and @FritzHeiden I am trying to get last change which includes the (audio-only-online or audio-only-local in CSV) and trying to get TR updated and set up, but unable to set up the TR correctly with the last commit.
The docker it keep restarting. Was it running fine on your end please?

[2021-10-06 06:24] louaybassbouss commented on #58
@yanj-github yes we tested on our end and audio-only tests (the test in `audio-only-online` and `audio-only-local`) works fine.  Maybe you can do a cleanup and build the docker images again. @FritzHeiden any other idea?

[2021-10-06 06:29] louaybassbouss commented on #57
@yanj-github ->  https://github.com/cta-wave/Test-Content/issues/19#issuecomment-934536470. Can you make sure you are using the latest version in `feature-multi-mpd` branch.

[2021-10-06 06:41] louaybassbouss commented on #56
@jpiesing @yanj-github  do you like to see that last 20s or 30s,... of the sequences? it is fine from the OF perspective if the first part or last part of the content is not displayed for these tests?

Basically you can already now use this feature just by configuring the `playout` parameter. For example for Sequential track playback we can use the following if you want to play only the first 5 fr

[2021-10-06 08:07] yanj-github commented on #58
Thanks @louaybassbouss Just pulled the last change there was one more commit after I fetched it, the last build is working now. Thanks.

[2021-10-06 08:57] haudiobe commented on #52
All,

I rechecked the details again, and I believe we need some more consistency, because we use the different versions.

If I check here, then the assets do not match.

Here is my suggestion:
1) we use the release and the content for content identification, for example 2/croatia
2) for each Representation, we use the "id" in the MPD to specify the exact version, example "id"="A1_480x270@12.5_60"

[2021-10-06 08:58] yanj-github commented on #58
Audio only test working fine with the latest version of TR.
The audio only feature is working on the TV. I can hear the t1.
However, still unable to playback the e-ac-3 tests.
Seeing same error message.

[2021-10-06 09:19] jpiesing commented on #54
I've just tried the encrypted content playback again and I get this issue every time. There's nothing in the messages in the report afterwards. Here are all references to CSS in the docker log.
[docker-log-css-references.txt](https://github.com/cta-wave/dpctf-tests/files/7292415/docker-log-css-references.txt)
There's no 403s or 40 anythings. I'll upload a screenshot from the phone while this is ha

[2021-10-06 09:22] jpiesing commented on #54
![Screenshot_20211006-111137](https://user-images.githubusercontent.com/8490792/136175908-725abd03-ac10-4e87-9f2a-46a1d897eae0.png)
Here's a screen capture from the phone with encrypted content playback running. You can see that the browser graphics are not overlaying the video any more.

[2021-10-06 09:24] haudiobe opened #59 "Consistent Storage of Test Vectors"
It is proposed to have a consistent storage format for the Test Vectors.

A first proposal is in the DPCTF, but we need to fully discuss and agree.

Proposal starting from a root directory

•	CMAF Addressable Resources shall made available as follows
•	All resources are relative to the MPD location.
•	CMAF Header CH[k], k=1,…,K is made available at  `"<media type>/<mezzanine release>/<mezzanine>/<

[2021-10-06 10:04] louaybassbouss commented on #54
@jpiesing  if you open the same test in Chrome Desktop (via same IP and not localhost) do you see the same issue? if yes can you open the Developer console -> Network Tab and check if there are errors while downloading some files (especially CSS). If the issue only happens on the Android Tablet, is there any chance to get a screenshot of the developer console on the tablet via remote debugging (ht

[2021-10-06 11:40] jpiesing commented on #54
This one is off the phone.
![image](https://user-images.githubusercontent.com/8490792/136195628-565bac08-6793-4c18-b7ad-46a99ca3efb7.png)

[2021-10-06 14:13] jpiesing commented on #59
@haudiobe How close is this to what is done already?

[2021-10-06 14:38] FritzHeiden commented on #54
I was able to reproduce the behavior for some time. I added a `dummy.css` before the `style.css`, hoping the error occurs with the dummy, rather than the actual style. I was unable to test it as I was unable to reproduce the bug after I implemented it. @jpiesing Could try to rerun tests with these changes and see if this may fix the issue?