[2021-10-06 17:00] jpiesing commented on #52
@haudiobe I'm still a little lost about what would read this identifier & what would it do with the identifier that it read?

[2021-10-07 10:13] jpiesing commented on #56
Good.

[2021-10-11 15:19] yanj-github opened #60 "hex code does not match"
The hex code on the pre-test page does not match the one that is defined on tests.json file.
It is a new problem that it was not there before.

[2021-10-13 09:37] jpiesing commented on #54
![image](https://user-images.githubusercontent.com/8490792/137108144-9b76a88a-f6d4-4441-9786-1788974c8d1b.png)

[2021-10-22 11:17] yanj-github opened #63 "Are bigger satrt-up delay tolerances allowed for random access to time test and splicing test? If so, what is the suitable value for it?"
Maximum permitted start-up delay is 120ms.
Which is configured in test-config.json file

Bigger value might be required for different test?
Random access to time seems always failing. Probably it required some additional time to decode at the beginning. I think on this test we might want to have bigger tolerance.
Splicing test start up delay check is failed as well. I don't think there might be an

[2021-11-01 15:48] yanj-github opened #65 "unexpected pre-test QR code present after the playback ended"
There is an unexpected pre-test QR code present after the playback ended.
This was presented after the last test in a session is ended, just before TR shows session complete page.
![image](https://user-images.githubusercontent.com/59022223/139700305-ec984ce6-08dd-4fe4-8093-32b9e02f4ed4.png)

[2021-11-03 16:28] FritzHeiden commented on #65
Unfortunately I was unable to reproduce your problem. Can you give more information when it occurs? Does it occur with any number of tests in a test session? Or does it only occur with specific tests or a whole directory? I tried running single tests, some tests and all tests of a test directory.

[2021-11-08 11:04] yanj-github opened #66 "eac3 and ac4 local tests are not avalible"
eac3 and ac4 local tests are not avalible only online tests are avalible.

[2021-11-09 13:56] louaybassbouss commented on #65
@yanj-github can you clear the cache in your browser and try again. We cannot reproduce the error on our side.

[2021-11-09 14:19] yanj-github commented on #65
I had a complete reinstall and having this problem still.
Is seems like only happens on this test to me:
/avc_15_30_60-2021-09-09-local/playback-of-encrypted-content-https__t1-cenc.html

[2021-11-09 14:34] yanj-github commented on #66
@louaybassbouss It is now merged.

[2021-11-09 16:59] yanj-github opened #67 "Can you add two new shared configuration parameters"
Dirven by discussion on
https://github.com/cta-wave/device-observation-framework/issues/32

Can you help to add the following paramters to test-config.json please?

- duration_tolerance
default value is 20, unit milliseconds

- duration_frame_tolerance:
default us 0, unit: number

e.g:
[code]

[2021-11-09 17:38] jpiesing commented on #59
This is the comment I remembered but could not find.

IMHO the stream is basically identified by these 3.

<media_type>/<frame_rate_family>/<stream_id>

These next two identify versions of what is logically the same stream and I would tend to put them at the end. As new versions of the stream are generated when problems are found, these will all be under the same parent.
/<mezzanine_release_versio

[2021-11-10 09:23] louaybassbouss commented on #67
@yanj-github can we add the default parameters in "all" ?

[2021-11-10 09:27] yanj-github commented on #67
Hi @louaybassbouss we dont care on OF level however as far as I know at the moment default value is same but it might required to change for different test differently for the future. I think it would be better to have individul entry per test.
@jpiesing what is your opinion please? Are you fine to have duration tolerances apply to all tests or each entry per test please?

[2021-11-10 09:32] louaybassbouss commented on #67
@yanj-github  yes it is possible to override the values for specific tests. This is the semantic behind the structure of tests-config.json.

[2021-11-10 09:36] louaybassbouss commented on #67
@yanj-github the two new parameters are now added to [tests-config.json](https://github.com/cta-wave/dpctf-tests/blob/master/test-config.json#L7-L8)

[2021-11-10 09:39] yanj-github commented on #67
Yep this is fine in the case. Thanks @louaybassbouss

[2021-11-10 09:45] jpiesing commented on #67
I prefer to have duration tolerances be configurable per test but that seems to be the case anyway as @louaybassbouss explained.

[2021-11-11 08:44] yanj-github opened #68 "test configuration playout paramter out of date"
I can see the tests are 2021-09-09 but the configuration parameters still point back to 2021-07-07.
The playout is missing for new tests 2021-09-09.
e.g: avc_15_30_60-2021-09-09-local/fullscreen-playback-of-switching-sets__ss1.html which is mentioned here https://github.com/cta-wave/device-observation-framework/issues/34#issuecomment-965714491
Can you help to fix it please?

[2021-11-11 08:45] #67 closed

[2021-11-15 08:11] louaybassbouss commented on #68
@yanj-github we will fix this ASAP.

[2021-11-15 12:07] FritzHeiden commented on #66
The zip files referenced in the database.json have an incorrect file structure. From your pull request in `dpctf-tests` I can see that you refer to the local content as follows:
[code]
However, inside the zip files there is no `eac3_sets` or `ac4_sets` directory. As the download script extracts the contents from the zip as is, this results in the following structure in the contents directory:

[co

[2021-11-15 12:10] louaybassbouss commented on #66
@yanj-github can you update the zip files to follow the structure  described by @FritzHeiden

[2021-11-15 12:19] FritzHeiden commented on #68
test-config now updated to 2021-09-09 tests

[2021-11-15 15:22] louaybassbouss commented on #68
@yanj-github  please check and close this issue if the fix works for you

[2021-11-16 13:23] yanj-github commented on #66
Thanks @louaybassbouss and @FritzHeiden I have emailed you a zip file to check. If you can confirm it is correct I will apply to others and get it uploaded.

[2021-11-16 14:12] FritzHeiden commented on #66
@yanj-github The zip looks good to me

[2021-11-17 13:07] louaybassbouss commented on #66
@yanj-github please ping us when the zip files are available on the server

[2021-11-19 11:22] abdulwahabEDT commented on #66
@louaybassbouss and @FritzHeiden new zip files are now available and databse.json is updated. please help generate tests.

[2021-11-22 11:17] michael-forsyth opened #69 "tests.json needs documentation"
Information about the tests is communicated between the test runner and observation framework using the two files:

- tests.json
- test-config.json

The structure and contents of test-config.json is already docuemented at https://github.com/cta-wave/dpctf-tests/blob/master/TEST_CONFIG.md
But there doesn't appear to be any documentation present for tests.json. Can documentation please be made avail

[2021-11-22 12:36] FritzHeiden commented on #66
@abdulwahabEDT  @yanj-github  Local ac3 and eac3 tests are now included in the generated tests directory

[2021-11-22 15:58] #68 closed

[2021-11-22 16:28] yanj-github commented on #58
@FritzHeiden Just managed to check on a TV, the test stuck at status waiting but no audio been played.

[2021-11-22 16:28] #66 closed

[2021-11-23 13:51] louaybassbouss commented on #58
@yanj-github can you share more details?

[2021-11-23 14:28] yanj-github commented on #58
I have tired with dash player the content is playing fine I cna hear the white noise. However, when I run a test on TR nothing been playing I can see the status on the screen shows waiting for long time. "s:Waiting; a:initialise;" and nothing further happens.

[2021-11-23 16:49] rbouqueau commented on #59
Call on 2021/11/23:

- <frame_rate_family> is mandatory for audio but can be ignored for audio
- For each media type, generate two mpds: one more with the media_type, and the other one for convenience with audio+video

[2021-11-23 17:08] jpiesing commented on #59
Did we decide whether <frame_rate_family> is absent for audio, is "void" for audio or is something else?

So would stream a1 for codec ac4 uploaded on 2021-12-04 be something like this;

or something like this;

or something else?

I have a certain preference for video and audio having the same depth of directories but having a directory "void" doesn't feel right.

[2021-11-23 17:25] yanj-github commented on #59
Does this depth of directories somehow related to the folder name on test generation as well?

Based on what I see:
![image](https://user-images.githubusercontent.com/59022223/143073164-f46e6d0d-564d-4ddf-b745-55ed40fc6d62.png)

@jpiesing how about something like:
`ac4_sets/ac4/at1/2021-11-01/2021-12-04`

AACs are complicated but how about this?
[code]

[2021-11-24 11:55] jpiesing commented on #59
@yanj-github I had simplified the codec to one level of directory & not the two levels you listed. Is there a reason for 2 levels?
@rbouqueau What do you think about the two levels of directory proposed by Yan?

[2021-11-24 12:09] yanj-github commented on #59
@jpiesing I think it is fine to have a codec to one level.
My original reason to keep aac_lc, he_aac and he_aac_v2 as a folder is came from my question:
Does this depth of directories somehow related to the folder name on test generation as well?

As what I can see now on the test generation:
`avc_12.5_25_50-2021-09-09-local`
Which shows media type and frame rate on the folder name on TR, so when

[2021-11-24 17:22] rbouqueau commented on #59
I propose that <media_type> maps to the WAVE Media Profile or alternately to the CMAF brand. Opinions?

I agree with using <frame_rate_family> for an equivalent in audio. For Dolby that could be a codec or channel layout, thoughts?

For the audio <stream_id> we only have [this](https://github.com/cta-wave/Test-Content-Generation/blob/master/Instructions/caac.md). Would it make sense to make a tabl

[2021-11-25 09:41] yanj-github commented on #59
It would be nice to have prefix di differenciate two dates.
Q: Is there a specific reason why mezzanine date need to be a folder? Can it be on databse.json instead?
If contents has to be regenrated because of mezzanine change then I belive the content folder will have new date anyway.

[2021-11-25 09:56] rbouqueau commented on #59
Note: in Thomas' initial proposal the mezzanine_version was closer to the root. I agree it makes less sense now.

The question is: do would want/need to expose this on the folder structure?

[2021-11-25 09:59] jpiesing commented on #59
If the mezzanine content is updated & the test content is regenerated then something in the directory hierarchy / filename needs to change to avoid the caching issues <upload_date> could be enough though to avoid this.

I agree that it's not essential for <mezzanine_release_version> to be included.

What do you think @nicholas-fr ?

[2021-11-25 10:39] yanj-github opened #70 "fragment duration for eac-3 and ac-4 audio"
fragment duration for audio is not defined on tests.json file

`"fragment_duration": null`
For eac-3 and ac-4 content.

[2021-11-25 14:12] louaybassbouss commented on #70
@yanj-github  we will investigate the issue

[2021-11-26 18:56] nicholas-fr commented on #59
As long as the mezzanine version used to generate the content is clearly documented somewhere (e.g. database.json, MPD), then I agree it doesn't have to be included as a directory level in the test content path.

[2021-11-29 08:57] rbouqueau commented on #59
It is not at the moment. We should add the mezzanine source/version to the MPD as the database.json will be overwritten (but ok to add at both locations).

Status:
- File structure: ```<media_type>_sets/<sub_media_type (frame_rate_family|audio_codec)>/<stream_id>/<upload_date>``` e.g.
[code]
- TODO: add mezzanine version/source to MPD and database.json
- TODO: document what the audio stream_ids ar

[2021-11-29 13:02] jpiesing commented on #59
That looks consistent with the discussion & I can't see anything wrong with it.

@nicholas-fr ?
@yanj-github ?

[2021-11-29 13:34] yanj-github commented on #59
That looks good to me.
audio stream_ids:
- "at1" stands for audio track 1, but feel free to comments or suggest anything else.

[2021-11-29 13:41] nicholas-fr commented on #59
Looks good to me.

Do we have a complete overview of the audio tests with the corresponding IDs, as we do for AVC?
I didn't see an answer to @rbouqueau 's question [earlier in the thread](https://github.com/cta-wave/dpctf-tests/issues/59#issuecomment-978079403):

[2021-11-29 14:24] rbouqueau commented on #59
Yes it would make sense. That's what I meant by "document what the audio stream_ids are".

Status:
-   File structure: <media_type>_sets/<sub_media_type (frame_rate_family|audio_codec)>/<stream_id>/<upload_date> e.g.
[code]
-  TODO: add mezzanine version/source to MPD and database.json
-  TODO: document what the audio stream_ids are
- TODO: add to annotation specification (see https://github.com/c

[2021-11-29 15:03] yanj-github opened #71 "test failed to run for random access wave presentation"
/avc_15_30_60-2021-09-09-local/random-access-of-a-wave-presentation__t1.html
This test doesnt run.
showing the following error message on result page.
`promise_test: Unhandled rejection with value: object \"TypeError: player.getVideoManifest is not a function`

[2021-11-29 15:04] louaybassbouss commented on #71
@yanj-github we will check and let you know

[2021-11-29 16:33] FritzHeiden commented on #70
@yanj-github `fragment_duration` is now calculated correctly and available in the tests.json file

[2021-12-01 12:26] yanj-github commented on #59
@rbouqueau Regarding to "document what the audio stream_ids are":
What is the value and what do we want to achieve here, which is not clear to me.
Feel free to correct me if I am wrong.
If we would like to map audio stream_ids with its porperty such as channels and fragment duration etc isn't it enough to have this information on database.json? As soon as the database.json is updated with new audi

[2021-12-01 12:46] rbouqueau commented on #59
We want to achieve [this](https://docs.google.com/spreadsheets/d/1hxbqBdJEEdVIDEkpjZ8f5kvbat_9VGxwFP77AXA_0Ao/edit) but for audio.

database.json is an output of the system. It doesn't give enough information to regenerate the streams. Ideally database.json should be filled automatically by the test-content-generation scripts, the risk of manual errors is too high.

@yanj-github  Is it clearer?

[2021-12-01 12:53] jpiesing commented on #59
@yanj-github The stream_ids are based on what streams need to be produced. These are
We need to decide what content options need to be tested for each of the audio codecs. Options fall into 3 groups.
1) Options in the bitstream. I assume Dolby have a test suite that will cover all of these.
2) Options in how the bitstream is packaged in ISOBMFF/CMAF
3) Anything that doesn't easily fit into either

[2021-12-06 18:59] jpiesing commented on #69
It would be good to get this in the next version of the Device Playback specification.

[2021-12-06 19:01] jpiesing commented on #53
@haudiobe @rbouqueau Have you checked the MPDs generated by the scripts are correct? Can we close this issue?

[2021-12-07 07:11] rbouqueau commented on #53
The MPD were checked manually against the DASH-IF validator. The test-content-generation README is being updated to reflect the limitations of the current approach w.r.t. validation.

[2021-12-07 09:18] #70 closed

[2021-12-07 11:08] #71 closed

[2021-12-07 15:28] louaybassbouss commented on #58
@yanj-github are you talking about EAC3 or AC4 content. We did some investigation on HbbTV:
* Both EAC3 and AC4 are playing properly in native player
* EAC3 is playing in dash.js (MSE) but the AC4 stream ist not playing

Is also the AC4 stream working on your side within dash.js or only the EAC3?

[2021-12-07 15:31] yanj-github commented on #58
Hi @louaybassbouss yes my device support both and I used dashjs player online and both playing fine.

[2021-12-07 15:36] yanj-github commented on #65
I cannot replicate this problem.

What I did it reinstall TR completed by removing everything and clear the borwser as well.
One or both might have resolved issue. Closing it now.

[2021-12-07 15:36] #65 closed

[2021-12-07 16:15] jpiesing commented on #59
December 7th meeting
Agree to remove mezzanine version from directory heirarchy.
Is this being written up as a statement of how things are to be done. It will be done.
What about stream ids for audio? That depends on what test streams we have for each audio codec?

[2021-12-07 16:31] louaybassbouss commented on #69
@michael-forsyth  a documentation of generated/tests.json is now available in [TEST_CONFIG.md](/cta-wave/dpctf-tests/blob/master/TEST_CONFIG.md#generatedtestsjson). Feedback is welcome.

[2021-12-09 10:10] louaybassbouss commented on #58
Thanks @yanj-github we got the EAC3 working in dash.js but not the AC4 (both are playing fine in native DASH player). Can you test these two streams your side. autoplay is enabled you only need to open the URLs.

* EAC3 Stream: https://reference.dashif.org/dash.js/nightly/samples/dash-if-reference-player/index.html?mpd=https://dash.akamaized.net/WAVE/vectors/2021-09-29/eac3_sets/at1/stream.mpd&aut

[2021-12-09 14:28] yanj-github commented on #58
@louaybassbouss They both playing back fine here.
I think it might be the device that you are using doesnt support the AC4, in that case.

[2021-12-09 16:59] cta-source commented on #58
If this is the case in this instance, it sounds like the WAVE test suite has caught an issue. It's not necessarily the first time, but it's easily explained in PPT in front of an audience, which is nice to have in one's back pocket.

[2021-12-15 09:00] louaybassbouss opened #72 "Title element is empty"
Passing avc_12.5_25_50-2021-09-09-online/regular-playback-of-a-cmaf-presentation__t1.html through the online HTML validator (https://validator.w3.org/) gives an error:

Error: Element title must not be empty.
From line 5, column 12; to line 5, column 19
   <title></title>

[2021-12-15 11:08] FritzHeiden commented on #72
Fixed all errors and warning outputted from the validator for all template files and regenerated tests

[2021-12-17 16:51] yanj-github commented on #63
It appeares that random access fragment test is failing on start up delay observation as well.
I am not sure whether this is a device issue or not. If anyone else can help to run a test and check on different device will be helpful.

[2021-12-18 16:05] gitwjr commented on #63
@yanj-github @jpiesing Not sure if this is pertinent or not. I ran this test on 11/30/21 using the TR and OF files downloaded that day. It was on a Lenovo Laptop, Windows 10, running Chrome, using a 23" monitor with a Hero 4 camera. The camera seems to work fine with the large monitor as I have had other tests with full pass.
Test Files
/avc_15_30_60-2021-09-09-local/random-access-of-a-wave-presen

[2021-12-20 11:29] louaybassbouss commented on #72
Thanks @FritzHeiden  I will close this issue

[2021-12-20 11:29] #72 closed

[2021-12-20 11:30] louaybassbouss commented on #69
@michael-forsyth  @jpiesing are you fine with the documentation. if yes, feel free to close this issue.

[2021-12-20 11:34] louaybassbouss commented on #51
@yanj-github  I think we can close this issue  can you confirm?

[2021-12-20 18:38] jpiesing commented on #69
Fine by me. Over to you @michael-forsyth  ...

[2022-01-04 09:09] yanj-github commented on #51
I think this one is fine to be closed a well.

[2022-01-04 09:10] #51 closed

[2022-01-04 12:33] michael-forsyth commented on #69
looks fine to me too

[2022-01-04 12:33] #69 closed

[2022-01-06 12:36] jpiesing opened #73 "difference in HTML between sequential track playback and regular playback of chunked content"
I just did a diff of the latest versions of sequential-track-playback__t1.html and regular-playback-of-chunked-content__t2.html (see below).  There are a number of small differences and one big one, the observations array is empty in regular-playback-of-chunked-content__t2.html. Is this expected?
[code]

[2022-01-12 15:09] FritzHeiden commented on #73
Yes, this is intended. It's what's left from when we were still figuring out how communication between test runner and observation framework is supposed to work. Tests sent these observations to the OF, however, this is no longer the case.

[2022-01-12 15:10] jpiesing commented on #73
Is the observations array used at all? If not, can it be removed?

[2022-01-12 15:16] louaybassbouss commented on #73
@FritzHeiden  we can safely remove the observation array since we use the QR codes to communicate with the OF.

[2022-01-18 08:04] louaybassbouss commented on #58
@jpiesing  @yanj-github  we made a simple setup for running individual DPCTF tests via gh-pages for debugging/evaluation purposes without the need to setup the entire Test Runner. For example, these are the links for AC4 and EAC3 Sequential Track Playback tests. We sent these URLs to Dolby  (Pawel & Jan) and they are checking these 2 individual tests.

- AC4 Sequential Track Playback: https://cta-

[2022-01-18 08:35] mlasak commented on #58
Sure, i'm glad to help. The EAC3 url plays fine in Safari Version 15.2 (16612.3.6.1.8, 16612) on Big Sur 11.6.2 and noice is audible.
![image](https://user-images.githubusercontent.com/1204653/149898115-3d954555-47b1-46ae-90ce-39937818d8f7.png)

After 60s test ends and the result looks like this:
![image](https://user-images.githubusercontent.com/1204653/149899639-76eb1299-69fc-43df-932d-b177e629a

[2022-01-18 10:05] rbouqueau commented on #59
Content is updated. See https://cta-wave.github.io/Test-Content/.

[2022-01-18 13:56] FritzHeiden commented on #73
I removed observations array from all test files

[2022-01-18 16:30] yanj-github commented on #63
Thanks @gitwjr for the information.
Is it fine to conclude that this is a device specific issue in this case?
I will close this issue in this case. Any comments please?

[2022-01-24 15:47] louaybassbouss opened #74 "Add documentation for running tests for debug purposes without deploying the entire test runner"
[gh-pages](https://github.com/cta-wave/dpctf-tests/tree/github-pages) branch hosts a version of DPCTF tests that can executed without the need to setup a test runner. This is helpful for debugging and testing. We need to add documentation to the README how to use this feature.

[2022-01-24 16:32] louaybassbouss commented on #74
@jpiesing I added as discussed in the last meeting a documentation for running single tests from the gh-pages branch for debug purposes: https://github.com/cta-wave/dpctf-tests/blob/master/README.md#run-tests . Feel free to close this issue if you are happy with the documentation.

[2022-01-25 16:08] #63 closed

[2022-01-27 10:11] jpiesing commented on #74
Looks OK.

[2022-01-27 10:11] #74 closed

[2022-01-27 14:05] jpiesing commented on #73
Thanks. Closing.

[2022-01-27 14:05] #73 closed

[2022-01-27 14:05] jpiesing commented on #34
Closing as this is replaced by https://github.com/cta-wave/dpctf-tests/issues/56.

[2022-01-27 14:05] #34 closed

[2022-01-27 15:05] yanj-github opened #75 "Extend documentation for new tests"
Could you help to extend current documentation from
https://github.com/cta-wave/dpctf-tests#readme: **Templates**
https://github.com/cta-wave/dpctf-tests/blob/master/TEST_CONFIG.md: **Test Parameters**
to add test code and new parameters for the new tests (8.15 to 8.24) please?

This will help to unblock us so that we can start working on the observations for the new tests.

[2022-02-01 10:09] yanj-github commented on #75
**Test codes:**
source-buffer-reinitialization-without-change-type.html
source-buffer-reinitialization-with-change-type.html
buffer-underrun-and-recovery.html
truncated-playback-and-restart.html
long-duration-playback.html
low-latency-initialization.html
low-latency-playback-over-gaps.html
mse-append-window.html
low-latency-short-buffer-playback.html
random-access-from-one-place-to-a-different-pla

[2022-02-01 14:06] FritzHeiden commented on #75
I updated the readme's test list as well as the parameter documentation on the dpcat branch. Please note that the template files as well as the parameters may be changed, added or deleted, as the specification is still unfinished.

[2022-02-01 14:46] yanj-github commented on #75
Thanks @FritzHeiden that is fine as the spec is under development there will be some changes.

[2022-02-01 16:05] louaybassbouss commented on #75
@yanj-github  can we close this issue for now

[2022-02-01 17:11] #75 closed

[2022-02-04 11:44] yanj-github commented on #56
How about 30s for most of tests but swiching is 60s and splicing 60s mians stream and 30s ad?
This will be applicable to audio streams as well.

[2022-02-09 15:11] jpiesing opened #76 "Sequential Playback of Encrypted and Non-Encrypted Baseline Content missing from generated directory"
I may be missing something but it looks like the test "Sequential Playback of Encrypted and Non-Encrypted Baseline Content" (DPCTF 8.14) is missing from the generated directory.

[2022-02-09 15:14] louaybassbouss commented on #76
Thanks @jpiesing  we will check it

[2022-02-10 09:29] louaybassbouss opened #77 "include hbbtv.js script from WMAS test suite into DPCTF tests"
we need to  include the hbbtv.js lib from the WMAS test suite  (which checks the UA and do proper HbbTV initialisation if the test runs on HbbTV).

[2022-02-10 10:22] jpiesing commented on #56
That's close to my ideas.
![image](https://user-images.githubusercontent.com/8490792/153387201-a7bf491a-a1a4-497c-8926-b74e2e631a79.png)

[2022-02-10 16:09] yanj-github opened #78 "Issue to use “ended” status to determine the end of test"
As it has been agreed previously OF detects “ended” status to determine the end of test and make observations.
However, it will be a problem for the new added test 8.18 Truncated Playback and Restart
As this test will be presenting two presentation one after the other, “ended” status only tells the 1st presentation is ended but test is still carries on. Is it possible to have another status "finis

[2022-02-11 08:17] jpiesing opened #79 "stable target for other SDOs to reference"
We should consider making it cleaner for other SDOs to reference the WAVE device test suite, specifically having some kind of stable branch where changes happen in a more controlled manner.

As an example, the [HbbTV DASH-DRM reference app](https://github.com/HbbTV-Association/ReferenceApplication) has 3 standard [branches](https://github.com/HbbTV-Association/ReferenceApplication#versions), produ

[2022-02-11 08:26] jpiesing commented on #79
@pshorrock I've put this issue in the dpctf-tests repo but it probably applies to the OF and perhaps other repos as well.

[2022-02-14 11:06] FritzHeiden commented on #77
hbbtv.js lib is now included in the index.html file

[2022-02-14 11:45] louaybassbouss commented on #77
thanks @FritzHeiden

[2022-02-14 11:50] #77 closed

[2022-02-14 11:51] jpiesing commented on #77
@FritzHeiden @louaybassbouss Will you consider re-generating the actual HTML+JS tests?

[2022-02-14 12:13] louaybassbouss commented on #77
@jpiesing yes we will do it today together with missing tests from #76

[2022-02-14 12:42] jpiesing commented on #76
I've double checked.
Unless I've missed something, if I look at what you've generated, I believe t16 and t17 are not used at all?
If so then this is a bug in the spreadsheet.

[2022-02-14 13:33] louaybassbouss commented on #78
@yanj-github yes I confirm :)

[2022-02-14 15:01] jpiesing commented on #76
My fault.

[2022-02-15 13:23] jpiesing commented on #76
sequential track playback t16 and t17 are also missing from the generated directory.

[2022-02-15 13:24] jpiesing commented on #76
I just realised that while streams referencing t16 and t17 was my bug, the original problem remains.

[2022-02-15 16:36] jpiesing commented on #56
Feb 15th
Why is splicing so short? We agreed. Don't remember why.
If we increased the length of the splicing test to 30s we could use it for other tests without regenerating new streams.
Splicing main is not quite identical to t1 & has a special segment duration for splicing.
No problem for TP Vision to make a small number of 30s mezzanine.

[2022-02-15 16:39] rbouqueau commented on #56
@jpiesing Links regarding the splicing duration:

- https://github.com/cta-wave/mezzanine/issues/19#issuecomment-919247757
- constraints for perfect a/v cmaf fragments alignment: https://github.com/cta-wave/mezzanine/issues/40#issue-948883866

[2022-02-16 17:19] FritzHeiden commented on #78
There already is an event that communicates when a test finished, so I just update the QR code when the test is done.

[2022-02-18 09:39] jpiesing commented on #56
@rbouqueau @nicholas-fr @louaybassbouss @yanj-github Here is my proposal for reducing the test execution time.

1) Nicholas creates a 1920x1080 mezzanine stream with duration 30s. No other resolutions have a 30s mezzanine.
2) The current streams t1 to t17 inclusive (all of which are 1920x1080) are all re-encoded from this 30s mezzanine but otherwise unchanged.
3) Streams t20 onwards all remain at

[2022-02-23 14:50] jpiesing commented on #47
Now we have https://github.com/cta-wave/dpctf-tests/blob/stable/restricted-splicing-of-encrypted-content-https.html , can this issue be closed?

[2022-02-23 14:54] jpiesing commented on #22
Now we have https://github.com/cta-wave/dpctf-tests/blob/stable/generated/avc_12.5_25_50-local/playback-over-wave-baseline-splice-constraints__splice_main_splice_ad.html, can we close this issue?

[2022-02-24 14:50] abdulwahabEDT opened #80 "Status given by TR when "the successful appending of the first CMAF fragment""
For 8.19 test Low-Latency (1): Initialization, the observation framework needs to recieve a notification from TR when first CMAF fragment is appended. Is it possible to pre-define the "status" that would be reported on the TR QR code? We need this information beforehand to start implementing the observation logic.

[2022-03-02 14:33] yanj-github commented on #58
Both of the links work fine on my TV I can hear them playing the audio.

[2022-03-02 14:35] louaybassbouss commented on #58
Great can we close this issue ?

[2022-03-02 14:41] yanj-github commented on #58
Are the links exactly same as what TR plays the streams please? If there is no differences of full end to end I think we can close this issue.

[2022-03-07 10:33] yanj-github commented on #58
No further comments closing the issue.

[2022-03-07 10:33] #58 closed

[2022-03-07 10:35] yanj-github commented on #80
@FritzHeiden and @louaybassbouss This is not an immediate blocker but if we can agree the wording of the TR staus on QR code for this notification it would be helpful. Thanks.

[2022-03-21 14:05] abdulwahabEDT opened #81 "Missing parameters for updated DPCAT tests"
On trying to run Buffer underrun and recovery (8.17) test the test fails due to missing parameters in the test-config.json.

Missing parameters include tolerance, frame tolerance and waiting_duration. Updated test-config.json doesn't have a parameter configuration for this test.
For Low-Latency Short Buffer Playback (8.22) test the parameter ts_max is missing along with tolerance and frame toleran

[2022-03-21 15:01] louaybassbouss commented on #81
@abdulwahabEDT  can you provide default values for these parameters?

[2022-03-21 23:52] gitwjr commented on #81
@FritzHeiden @louaybassbouss Does this require any changes to 8..17/.22/.23 in the DPCAT 21 spec? They have been added to the DPCTF Spec from DPCAT 21. If there are changes let me know and I'll add them to the main spec once approved.

[2022-03-22 12:00] yanj-github commented on #81
@FritzHeiden Thanks for adding them.
I suggest it might be easiler to have
    "ts_max": 120,
    "tolerance": 20,
    "frame_tolerance": 2
in "all" section, as they have same value and applicable to all the tests.
But it is up to you, it is just a suggestion.

[2022-03-22 20:41] cta-source commented on #79
The DPCTF launch plan ad hoc has settled on a similar concept to HbbTV, that of dev/testing, staging and production. We're documenting this in our ad hoc summary PPT for now. The "stable target" goal of this issue will be met by a public repo that uses the github Releases feature. For an example, please see how the Releases are used in the OF: [Link to OF releases on github](https://github.com/cta

[2022-03-22 20:41] #79 closed

[2022-04-05 10:19] rbouqueau commented on #56
Do we have any agreement or progress here?

[2022-04-05 10:46] jpiesing commented on #56
Yes. We're waiting for @nicholas-fr to make the 30s mezzanine.

[2022-04-05 14:54] pmaness commented on #56
Can an we simply truncate what we have down to 30s or will something else change?

[2022-04-05 15:00] jpiesing commented on #56
I leave @cta-source to comment about the audio mezzanine.
For video (which is what I was referring to above), there's a single static frame at the beginning and end so no, it cannot just be truncated.

[2022-04-05 16:24] cta-source commented on #56
On the audio watermarking, there is code and content. On the code, as long as the test does not exceed the requested reference white noise file, the code is happy. So, for example, you can test 42.8 seconds of recorded audio against the reference PN01.WAV file, which 60s long, and the code is fine with that--it will test only 42.8s worth.

For the files, we did agree to create 30s and 60s versions

[2022-04-05 16:32] pmaness commented on #56
So, Mike, what you're saying is I can go ahead with the 60 second assets and they'll automatically be truncated in the test by the duration of the video? No need to prepare multiple sets of the PN0x streams?

Thanks,
Phil

____________________________________________________
Phillip Maness | Sr. Director, Corporate Standards and Strategy
Xperi Corp.

[xpe_logo_rgb_101]
www.xperi.com<http://www.xpe

[2022-04-05 18:40] jpiesing commented on #56
@pmaness I'm confused. 4 streams were uploaded as you can see here, 2 60s and 2 30s.

![image](https://user-images.githubusercontent.com/8490792/161823162-d31d8962-1801-4d7d-a573-4fdede864959.png)

Splicing tests aren't being done for audio & these are the ones that use the 60s sequences.
If anything, I think it is only the 30s ones that are needed.

[2022-04-05 21:47] pmaness commented on #56
@jpiesing I think we're good. I talked to @cta-source and I think it's best to do the full set for each codec, just in case. It's easier while I have resources focused on this. (6 month or a year from now, it might not be so easy)

[2022-04-06 12:35] louaybassbouss opened #82 "Design decisions / architecture documentation on tests & test runner"
Design decision of Test Runners and Tests already made

* The main design principles of all WAVE Test Runners and Tests including DPCTF are drawn from WPT which includes three main elements:
  - The Test Server
  - The Test implementations
  - The Test Harness Client
* All these concepts are adopted in the WAVE Test Runners, with following additional extensions. All these extensions are discussed,

[2022-04-18 16:57] javierbarellano4v commented on #82
@louaybassbouss  First of all, thanks for posting these notes.

This posting is part of effort to confirm details on the inner workings of DPC test suite:

1. Generally speaking if I need more details on Test Server and Test Harness Client I should consult W3C's documentation on WPT?

2. Can we safely say that:   a DPC test = Test Content + Instantiated HTML Template + JS ?

3. An instantiated HTM

[2022-04-22 10:35] abdulwahabEDT commented on #81
Thanks @FritzHeiden for adding them.

Closing this issue

[2022-04-22 10:35] #81 closed

[2022-04-22 10:37] abdulwahabEDT commented on #80
Thanks @FritzHeiden

[2022-04-22 10:37] #80 closed

[2022-04-22 18:12] jpiesing commented on #82
@louaybassbouss ?

That is my understanding but @louaybassbouss  needs to confirm.

Yes assuming what you mean by "Instantiated" is that the URLs for the Test Content are inserted in the original template.

Yes-ish subject to previous comment re "instantiated'. This is all what's included in the original (un-instantiated?) template and copied over unmodified into what I think you are calling the "

[2022-04-22 20:10] javierbarellano4v commented on #82
Thanks @jpiesing

I need to redefine my 'instantiated template' as a HTML5 template populated or bound with URLs for Test Content.

And, 'un-instantiated' template or original template, is a HTML5 containing logic for specific use case, e.g., sequential track playback, for type 3 playback not bound to particular test content.

Think its more accurate, right?

[2022-04-22 23:58] louaybassbouss commented on #82
Thanks @javierbarellano4v and @jpiesing sorry for delay I was on vacation I will reply in the next few hours to the comments, just landed in Vegas attending NAB.

[2022-04-23 15:45] louaybassbouss commented on #82
I can confirm

agree with @jpiesing

Yes the original un-instantiated template includes the test logic with placeholders for the URLs.

Exactly the top one with "WPT Server (Python)" (attached below) and this is merged into WPT.

![image](https://user-images.githubusercontent.com/1138409/164913122-7872d727-6402-4a90-8dac-a0f539b0e216.png)

[2022-04-25 14:46] nicholas-fr commented on #56
30 second mezzanine content has been uploaded here:
http://dash-large-files.akamaized.net/WAVE/Mezzanine/under_review/2022-04-21/

[2022-04-26 14:07] javierbarellano4v commented on #82
@louaybassbouss  Thanks, much appreciated!  My apology for not replying sooner I was out of town on travel as well.

I may have additional questions later. I'm presenting DPCTF internally and thus all my questions.

Enjoy NAB in Vegas!

Thank you.

[2022-06-10 21:08] #78 closed

[2022-06-13 10:59] yanj-github opened #83 "DPCAT - truncated-playback-and-restart__splice_main.html is not working"
The test plays 10 seconds and stopped and time-ed out.

[2022-06-15 21:18] yanj-github opened #84 "DPCAT - Parameters are missing from test-config.json file"
Please include all parameters that are stated on the spec 8.x.3:

- render_threshold for 8.19 Low-Latency (1): Initialization.
- mse_reset_tolerance  for 8.15 Source Buffer Re-Initialization (without changeType)
- gap_duration for 8.20 Low-Latency” Playback over Gaps

[2022-06-15 21:24] yanj-github opened #85 "DPCAT - incorrect contents are used"
The following tests are required to have Two CMAF Switching Sets  but only one is used.
- source-buffer-re-initialization-without-changetype
- source-buffer-re-initialization-with-changetype
- truncated-playback-and-restart

[2022-06-29 14:50] FritzHeiden commented on #84
As most of the missing parameters are only relevant for the OF, I don't know what default values would make sense. Therefore I would kindly ask you to provide me with sensible value for them

[2022-06-30 14:29] yanj-github commented on #84
gap_duration will be the duration of the gap in playback.

[2022-06-30 14:30] yanj-github commented on #84
The following two parameter values should be get agreed by the TG. We can raise it on next call.

- render_threshold for 8.19 Low-Latency (1): Initialization.
- mse_reset_tolerance for 8.15 Source Buffer Re-Initialization (without changeType)

[2022-07-07 05:52] rbouqueau commented on #56
I've regenerated the cfhd set, I'm uploading it.

However I have disabled the audio for now. I can generate some audio in the old fashion, or we have to add the json metadata to the audio file for it to be processed by the actual script.

[2022-07-18 12:18] louaybassbouss commented on #84
@jpiesing  please add this as priority issue in the next DPCTF Call. @yanj-github what is missing here are the default values for the three configuration parameters:

- render_threshold (used only by OF)

- mse_reset_tolerance (used only by OF)

- gap_duration (used by OF and TR).

[2022-07-19 11:26] jpiesing commented on #84
Something like 0.2s may be a good aspirational target. I fear some devices may want something more like 0.5s.
This should be considered an informed guess and I'm happy to hear other opinions.

Perhaps something like 300ms?
This should be considered an informed guess and I'm happy to hear other opinions.

I don't consider myself qualified to make an informed guess on this one.

[2022-07-19 15:00] louaybassbouss commented on #84
regarding `gap_duration`, default value according to spec is the `fragment_duration`, which is parsed from the MPD and provided to OF via tests.json.

[2022-07-20 15:56] FritzHeiden commented on #83
@yanj-github the test should now work as expected. Please try running it again and report any further issues

[2022-07-20 15:56] FritzHeiden commented on #85
@yanj-github the truncate test now uses the content as suggested by the specification.

[2022-08-04 14:44] yanj-github commented on #85
I think we agreed to use same test content as 8.8.
However thits test requires two switching sets.
I am not sure if we required to generate another test content which is similar to 8.8 or use 2 off same 8.8?

[2022-08-05 08:10] yanj-github commented on #83
Re the truncate test; "Two CMAF Switching Sets are available for playback. Both Switching Sets shall use the same codec settings in order to avoid resets of the MediaSource and SourceBuffer."

What is the suitable content to use?
I don't have any problem with using main and ad for this test from the point of observation framework.
However, I think it had been agreed to use same test content as 8.8

[2022-08-08 09:43] yanj-github opened #86 "DPCAT - local tests"
Would you please help creating new DPCAT tests that can run with local downloaded contents?
Online tests are not observable with OF due to network latency that I have got here on my network set up.

[2022-08-08 13:06] yanj-github commented on #83
I am still having problme to run this test. I can only see 1st presentation then the test was halted. Can you test it on your end see if it is working please?

[2022-08-08 16:16] yanj-github opened #87 "DPCAT - status event at the end of test and status event for truncated test"
I would like to get status event from test runner confirmed at the end of test so that OF can process it correctly.
What will be expected at the end of playback and at the end of the test on test runner?
Can you confirm the following please?

- For tests other than the truncated test, status will changes as follows:
playing - ended - finshed
- For truncated test, status will changes as follows:
pl

[2022-08-08 19:07] yanj-github opened #88 "DPCAT - random access from one place to a different place"
"random_access_from": 5,
"random_access_to": 30
So the presentation should render frames 1, 2, 3,..., 148, 149, 150, 901, 902, 903....., 1800. Can you confirm this is correct please?
I am expecting not to see frame number 151 and 152. However, the frame 151 and 152 are rendered.
It seems like the device issue but any anyone else confirm on another device?
Can you check on other device please?

[2022-08-09 08:19] yanj-github commented on #84
The required parameters need to be set otherwise it will block OF from observing the tests.
@louaybassbouss Jons suggestion seems reasonabile at this stage.  If nobody has any objection, can you define default value for the parameters as follows please?
- render_threshold: 200ms for 8.19 Low-Latency (1): Initialization.
- mse_reset_tolerance: 300ms for 8.15 Source Buffer Re-Initialization (without

[2022-08-09 17:25] javierbarellano4v opened #89 "Workflow to New Testcases"
In GitHub, in the Observation Framework README, there is some information how to support new testcases depending how much they diverge from existing tests.

But, in terms of the overall workflow to author new testcases, it appears the basic steps to create a new testcase, goes something like the following. I was hoping there was more detailed documentation:

Create the HTML5 file, i.e., template.

[2022-08-09 17:25] javierbarellano4v opened #90 "Workflow to Author New Testcases"
In GitHub, in the Observation Framework README, there is some information how to support new testcases depending how much they diverge from existing tests.

But, in terms of the overall workflow to author new testcases, it appears the basic steps to create a new testcase, goes something like the following. I was hoping there was more detailed documentation:

Create the HTML5 file, i.e., template.

[2022-08-10 07:40] louaybassbouss commented on #89
@javierbarellano4v  this is correct. Let me put some details in your list:

- Create the HTML5 test template file (includes HTML+JS) similar to [sequential-track-playback.html](https://github.com/cta-wave/dpctf-tests/blob/master/sequential-track-playback.html). The template file includes placeholders for parameters like URL to audio and/or video MPDs. These will be replaced with the actual URLs in

[2022-08-10 07:41] louaybassbouss commented on #90
@javierbarellano4v seems to be duplicate of #89 . Please refer to my comment in #89 .

[2022-08-10 09:17] yanj-github commented on #87
Checking the DPCAT branch of the most up to date code:

- For tests other than the truncated test, status will changes as follows from playing then straight to finshed without ended.
Is this what is expected please? I dont have objection but just need to confrim to make changes on OF accordingly.

- Unable to check for truncated test, test doesnt run till the end https://github.com/cta-wave/dpctf-

[2022-08-10 10:56] FritzHeiden commented on #83
I don't really understand. The test is using the same content as 8.8, which is two separate switching sets.

- second_playout: The playout parameter for the second switching set
- second_playout_switching_time: The play position at which to switch to the second switching set. Has to be smaller than total duration of the first switching set.

These parameters will be added to the spec aswell.

The

[2022-08-10 11:26] yanj-github commented on #83
@FritzHeiden In terms of the content I was trying to find out whether the 2 set of swithcing set shold be same duration or it can bee different. It sounds like the duration can be different. as it used seperate playout. I think this if fine with us.
I will check the test and will update you.

[2022-08-10 11:32] louaybassbouss commented on #88
@yanj-github according to spec, you are right you shall not see the frames 151 152. But we may need to change the spec and add tolerance here. The reason for this is that you cannot trigger the seek in the test in a frame accurate manner.

@jpiesing please add this for discussion in the next call

[2022-08-10 11:40] louaybassbouss commented on #87
@yanj-github the `finished` event is the last event fired to declare that the test is completed and the runner moves to the next test. Other events are fired by the underlying video element and since all tests waits until the content is played until the end, you should always see `ended` event before `finished`.

Please try the truncate test again after the fix in #83

[2022-08-10 11:41] louaybassbouss commented on #85
@yanj-github can we close this.

[2022-08-10 11:42] yanj-github commented on #87
Thanks @louaybassbouss currently I dont see ended event I will check it again withe the latest change.

[2022-08-10 11:48] yanj-github commented on #85
I am happy to close it assume that we are waiting to get right content for:

- source-buffer-re-initialization-without-changetype
- source-buffer-re-initialization-with-changetype

[2022-08-10 11:53] jpiesing commented on #85
We are waiting for some HEVC content for these two. They are currently de-prioritised for this reason.

[2022-08-10 11:56] yanj-github commented on #85
Thanks @jpiesing
It is fine to us, can you confirm for truncated-playback-and-restart test, splice_main and splice_ad are right streams to use please?

[2022-08-10 11:57] louaybassbouss commented on #85
ok lets keep it open for now until content is available and everything is tested

[2022-08-10 14:11] javierbarellano4v commented on #89
Perfect. This is very helpful.  Greatly appreciate expanding this list.

Yes, put into a new section. Absolutely!

Thank you.

[2022-08-10 15:35] FritzHeiden commented on #86
@yanj-github I renamed the dpcat test group to dpcat-online and added a new group dpcat-local with local content.

[2022-08-10 15:38] FritzHeiden commented on #84
I added the two parameters to the test-config.json.

[2022-08-12 13:02] yanj-github commented on #84
Thanks @FritzHeiden I can see both are defined as requested.

[2022-08-12 13:03] #84 closed

[2022-08-12 14:14] yanj-github opened #91 "stall_tolerance_margin for low_latency_playback_over_gaps.html is missing"
Can you add a missing parameter "stall_tolerance_margin" for test "low_latency_playback_over_gaps.html" please?

[2022-08-12 14:15] louaybassbouss commented on #91
what is the default value?

[2022-08-12 18:26] yanj-github commented on #91
I don't think I am qualified to define default value for this.
@jpiesing can you provide default values for this parameter please?
This will be used by OF to observe duration check with additional tolerance for this specific test.

[2022-08-12 18:27] jpiesing commented on #91
I have no idea and have no idea who would have any idea.

[2022-08-15 09:28] dsilhavy commented on #91
The problem is that most platforms will not reach `range.end(0)` and stall before. We introduced this parameter in dash.js:

[code]

I suggest to use `0.3` seconds for this test as well but in both directions. That way the stall event can be thrown either `0.3` seconds before `range.end(0)` or `0.3` seconds after `range.end(0)` was reached.

[2022-08-15 09:36] yanj-github commented on #91
I have run a quick check on one of my device. The stall is around 200ms before the range end, so I think 300ms sounds reasonable. Thanks @dsilhavy to point out stall can be in both directions.

[2022-08-15 09:38] louaybassbouss commented on #91
Thanks @dsilhavy, @FritzHeiden can you please add this parameter with 300ms as default value.

[2022-08-15 11:45] FritzHeiden commented on #91
@yanj-github The parameter is now included in the test-config.json

[2022-08-15 13:35] #90 closed

[2022-08-15 13:46] FritzHeiden commented on #89
I added the steps to the [README.md](https://github.com/cta-wave/dpctf-tests/blob/master/README.md#creating-new-tests)
@javierbarellano4v Please feel free to close this issue if it is solved

[2022-08-15 14:40] javierbarellano4v commented on #89
Thank you very much.  I will close.

[2022-08-15 14:40] #89 closed

[2022-08-15 14:42] yanj-github opened #92 "DPCAT - fault in mezzanine QR code"
The last mezzanine QR code reports 00:60:00 instead of 01:00:00.
I remember this issue has been corrected before but it seems the issue is back again.
Sorry to raise it here, but can you @louaybassbouss @rbouqueau @nicholas-fr help with this issue please?
OF won't take 00:60:00 as a valid time data.

[2022-08-15 14:42] #91 closed

[2022-08-15 14:43] yanj-github commented on #91
Thanks @FritzHeiden  and @louaybassbouss I can see the paramter is included.

[2022-08-15 14:45] louaybassbouss commented on #92
@yanj-github I propose to raise the issue in the mezzanine repo if the QR codes within the video content are affected. Or do you mean the QR codes generated by JavaScript?

[2022-08-15 14:48] yanj-github commented on #83
It is running fine and reached the end however the ended status report is missing.
Closing this issue we have seperate issue https://github.com/cta-wave/dpctf-tests/issues/87 to capture the point.

[2022-08-15 15:11] yanj-github commented on #92
raised on mezzanine repo https://github.com/cta-wave/mezzanine/issues/50

[2022-08-15 15:11] #92 closed

[2022-08-16 09:03] yanj-github commented on #88
@louaybassbouss and @dsilhavy I can see more frames rendered however are we expecting a tolerance in both directions?

[2022-08-16 11:02] yanj-github commented on #83
@FritzHeiden  Just wondering who will be adding these to spec? If you havent created issue I would suggest to create it so that these parameters can be added to to spec.

[2022-08-16 11:14] jpiesing commented on #88
I agree with a tolerance around frame 150 as the seek may not be triggered in a frame accurate manner.
It's important that there not be a tolerance around 901.
Also please can someone double check that 901 is in the middle of a GOP as that is what needs to be tested.

[2022-08-16 11:21] FritzHeiden commented on #83
I already handed them to @dsilhavy who will add them to the spec.

[2022-08-16 12:55] #83 closed

[2022-08-16 13:33] FritzHeiden commented on #87
@yanj-github Can you elaborate on how you are trying to receive these events? I used the events API and there I get playing, ended and completed events. For truncate test, there is only one ended event, as the first switching set does not play until the end.

[2022-08-16 13:42] yanj-github commented on #87
@FritzHeiden We would like to have a status signaled when 1st presentation finished such as "ended" and a different status signaled at the end of test which is "finished". Any problems please?

[2022-08-16 13:45] FritzHeiden commented on #87
Understood. I will implement an event for changing presentations/switching sets.

[2022-08-16 13:48] yanj-github commented on #87
Thank @FritzHeiden I just noticed there are addtional frames rendered between end do 1st presentation and starting of the 2nd one. Can you look at it together with this issue please?

[2022-08-17 07:52] yanj-github commented on #88
I would suggest to add a parameter to test-config.json
"random_access_from_tolerance" in ms what should be a defaul value please? Is 200ms resonable?

[2022-08-17 07:57] louaybassbouss commented on #88
For me is a reasonable value. if @jpiesing  agrees, then @FritzHeiden  `random_access_from_tolerance` can add it to json config.

PS: I will be from now until end of August in vacation, but @FritzHeiden (Tests/Test Runner) and @dsilhavy (Questions related to the spec) will be available.

[2022-08-17 11:35] jpiesing commented on #88
I agree.

[2022-08-17 12:19] yanj-github commented on #88
@louaybassbouss Do you think similar tolerance is required for truncated playback please?
"second_playout_switching_time": 5 but I noticed more frames rendered at then end of 1st preserntation before swithing to the 2nd.

[2022-08-17 12:29] FritzHeiden commented on #88
The test-config.json does now contain the new tolerance parameter

[2022-08-22 05:17] javierbarellano4v opened #93 "generating a new testcase"
While attempting to generate a new testcase using the Python script, the following occurred in a Windows Powershell:

![image](https://user-images.githubusercontent.com/97479879/185842990-e4febdbe-9caf-4e4f-8986-d44df7f183c8.png)

I downloaded the code from https://github.com/cta-wave/dpctf-tests and created a new template (html file) and a new text file with a single entry in CSV format:

    "my

[2022-08-22 09:01] #86 closed

[2022-08-23 12:45] FritzHeiden commented on #87
@yanj-github There is now a playback event of type 'representation_changed'

[2022-08-23 13:57] #88 closed

[2022-08-23 14:11] javierbarellano4v commented on #93
I was able to successfully generate a testcase and corresponding folder using the python script in a Linux VM (as opposed to creating in Windows OS).

Now, to check it out.

The generated HTML file references JS libraries, etc. not co-located with the generated HTML.

Unless you incorporate the HTML file(s) into the usual generated folder and an corresponding entry into the test CSV file, respecti

[2022-08-30 13:40] FritzHeiden commented on #93
What python version do you use? For me all the files are copied to the destination directory (lib)

[2022-08-31 15:49] yanj-github commented on #87
@louaybassbouss  and @dsilhavy as we now added "second_playout" and "second_playout_switching_time" the spec defined it not alien with these parameters anymore. Can any of you kinldy explain how we should see these to be rendered please?
Are we expecting the 1st representation at "second_playout_switching_time" then 2nd representation presented based on "second_playout" from frame 1 to the end of

[2022-09-02 11:59] yanj-github opened #94 "delay in "waiting" status report"
For buffer underun and Short Buffer Playback test OF relay on the waiting status reported to calculate playback duration match.
Therefore we assume the status report is accurate. However, we have noticed that the status is not reported on time.
There is a delay in reporting "waiting" status.

camera frame | content ID | media time | frame | frame rate | status | action | current time | delay
-- |

[2022-09-06 11:20] louaybassbouss commented on #94
@yanj-github we report the `waiting` status immediately after we receive the "waiting" event from the underlying video. If you notice a delay, most probably is caused by the UA agent.

[2022-09-06 11:26] louaybassbouss commented on #22
Yes closing

[2022-09-06 11:26] #22 closed

[2022-09-06 11:34] louaybassbouss commented on #76
@jpiesing I am reviewing old issues. According to your [Google Sheet](https://docs.google.com/spreadsheets/d/1hxbqBdJEEdVIDEkpjZ8f5kvbat_9VGxwFP77AXA_0Ao/edit#gid=0), t16 and t17 are only used in "8.6 Regular Playback of Chunked Content"  as "Optional for debugging only". Those tests are in the generated folder. Is still something missing here or we can close this issue?

[2022-09-06 12:38] FritzHeiden opened #95 "Merge DPCAT into master branch"
From our side, the dpcat branch reached a state which is stable enough to merge it into the master branch.
@yanj-github Do you have any issues with the dpcat tests that would speak against this, or are you fine with that?

[2022-09-06 12:52] yanj-github commented on #95
@FritzHeiden There is still an open issue for turncated test otherwise others (7 tests that they are in scope) are fine.
I guess they can be merged if you are happy to make fixes to main any further changed if required.

[2022-09-06 12:56] yanj-github commented on #94
Thanks @louaybassbouss to confrim the "waiting" event gets reported promptly.
As I only tested on one device it might be a device issue then.
Happy to close it, @louaybassbouss are you fine with it please?

[2022-09-06 13:12] #94 closed

[2022-09-28 11:14] FritzHeiden commented on #87
I can confirm this. There seems to be an issue with the import script. Will work on a fix

[2022-10-10 14:46] FritzHeiden commented on #87
@yanj-github I pushed a fix to the dpctf-tests repository. You should now see the event.

[2022-10-12 13:21] yanj-github commented on #87
@FritzHeiden  I still cannot see this event I can see playing then waiting then buffering playing...
The contents presented are 0-5 seconds 1st conent and then it on hold at frame 1 of 1st conent and play 1st content from frame 1-5 then it changed content play the 2nd content from 2 seconds to 5 seconds.
Also I noticed that I am unable to run local test online tests are fine.

[2022-10-18 11:08] FritzHeiden commented on #87
@yanj-github Did you rebuild the image with `--reload-tests` and `--tests-branch dpcat` ?

[2022-10-18 11:30] yanj-github commented on #87
Yes I did, I have removed everything and did a clean set up.
Have you checked on your end please? It can be device issue as well.

[2022-10-18 11:58] FritzHeiden commented on #87
Just rebuilt the image and I can see the event

![image](https://user-images.githubusercontent.com/9076000/196423170-ed5bc74c-6bda-406b-899c-38b561ac2ac7.png)

[2022-10-18 14:14] yanj-github commented on #87
Thanks @FritzHeiden I will try on different device.

[2022-10-24 15:36] yanj-github commented on #87
@FritzHeiden  I have noticed the locol test doesnt work I am unable to set up to run on device with online access. Can you kindly help to fix local tests please? Then I will be able to test this on a TV with different browser.
Just an update I have tried this on both firefox and chorme I cannot see the event. I have tried a clean build as well.
... ...
889,,,,,playing,play,4.932455,12,,
890,A1,524

[2022-11-07 08:55] yanj-github commented on #87
@louaybassbouss  and @FritzHeiden is there any update to this ticket please?

[2022-11-08 15:45] FritzHeiden commented on #87
I cannot confirm this, everything works fine for me.

I noticed you need the event in the QR code. The event I implemented uses the events API. I already implemented the event in the QR code, however, a regression with another test still blocks me from pushing the update.

[2022-11-08 16:25] gitwjr commented on #52
Nicholas will check with Thomas on this and see if it can be closed.

[2022-11-08 16:28] gitwjr commented on #53
@rbouqueau check to see if Romain updated the readme and if that closes this issue.

[2022-11-08 16:34] gitwjr commented on #56
Done. Closed.

[2022-11-08 16:34] #56 closed

[2022-11-08 16:36] gitwjr commented on #59
Closed. Reopen if needed.

[2022-11-08 16:36] #59 closed

[2022-11-08 16:37] gitwjr commented on #76
Fixed. Closed.

[2022-11-08 16:44] gitwjr commented on #85
Keep open until final content is created/tested.

[2022-11-08 16:48] gitwjr commented on #93
@javierbarellano4v
Please provide an update on this issue.

[2022-11-08 16:49] gitwjr commented on #95
Waiting for resolution to Truncated Test.

[2022-11-08 16:56] rbouqueau commented on #53
Yes, both the feature and the README are now ok. I'm closing this issue.

[2022-11-08 16:56] rbouqueau commented on #53
PS: it seems I don't have the rights to close the issue, please someone make it for me! Thx

[2022-11-08 19:40] gitwjr commented on #38
Call on 11/8/22: Can defer if not completed for Launch.

[2022-11-08 19:42] gitwjr commented on #53
Both the features and the README are now OK.

[2022-11-08 19:42] #53 closed

[2022-11-14 04:24] javierbarellano4v commented on #93
Fixed my problem. Please close issue.

[2022-11-14 04:25] javierbarellano4v commented on #82
This is resolved. Please close issue

[2022-11-14 06:58] #93 closed

[2022-11-14 06:58] #82 closed

[2022-11-14 16:16] FritzHeiden commented on #87
@yanj-github I pushed the update now. Please check if everything works for you

[2022-11-14 16:35] FritzHeiden commented on #54
I added a list of known bugs, including this one [here](https://github.com/cta-wave/dpctf-tests#known-bugs)

[2022-11-16 16:54] yanj-github commented on #87
Thanks @FritzHeiden for the quick manual check I can see event action = representation_changed. I will do some further investigate on OF later. I will close this issue when checks done on OF, I will keep it posted.

[2022-11-18 13:44] yanj-github commented on #87
Action detected is "representation_change" not "representation_changed" which is fine with me.
Closing this issue now.

[2022-11-18 13:44] #87 closed

[2022-11-22 15:09] louaybassbouss commented on #47
Thanks @jpiesing  yes this can be closed.

[2022-11-22 15:09] #47 closed

[2022-11-22 15:16] louaybassbouss opened #96 "Run Test Content 2022-10-17"
We ran the tests with the new test content from 2022-10-17 generated by @rbouqueau. Everything looks good except the following 2 points:

- [ss1 14.985_29.97_59.94](https://dash.akamaized.net/WAVE/vectors/cfhd_sets/14.985_29.97_59.94/ss1/2022-10-17/stream.mpd):
Video fails to load:
GET https://dash.akamaized.net/WAVE/vectors/cfhd_sets/14.985_29.97_59.94/ss1/2022-10-17/cfhd_sets/15_30_60/t19/0.m4s

[2022-11-22 15:41] nicholas-fr commented on #96
There is also this issue https://github.com/cta-wave/Test-Content-Generation/issues/56 related to the ss1 zip structure.

[2022-11-22 16:27] rbouqueau commented on #96
Where did you get that URL from? I can't find it in [database.json](https://cta-wave.github.io/Test-Content/database.json).

Structure and content of the zip files are wrong

@louaybassbouss Could you detail what is wrong?

I see things like these, which seems correct to me:

[code]

Ok, not implemented yet. I would plan to do it when the next version is generated.

[2022-11-22 19:57] gitwjr commented on #38
Deferred unless it becomes ready for the current launch.

[2022-11-23 13:12] jpiesing commented on #96
@louaybassbouss  Please can you respond to @rbouqueau ? I really want to get this version to Eurofins and then the next iteration made.

[2022-11-23 13:59] rbouqueau commented on #96
Ok, several things.

There are two WAVE media profiles that we use here: ```cfhd``` and ```chdf```. ```chdf``` only contains ```t20```. We used to not (and not be able) differentiate them, but now we do (https://github.com/cta-wave/Test-Content-Generation/issues/52).

As you may know, the folder structure has changed. So these contents (belonging to two different media profiles) now belongs to unr

[2022-11-30 08:52] jpiesing commented on #96
@FritzHeiden @louaybassbouss Ping? Please bring an update on this to the DPCTF meeting later today.

[2022-11-30 14:13] FritzHeiden commented on #96
Let me try to rephrase my problem:

Usually, online content and local content have the same structure. For example:

Online:
[code]

Local:
[code]

However, with the ss1 content the online contents path does not match any of the local contents MPDs:

Online:
[code]

Local:
[code]

Neither of the MPDs names match, and for the second MPD there is t20 instead of ss1 in the path. Which MPD should be u

[2022-11-30 14:30] jpiesing commented on #96
@rbouqueau @FritzHeiden hopefully we can resolve this today and start moving forwards again.

[2022-11-30 15:25] rbouqueau commented on #96
I've removed the reference to ```stream3.mpd``` (from a previous discussion we had) both on the database and the server. From now on, just consider ```stream.mpd```. ```stream3.mpd``` is not needed anymore in the last release.

As for the folder tree... Quite some time ago, I asked if we should either 1) point to the content or 2) copy it. I was answer to copy it (i.e. 2)). Rationale: useful conte